flows/AccountTeamMemberforUW.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssignMedicalUW</name>
        <label>AssignMedicalUW</label>
        <locationX>796</locationX>
        <locationY>426</locationY>
        <assignmentItems>
            <assignToReference>UWDetailsVar.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccTeamMemMedVar.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateUWOwner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignUWOwner</name>
        <label>AssignUWOwner</label>
        <locationX>817</locationX>
        <locationY>60</locationY>
        <assignmentItems>
            <assignToReference>UWDetailsVar.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccTeamMemVar.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateUWOwner</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>DentalConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Dental UW</stringValue>
        </value>
    </constants>
    <constants>
        <name>SitusStateCA</name>
        <dataType>String</dataType>
        <value>
            <stringValue>California</stringValue>
        </value>
    </constants>
    <constants>
        <name>UWConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Underwriter</stringValue>
        </value>
    </constants>
    <decisions>
        <name>IfOwnerExist</name>
        <label>IfOwnerExist</label>
        <locationX>638</locationX>
        <locationY>51</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccTeamMemVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignUWOwner</targetReference>
            </connector>
            <label>yes</label>
        </rules>
        <rules>
            <name>no</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccTeamMemVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UWDetailsVar.Underwriting_Type_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DentalConstant</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UWDetailsVar.Situs_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SitusStateCA</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAccountTeamMemberMedical</targetReference>
            </connector>
            <label>no</label>
        </rules>
    </decisions>
    <decisions>
        <name>MedRecordsFound</name>
        <label>MedRecordsFound</label>
        <locationX>608</locationX>
        <locationY>365</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccTeamMemMedVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignMedicalUW</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>Updates the Underwriter owner if the associated Account team has a team member with underwriter role.</description>
    <interviewLabel>AccountTeamMember {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AccountTeamMemberforUW</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAccountTeamMemberMedical</name>
        <label>GetAccTeamMemMedRole</label>
        <locationX>215</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MedRecordsFound</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjectId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UWConstant</elementReference>
            </value>
        </filters>
        <object>AccountTeamMember</object>
        <outputReference>AccTeamMemMedVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserId</queriedFields>
        <queriedFields>TeamMemberRole</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetAccTeamMemUWRole</name>
        <label>GetAccTeamMemUWRole</label>
        <locationX>318</locationX>
        <locationY>24</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IfOwnerExist</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjectId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UWDetailsVar.Underwriting_Type_Formula__c</elementReference>
            </value>
        </filters>
        <object>AccountTeamMember</object>
        <outputReference>AccTeamMemVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>UserId</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetUWDetails</name>
        <label>GetUWDetails</label>
        <locationX>201</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAccTeamMemUWRole</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjectUWId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Underwriting_Details_Applicable__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </filters>
        <object>Underwriting__c</object>
        <outputReference>UWDetailsVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Underwriting_Type_Formula__c</queriedFields>
        <queriedFields>Situs_State__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateUWOwner</name>
        <label>UpdateUWOwner</label>
        <locationX>1076</locationX>
        <locationY>87</locationY>
        <inputReference>UWDetailsVar</inputReference>
    </recordUpdates>
    <startElementReference>GetUWDetails</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccTeamMemMedVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>AccTeamMemVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>sObjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sObjectUWId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UWDetailsVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Underwriting__c</objectType>
    </variables>
</Flow>
