flows/CollateralPledgedLTV.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_PE</name>
        <label>Assign PE</label>
        <locationX>75</locationX>
        <locationY>438</locationY>
        <assignmentItems>
            <assignToReference>PolicyException.LLC_BI__Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>004</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PolicyException.LLC_BI__Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PolicyException.LLC_BI__Severity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MinorContstant</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PolicyException.LLC_BI__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CollateralConstant</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PolicyException.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CollateralLTVPolicyExceptionName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PolicyException.LLC_BI__Relationship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan.LLC_BI__Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_PE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EndThisFlow</name>
        <label>EndThisFlow</label>
        <locationX>360</locationX>
        <locationY>228</locationY>
        <assignmentItems>
            <assignToReference>EndFlow</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>CollateralConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Collateral</stringValue>
        </value>
    </constants>
    <constants>
        <name>CollateralLTVPolicyExceptionName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Collateral Pledged LTV Exceeds Lendable Value</stringValue>
        </value>
    </constants>
    <constants>
        <name>MinorContstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Minor</stringValue>
        </value>
    </constants>
    <decisions>
        <name>PolicyExceptionCreationDecision</name>
        <label>PolicyExceptionCreationDecision</label>
        <locationX>71</locationX>
        <locationY>239</locationY>
        <defaultConnector>
            <targetReference>EndThisFlow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>AddLoanPolicyException</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loan.LLC_BI__Current_LTV__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>150.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PE</targetReference>
            </connector>
            <label>AddLoanPolicyException</label>
        </rules>
    </decisions>
    <interviewLabel>CollateralPledgedLTV {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CollateralPledgedLTV</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetLoanLTV</name>
        <label>GetLoanLTV</label>
        <locationX>80</locationX>
        <locationY>23</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PolicyExceptionCreationDecision</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Loan__c</object>
        <outputReference>Loan</outputReference>
        <queriedFields>LLC_BI__Current_LTV__c</queriedFields>
        <queriedFields>LLC_BI__Amount__c</queriedFields>
        <queriedFields>LLC_BI__Total_Superior_Lien_Amount__c</queriedFields>
        <queriedFields>LLC_BI__Total_Collateral_Value__c</queriedFields>
        <queriedFields>LLC_BI__Principal_Balance__c</queriedFields>
        <queriedFields>LLC_BI__Account__c</queriedFields>
    </recordLookups>
    <startElementReference>GetLoanLTV</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Insert_PE</name>
        <label>Insert PE</label>
        <locationX>72</locationX>
        <locationY>563</locationY>
        <flowName>InsertPolicyExceptionUnique</flowName>
        <inputAssignments>
            <name>inPolicyException</name>
            <value>
                <elementReference>PolicyException</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Accounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountsFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CollateralPledged</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan_Collateral2__c</objectType>
    </variables>
    <variables>
        <name>CollateralPledgedCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Loan_Collateral2__c</objectType>
    </variables>
    <variables>
        <name>CollateralPledgedPolicyExceptions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Loan_Collateral2__c</objectType>
    </variables>
    <variables>
        <name>EndFlow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>includeBorrowers</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>includeCoBorrowers</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>includeGrantors</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>includeGuarantors</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LegalEntities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Legal_Entities__c</objectType>
    </variables>
    <variables>
        <name>LegalEntity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Legal_Entities__c</objectType>
    </variables>
    <variables>
        <name>Lein</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Lien__c</objectType>
    </variables>
    <variables>
        <name>LeinCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Lien__c</objectType>
    </variables>
    <variables>
        <name>Loan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
    <variables>
        <name>LoanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OneHunderedFifty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>150.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Percentage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>PolicyException</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Policy_Exception__c</objectType>
    </variables>
    <variables>
        <name>TestVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TotalLeinAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalLeinAmount2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalValueRemaining</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
