flows/CollateralPledged.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssignCollateralId</name>
        <label>AssignCollateralId</label>
        <locationX>380</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>CurrentCollateralId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collateral.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PolicyExceptionDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Make_Policy_Exception</name>
        <label>Make Policy Exception</label>
        <locationX>664</locationX>
        <locationY>179</locationY>
        <assignmentItems>
            <assignToReference>PolicyException.LLC_BI__Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Code1Constant</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PolicyException.LLC_BI__Collateral_Mgmt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collateral.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PolicyException.LLC_BI__Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PolicyException.LLC_BI__Severity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MinorConstant</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PolicyException.LLC_BI__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CollateralConstant</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PolicyException.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PolicyExceptionName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PolicyException.LLC_BI__Relationship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan.LLC_BI__Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_PE</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Code1Constant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>001</stringValue>
        </value>
    </constants>
    <constants>
        <name>CollateralConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Collateral</stringValue>
        </value>
    </constants>
    <constants>
        <name>MinorConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Minor</stringValue>
        </value>
    </constants>
    <constants>
        <name>PolicyExceptionName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Collateral Pledged Exceeds the Advanced Rate</stringValue>
        </value>
    </constants>
    <decisions>
        <name>HaveCheckedCollateral</name>
        <label>HaveCheckedCollateral</label>
        <locationX>243</locationX>
        <locationY>437</locationY>
        <defaultConnector>
            <targetReference>Collateral_Pledged_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>HaveNotCheckedCurrentCollateral</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentCollateralId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Collateral.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignCollateralId</targetReference>
            </connector>
            <label>HaveNotCheckedCurrentCollateral</label>
        </rules>
    </decisions>
    <decisions>
        <name>PolicyExceptionDecision</name>
        <label>PolicyExceptionDecision</label>
        <locationX>761</locationX>
        <locationY>460</locationY>
        <defaultConnector>
            <targetReference>Collateral_Pledged_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>AddPolicyException</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Collateral.LLC_BI__Remaining_Lendable_Value__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getLoanAccount</targetReference>
            </connector>
            <label>AddPolicyException</label>
        </rules>
    </decisions>
    <interviewLabel>CollateralPledged {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CollateralPledged</label>
    <loops>
        <name>Collateral_Pledged_Loop</name>
        <label>Collateral Pledged Loop</label>
        <locationX>40</locationX>
        <locationY>190</locationY>
        <assignNextValueToReference>CollateralPledged</assignNextValueToReference>
        <collectionReference>CollateralPledgedCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CollateralLookUp</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>CollateralLookUp</name>
        <label>CollateralLookUp</label>
        <locationX>46</locationX>
        <locationY>437</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HaveCheckedCollateral</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CollateralPledged.LLC_BI__Collateral__c</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Collateral__c</object>
        <outputReference>Collateral</outputReference>
        <queriedFields>LLC_BI__Remaining_Lendable_Value__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Collateral_Pledged</name>
        <label>Get Collateral Pledged</label>
        <locationX>40</locationX>
        <locationY>40</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collateral_Pledged_Loop</targetReference>
        </connector>
        <filters>
            <field>LLC_BI__Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Loan_Collateral2__c</object>
        <outputReference>CollateralPledgedCollection</outputReference>
        <queriedFields>LLC_BI__Collateral__c</queriedFields>
        <sortField>LLC_BI__Collateral__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>getLoanAccount</name>
        <label>getLoanAccount</label>
        <locationX>913</locationX>
        <locationY>241</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Make_Policy_Exception</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Loan__c</object>
        <outputReference>Loan</outputReference>
        <queriedFields>LLC_BI__Account__c</queriedFields>
    </recordLookups>
    <startElementReference>Get_Collateral_Pledged</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Insert_PE</name>
        <label>Insert PE</label>
        <locationX>387</locationX>
        <locationY>124</locationY>
        <connector>
            <targetReference>Collateral_Pledged_Loop</targetReference>
        </connector>
        <flowName>InsertPolicyExceptionUnique</flowName>
        <inputAssignments>
            <name>inPolicyException</name>
            <value>
                <elementReference>PolicyException</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Accounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountsFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Collateral</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Collateral__c</objectType>
    </variables>
    <variables>
        <name>CollateralCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Collateral__c</objectType>
    </variables>
    <variables>
        <name>CollateralPledged</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan_Collateral2__c</objectType>
    </variables>
    <variables>
        <name>CollateralPledgedCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Loan_Collateral2__c</objectType>
    </variables>
    <variables>
        <name>CollateralPledgedPolicyExceptions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Loan_Collateral2__c</objectType>
    </variables>
    <variables>
        <name>CurrentCollateralId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>includeBorrowers</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>includeCoBorrowers</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>includeGrantors</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>includeGuarantors</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LegalEntities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Legal_Entities__c</objectType>
    </variables>
    <variables>
        <name>LegalEntity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Legal_Entities__c</objectType>
    </variables>
    <variables>
        <name>Loan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
    <variables>
        <name>LoanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PolicyException</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Policy_Exception__c</objectType>
    </variables>
    <variables>
        <name>Result</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
