flows/Compensation_Estimator_Persistency.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assignment</name>
        <label>Assignment</label>
        <locationX>263</locationX>
        <locationY>473</locationY>
        <assignmentItems>
            <assignToReference>PercentageTarget</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarLoop.Target_Payout__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>TotalPersistencyBonus</name>
        <dataType>Currency</dataType>
        <expression>IF (  OR(  ISNULL( {!varPersistencyGoal}), ISBLANK(  {!varPersistencyGoal})), 0, 
IF (  {!varActualPersistency} = 1,  {!varRenewalTargetBonus}*2.5,

{!VarLoop.Target_Payout__c}*{!varRenewalTargetBonus}))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Compensation Estimator Persistency {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Compensation Estimator Persistency</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>259</locationX>
        <locationY>289</locationY>
        <assignNextValueToReference>VarLoop</assignNextValueToReference>
        <collectionReference>ColVarCompensationPersistencyMetaData</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assignment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GeMetaData</name>
        <label>GeMetaData</label>
        <locationX>253</locationX>
        <locationY>131</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <filters>
            <field>Goal_Attained_Max__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>AboveBelowGoal</elementReference>
            </value>
        </filters>
        <filters>
            <field>Goal_Attained_Min__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>AboveBelowGoal</elementReference>
            </value>
        </filters>
        <object>Commissions_Estimator_Persistency__mdt</object>
        <outputReference>ColVarCompensationPersistencyMetaData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Goal_Attained_Max__c</queriedFields>
        <queriedFields>Goal_Attained_Min__c</queriedFields>
        <queriedFields>Target_Payout__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update</name>
        <label>Update</label>
        <locationX>511</locationX>
        <locationY>208</locationY>
        <filters>
            <field>Actual_Persistency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varActualPersistency</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarCompensationGoalId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Medical_Renewal_Target_Commission__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRenewalTargetBonus</elementReference>
            </value>
        </filters>
        <filters>
            <field>Persistency_Goal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPersistencyGoal</elementReference>
            </value>
        </filters>
        <filters>
            <field>above_or_below_goal_del_del__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AboveBelowGoal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Percentage_of_Target_Payout__c</field>
            <value>
                <elementReference>VarLoop.Target_Payout__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Persistency_Bonus_Payment__c</field>
            <value>
                <elementReference>TotalPersistencyBonus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Persistency_Renewal_Medical_Comm_Changed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Compensation_Estimator_Goal__c</object>
    </recordUpdates>
    <startElementReference>GeMetaData</startElementReference>
    <status>Active</status>
    <variables>
        <name>AboveBelowGoal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ColVarCompensationPersistencyMetaData</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Commissions_Estimator_Persistency__mdt</objectType>
    </variables>
    <variables>
        <name>PercentageTarget</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varActualPersistency</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>VarCompensationGoalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Commissions_Estimator_Persistency__mdt</objectType>
    </variables>
    <variables>
        <name>varPersistencyGoal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varRenewalTargetBonus</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
