flows/CPAcollectedStatements.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_PE</name>
        <label>Assign PE</label>
        <locationX>967</locationX>
        <locationY>346</locationY>
        <assignmentItems>
            <assignToReference>PolicyException.LLC_BI__Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>003</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PolicyException.LLC_BI__Loan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LegalEntity.LLC_BI__Loan__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PolicyException.LLC_BI__Severity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriticalConstant</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PolicyException.LLC_BI__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RegulatoryConstant</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PolicyException.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateRegulatoryPolicyExceptionName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PolicyException.LLC_BI__Relationship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LegalEntity.LLC_BI__Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_PE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignLegalEntity</name>
        <label>assignLegalEntity</label>
        <locationX>250</locationX>
        <locationY>161</locationY>
        <assignmentItems>
            <assignToReference>LegalEntity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inLegalEntity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetLoan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EndThisFlow</name>
        <label>EndThisFlow</label>
        <locationX>492</locationX>
        <locationY>318</locationY>
        <assignmentItems>
            <assignToReference>EndFlow</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>CPAAudit</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CPA Audit</stringValue>
        </value>
    </constants>
    <constants>
        <name>CreateRegulatoryPolicyExceptionName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Financial reporting does not comply with policy</stringValue>
        </value>
    </constants>
    <constants>
        <name>CriticalConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Critical</stringValue>
        </value>
    </constants>
    <constants>
        <name>RegulatoryConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Regulatory</stringValue>
        </value>
    </constants>
    <decisions>
        <name>AmountOver250000</name>
        <label>AmountOver250000</label>
        <locationX>22</locationX>
        <locationY>325</locationY>
        <defaultConnector>
            <targetReference>EndThisFlow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>over250000</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loan.LLC_BI__Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>AmountThreshold</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getUnderwritingBundle</targetReference>
            </connector>
            <label>over250000</label>
        </rules>
    </decisions>
    <decisions>
        <name>businessType</name>
        <label>businessType</label>
        <locationX>33</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>GetStatemntTemplateBus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isBusiness</defaultConnectorLabel>
        <rules>
            <name>isIndividual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LegalEntity.LLC_BI__Entity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>individual</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetStatementPeriodInd</targetReference>
            </connector>
            <label>isIndividual</label>
        </rules>
        <rules>
            <name>isNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>underwritingBundle</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EndThisFlow</targetReference>
            </connector>
            <label>isNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkinsertedPE</name>
        <label>checkinsertedPE</label>
        <locationX>723</locationX>
        <locationY>178</locationY>
        <defaultConnector>
            <targetReference>EndThisFlow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>didNotInsertPE</defaultConnectorLabel>
        <rules>
            <name>didInsertPE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>insertedPE</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>didInsertPE</label>
        </rules>
    </decisions>
    <decisions>
        <name>isStatemntTypeSourceCPA</name>
        <label>isStatemntTypeSourceCPA</label>
        <locationX>968</locationX>
        <locationY>567</locationY>
        <defaultConnector>
            <targetReference>Assign_PE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>statementTypeSourceISCPA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StatementPeriodIndividual.LLC_BI__Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CPAAudit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EndThisFlow</targetReference>
            </connector>
            <label>statementTypeSourceISCPA</label>
        </rules>
    </decisions>
    <decisions>
        <name>isStatmentTempateNull</name>
        <label>isStatmentTempateNull</label>
        <locationX>468</locationX>
        <locationY>570</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>StatementTemplateNotNull</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>StatementTemplate.LLC_BI__Is_Personal_Financial_Statement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>boolTrueNum</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StatementTemplate.LLC_BI__Is_Balance_Sheet__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>boolTrueNum</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetStatementPeriod</targetReference>
            </connector>
            <label>StatementTemplateNotNull</label>
        </rules>
    </decisions>
    <interviewLabel>CPAcollectedStatements {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CPAcollectedStatements</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetLoan</name>
        <label>GetLoan</label>
        <locationX>22</locationX>
        <locationY>162</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AmountOver250000</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LegalEntity.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Loan__c</object>
        <outputReference>Loan</outputReference>
        <queriedFields>LLC_BI__Underwriting_Summary__c</queriedFields>
        <queriedFields>LLC_BI__Account__c</queriedFields>
        <queriedFields>LLC_BI__Amount__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetStatementPeriod</name>
        <label>GetStatementPeriod</label>
        <locationX>766</locationX>
        <locationY>569</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isStatemntTypeSourceCPA</targetReference>
        </connector>
        <filters>
            <field>LLC_BI__Spread_Statement_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StatementTemplate.Id</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Spread_Statement_Period__c</object>
        <outputReference>StatementPeriodIndividual</outputReference>
        <queriedFields>LLC_BI__Source__c</queriedFields>
        <queriedFields>LLC_BI__Spread_Statement_Type__c</queriedFields>
        <queriedFields>LLC_BI__Statement_Date__c</queriedFields>
        <sortField>LLC_BI__Statement_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetStatementPeriodInd</name>
        <label>GetStatementPeriodInd</label>
        <locationX>301</locationX>
        <locationY>502</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isStatmentTempateNull</targetReference>
        </connector>
        <filters>
            <field>LLC_BI__Bundle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>underwritingBundle.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Is_Personal_Financial_Statement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>boolTrueNum</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Spread_Statement_Type__c</object>
        <outputReference>StatementTemplate</outputReference>
        <queriedFields>LLC_BI__Is_Personal_Financial_Statement__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__Type__c</queriedFields>
        <queriedFields>LLC_BI__Is_Balance_Sheet__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetStatemntTemplateBus</name>
        <label>GetStatemntTemplateBus</label>
        <locationX>305</locationX>
        <locationY>658</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isStatmentTempateNull</targetReference>
        </connector>
        <filters>
            <field>LLC_BI__Bundle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>underwritingBundle.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Is_Balance_Sheet__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>boolTrueNum</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Spread_Statement_Type__c</object>
        <outputReference>StatementTemplate</outputReference>
        <queriedFields>LLC_BI__Type__c</queriedFields>
        <queriedFields>LLC_BI__Is_Balance_Sheet__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__Is_Personal_Financial_Statement__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getUnderwritingBundle</name>
        <label>getUnderwritingBundle</label>
        <locationX>27</locationX>
        <locationY>451</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>businessType</targetReference>
        </connector>
        <filters>
            <field>LLC_BI__Is_Disabled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Relationship__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LegalEntity.LLC_BI__Account__c</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Underwriting_Bundle__c</object>
        <outputReference>underwritingBundle</outputReference>
        <queriedFields>LLC_BI__Relationship__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>assignLegalEntity</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Insert_PE</name>
        <label>Insert PE</label>
        <locationX>970</locationX>
        <locationY>180</locationY>
        <connector>
            <targetReference>checkinsertedPE</targetReference>
        </connector>
        <flowName>InsertPolicyExceptionUnique</flowName>
        <inputAssignments>
            <name>inPolicyException</name>
            <value>
                <elementReference>PolicyException</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>insertedPE</assignToReference>
            <name>outDidInsert</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AmountThreshold</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>250000.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>boolTrueNum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>borrower</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Borrower</stringValue>
        </value>
    </variables>
    <variables>
        <name>EndFlow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>individual</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Individual</stringValue>
        </value>
    </variables>
    <variables>
        <name>inLegalEntity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Legal_Entities__c</objectType>
    </variables>
    <variables>
        <name>insertedPE</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LegalEntity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Legal_Entities__c</objectType>
    </variables>
    <variables>
        <name>Loan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
    <variables>
        <name>LoanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PolicyException</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Policy_Exception__c</objectType>
    </variables>
    <variables>
        <name>spread</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Spread__c</objectType>
    </variables>
    <variables>
        <name>StatementPeriodBusiness</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Spread_Statement_Period__c</objectType>
    </variables>
    <variables>
        <name>StatementPeriodIndividual</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Spread_Statement_Period__c</objectType>
    </variables>
    <variables>
        <name>StatementTemplate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Spread_Statement_Type__c</objectType>
    </variables>
    <variables>
        <name>StatementTypeCheck</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>exitsHere</stringValue>
        </value>
    </variables>
    <variables>
        <name>underwritingBundle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Underwriting_Bundle__c</objectType>
    </variables>
</Flow>
