flows/Create_Broker_Loan.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <dynamicChoiceSets>
        <name>picklistChoiceBorrowerType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LLC_BI__Borrower_Type__c</picklistField>
        <picklistObject>LLC_BI__Legal_Entities__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Create Broker Loan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Broker Loan</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Entity_Involvement</name>
        <label>Entity Involvement</label>
        <locationX>542</locationX>
        <locationY>34</locationY>
        <inputAssignments>
            <field>LLC_BI__Account__c</field>
            <value>
                <elementReference>relationshipID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Borrower_Type__c</field>
            <value>
                <elementReference>screenBorrowerType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Loan__c</field>
            <value>
                <elementReference>loanID</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Legal_Entities__c</object>
    </recordCreates>
    <recordCreates>
        <name>Loan</name>
        <label>Loan</label>
        <locationX>381</locationX>
        <locationY>36</locationY>
        <assignRecordIdToReference>loanID</assignRecordIdToReference>
        <connector>
            <targetReference>Entity_Involvement</targetReference>
        </connector>
        <inputAssignments>
            <field>LLC_BI__Amount__c</field>
            <value>
                <elementReference>screenLoanAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Product_Line__c</field>
            <value>
                <elementReference>productLineValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Product_Reference__c</field>
            <value>
                <elementReference>productReferenceID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Product_Type__c</field>
            <value>
                <elementReference>productTypeValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Product__c</field>
            <value>
                <elementReference>productValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>screenLoanName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unique_Flow_Identifier__c</field>
            <value>
                <elementReference>uniqueID</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Loan__c</object>
    </recordCreates>
    <recordLookups>
        <name>Product_Reference</name>
        <label>Product Reference</label>
        <locationX>215</locationX>
        <locationY>37</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loan</targetReference>
        </connector>
        <filters>
            <field>LLC_BI__Product_Line_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productLineValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Product_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productTypeValue</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productValue</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Product__c</object>
        <outputAssignments>
            <assignToReference>productReferenceID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Create_Loan</name>
        <label>Create Loan</label>
        <locationX>46</locationX>
        <locationY>39</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Product_Reference</targetReference>
        </connector>
        <fields>
            <name>screenLoanName</name>
            <dataType>String</dataType>
            <fieldText>Loan Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>screenBorrowerType</name>
            <choiceReferences>picklistChoiceBorrowerType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Borrower Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>screenLoanAmount</name>
            <dataType>Currency</dataType>
            <fieldText>Loan Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>productPicklists</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>LLC_BI__Loan__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>LLC_BI__Product_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>LLC_BI__Product_Line__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomPicklistApiName</name>
                <value>
                    <stringValue>LLC_BI__Product__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Product Line</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Product Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomLabel</name>
                <value>
                    <stringValue>Product</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>productLineValue</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>productTypeValue</assignToReference>
                <name>middleValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>productValue</assignToReference>
                <name>bottomValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Create_Loan</startElementReference>
    <status>Active</status>
    <variables>
        <name>loanID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>productLineValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>productReferenceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>productTypeValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>productValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>relationshipID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>uniqueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
