flows/Credit_Pass_Review.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Is_Review_False</name>
        <label>Is_Review_False</label>
        <locationX>438</locationX>
        <locationY>329</locationY>
        <assignmentItems>
            <assignToReference>isReview</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Is_Review_True</name>
        <label>Is_Review_True</label>
        <locationX>214</locationX>
        <locationY>479</locationY>
        <assignmentItems>
            <assignToReference>isReview</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>DEFAULT</name>
        <label>DEFAULT</label>
        <locationX>54</locationX>
        <locationY>56</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>REMOVE_DEFAULT_DECISION</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isReview</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Credit_Report_Lookup</targetReference>
            </connector>
            <label>REMOVE_DEFAULT_DECISION</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Alert</name>
        <label>Has_Alert</label>
        <locationX>214</locationX>
        <locationY>329</locationY>
        <defaultConnector>
            <targetReference>Is_Review_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE</defaultConnectorLabel>
        <rules>
            <name>TRUE</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>report.nFUSE__Fraud_Alert__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>report.nFUSE__OFAC_Alert_Indicator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Review_True</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <interviewLabel>Credit Pass Review {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Credit Pass Review</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Credit_Report_Lookup</name>
        <label>Credit_Report_Lookup</label>
        <locationX>214</locationX>
        <locationY>201</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Alert</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>reportId</elementReference>
            </value>
        </filters>
        <object>nFUSE__Credit_Report__c</object>
        <outputReference>report</outputReference>
        <queriedFields>nFUSE__Credit_Score__c</queriedFields>
        <queriedFields>nFUSE__Fraud_Alert__c</queriedFields>
        <queriedFields>nFUSE__OFAC_Alert_Indicator__c</queriedFields>
    </recordLookups>
    <startElementReference>DEFAULT</startElementReference>
    <status>Active</status>
    <variables>
        <name>isReview</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>report</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>nFUSE__Credit_Report__c</objectType>
    </variables>
    <variables>
        <name>reportId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
