flows/Display_Offers.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_Unapproved_Collection</name>
        <label>Add to Unapproved Collection</label>
        <locationX>1024</locationX>
        <locationY>312</locationY>
        <assignmentItems>
            <assignToReference>UnapprovedPricingOptions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PricingOption</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UnapprovedCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_PO_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Approved_to_False</name>
        <label>Set Approved to False</label>
        <locationX>1402</locationX>
        <locationY>784</locationY>
        <assignmentItems>
            <assignToReference>pricingOptionsApproved</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Approved_to_False_0</name>
        <label>Set Approved to False</label>
        <locationX>606</locationX>
        <locationY>646</locationY>
        <assignmentItems>
            <assignToReference>pricingOptionsApproved</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Approved_to_True</name>
        <label>Set Approved to True</label>
        <locationX>938</locationX>
        <locationY>781</locationY>
        <assignmentItems>
            <assignToReference>pricingOptionsApproved</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Approved_to_True_0</name>
        <label>Set Approved to True</label>
        <locationX>130</locationX>
        <locationY>645</locationY>
        <assignmentItems>
            <assignToReference>pricingOptionsApproved</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Total_Count</name>
        <label>Set Total Count</label>
        <locationX>1025</locationX>
        <locationY>164</locationY>
        <assignmentItems>
            <assignToReference>TotalCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_PO_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetMaxDTI</name>
        <label>SetMaxDTI</label>
        <locationX>357</locationX>
        <locationY>20</locationY>
        <assignmentItems>
            <assignToReference>MaxDTIRatio</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>35.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Pricing_Options</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_DTI</name>
        <label>Check DTI</label>
        <locationX>1303</locationX>
        <locationY>169</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Above_Max_DTI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PricingOption.nRetail__DTI__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>MaxDTIRatio</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Unapproved_Collection</targetReference>
            </connector>
            <label>Above Max DTI</label>
        </rules>
        <rules>
            <name>Below_Max_DTI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PricingOption.nRetail__DTI__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MaxDTIRatio</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Total_Count</targetReference>
            </connector>
            <label>Below Max DTI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Approved_Pricing_Options</name>
        <label>Check for Approved Pricing Options</label>
        <locationX>1167</locationX>
        <locationY>562</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Total_count_not_equal_to_Deleted_count</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalCounter</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>UnapprovedCounter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Approved_to_True</targetReference>
            </connector>
            <label>Total count not equal to Deleted count</label>
        </rules>
        <rules>
            <name>Total_Count_equals_Deleted_Count</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UnapprovedCounter</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Approved_to_False</targetReference>
            </connector>
            <label>Total Count equals Deleted Count</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Approved_Pricing_Options_0</name>
        <label>Check for Any Approved Pricing Options</label>
        <locationX>356</locationX>
        <locationY>421</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Approved_Pricing_Options_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Approved_to_True_0</targetReference>
            </connector>
            <label>Approved Pricing Options Found</label>
        </rules>
        <rules>
            <name>No_Approved_Pricing_Options_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Approved_to_False_0</targetReference>
            </connector>
            <label>No Approved Pricing Options Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Records_to_Delete</name>
        <label>Check for Records to Delete</label>
        <locationX>741</locationX>
        <locationY>418</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Found_records_to_delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UnapprovedCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Unapproved</targetReference>
            </connector>
            <label>Found records to delete</label>
        </rules>
        <rules>
            <name>No_records_to_Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UnapprovedCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Approved_Pricing_Options_0</targetReference>
            </connector>
            <label>No records to Delete</label>
        </rules>
    </decisions>
    <interviewLabel>Display Offers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Display_Offers</label>
    <loops>
        <name>For_Each_PO_0_0</name>
        <label>For Each PO</label>
        <locationX>740</locationX>
        <locationY>162</locationY>
        <assignNextValueToReference>PricingOption</assignNextValueToReference>
        <collectionReference>DefaultPricingOptions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Temp_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_Records_to_Delete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Unapproved</name>
        <label>Delete Unapproved</label>
        <locationX>1167</locationX>
        <locationY>420</locationY>
        <connector>
            <targetReference>Check_for_Approved_Pricing_Options</targetReference>
        </connector>
        <inputReference>UnapprovedPricingOptions</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Pricing_Options</name>
        <label>Get Pricing Options</label>
        <locationX>356</locationX>
        <locationY>162</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_PO_0_0</targetReference>
        </connector>
        <filters>
            <field>nRetail__Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loanId</elementReference>
            </value>
        </filters>
        <object>nRetail__Pricing_Option__c</object>
        <outputReference>DefaultPricingOptions</outputReference>
    </recordLookups>
    <recordLookups>
        <name>Set_Temp_Collection</name>
        <label>Set Temp Collection</label>
        <locationX>1023</locationX>
        <locationY>22</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_DTI</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PricingOption.Id</elementReference>
            </value>
        </filters>
        <object>nRetail__Pricing_Option__c</object>
        <outputAssignments>
            <assignToReference>PricingOption.nRetail__DTI__c</assignToReference>
            <field>nRetail__DTI__c</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>SetMaxDTI</startElementReference>
    <status>Active</status>
    <variables>
        <name>ApprovedCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>DefaultPricingOptions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>nRetail__Pricing_Option__c</objectType>
    </variables>
    <variables>
        <description>The Id of the Loan</description>
        <name>loanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>a1r41000000fMOt</stringValue>
        </value>
    </variables>
    <variables>
        <description>The max allowed DTI</description>
        <name>MaxDTIRatio</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>PricingOption</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>nRetail__Pricing_Option__c</objectType>
    </variables>
    <variables>
        <name>pricingOptionsApproved</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TempPricingOptions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>nRetail__Pricing_Option__c</objectType>
    </variables>
    <variables>
        <name>TotalCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UnapprovedCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UnapprovedPricingOptions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>nRetail__Pricing_Option__c</objectType>
    </variables>
</Flow>
