flows/DSR_Email_Notification.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Digital_Resource_Assignment_Customer</name>
        <label>Send Digital Resource Assignment</label>
        <locationX>860</locationX>
        <locationY>272</locationY>
        <actionName>SendHTMLEmail</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>HTMLbody</name>
            <value>
                <elementReference>EmailNotificationBodyRFP</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>Digital Support Assignment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisOneEmailAddress</name>
            <value>
                <elementReference>GetDSAssignment.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderDisplayName</name>
            <value>
                <stringValue>Digital Support Team</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Digital_Resource_Assignment_RFP</name>
        <label>Send Digital Resource Assignment</label>
        <locationX>861</locationX>
        <locationY>49</locationY>
        <actionName>SendHTMLEmail</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>HTMLbody</name>
            <value>
                <elementReference>EmailNotificationBodyRFP</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <stringValue>Digital Support Assignment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisOneEmailAddress</name>
            <value>
                <elementReference>GetDSAssignment.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderDisplayName</name>
            <value>
                <stringValue>Digital Support Team</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>DSR_Type_Decision</name>
        <label>DSR Type Decision</label>
        <locationX>589</locationX>
        <locationY>157</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RFP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_DSR.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0123I00000007rhQAA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Digital_Resource_Assignment_RFP</targetReference>
            </connector>
            <label>RFP</label>
        </rules>
        <rules>
            <name>Customer_Meeting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_DSR.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0123I00000007reQAA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Digital_Resource_Assignment_Customer</targetReference>
            </connector>
            <label>Customer Meeting</label>
        </rules>
    </decisions>
    <interviewLabel>DSR Email Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DSR Email Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_DSR</name>
        <label>Get DSR</label>
        <locationX>230</locationX>
        <locationY>155</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetDSAssignment</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DSRequestid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Digital_Support_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDSAssignment</name>
        <label>GetDSAssignment</label>
        <locationX>414</locationX>
        <locationY>155</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DSR_Type_Decision</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Digital_Resource__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>155</locationY>
        <connector>
            <targetReference>Get_DSR</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailNotificationBodyCustomerMeeting</name>
        <text>&lt;p&gt;Hi {!GetDSAssignment.Assignee_First_Name__c},&lt;/p&gt;&lt;p&gt;Please find enclosed details of a Digital Support Request, to which you have been assigned.  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Account Type:  &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_DSR.Record_Type_Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Potential Opportunity Size:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Get_DSR.Potential_Opportunity_Size__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Date of Meeting:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Get_DSR.Date_of_Meeting__c}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Meeting Location:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Get_DSR.Location_of_Meeting__c}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Provide the pain points in customer&apos;s claims:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Get_DSR.What_does_data_tell_us_about_pain_points__c}&lt;/p&gt;&lt;p&gt;Has there already been a determination of specific digital capabilities to be shared in this meeting?&lt;/p&gt;&lt;p&gt;{!Get_DSR.What_are_client_areas_of_interest__c}&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Additional Notes or Information:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!Get_DSR.Additional_Notes_or_Information__c}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailNotificationBodyRFP</name>
        <text>&lt;p&gt;Hi {!GetDSAssignment.Resource_First_Name__c},&lt;/p&gt;&lt;p&gt;Please find enclosed details of a Digital Support Request, to which you have been assigned.  &lt;/p&gt;&lt;p&gt;&lt;b&gt;Account:   &lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_DSR.Account_Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Account Type:  &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_DSR.Record_Type_Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;&lt;u&gt;Type of Support Needed:&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!Get_DSR.Type_of_Support_Requested__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;﻿RFP Team Engaged?&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!Get_DSR.RFP_Proposal_Team__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Potential Opportunity Size:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Get_DSR.Potential_Opportunity_Size__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;RFP/RFI Due Date:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Get_DSR.Due_Date__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Provide a summary of the RFP primary ask:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Get_DSR.Summary_of_Primary_Ask__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Has there already been a determination of specific digital capabilities for this RFP/RFI response?&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Get_DSR.Specific_Capabilities_Discussed_for_RFP__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Additional Notes or Information:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!Get_DSR.Additional_Notes_or_Information__c}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>DSRequestid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
