flows/EUSR_Notification_Tree.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>New_Support_Request_has_been_Submitted</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>ANA Notification</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Support_Request__c.New_Support_Request_has_been_Submitted</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>New_Support_Request_LG1</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Email LG1</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>Support_Request__c.New_Support_Request_LG1</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision4</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>New_Support_Request_LG2</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Email LG2</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>Support_Request__c.New_Support_Request_LG2</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision6</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>New_Support_Request_LG3</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Email LG3</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <actionName>Support_Request__c.New_Support_Request_LG3</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision8</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>New_Support_Request_LG4</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Email LG4</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <actionName>Support_Request__c.New_Support_Request_LG4</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>National Accounts</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>LG Central</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>LG West</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>LG East</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>LG Other</label>
        </rules>
    </decisions>
    <description>Sends Emails to EUS depending on Entity</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>INCLUDES([Support_Request__c].WellPoint_Entity__c, &quot;National Accounts&quot;) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>INCLUDES({!myVariable_current.WellPoint_Entity__c}, &quot;National Accounts&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>INCLUDES([Support_Request__c].WellPoint_Entity__c, &quot;Missouri&quot;) || 
INCLUDES([Support_Request__c].WellPoint_Entity__c, &quot;Kentucky&quot;) || 
INCLUDES([Support_Request__c].WellPoint_Entity__c, &quot;Indiana&quot;) || 
INCLUDES([Support_Request__c].WellPoint_Entity__c, &quot;Ohio&quot;) || 
INCLUDES([Support_Request__c].WellPoint_Entity__c, &quot;Wisconsin&quot;) || 
INCLUDES([Support_Request__c].WellPoint_Entity__c, &quot;Georgia&quot;) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>INCLUDES({!myVariable_current.WellPoint_Entity__c}, &quot;Missouri&quot;) || 
INCLUDES({!myVariable_current.WellPoint_Entity__c}, &quot;Kentucky&quot;) || 
INCLUDES({!myVariable_current.WellPoint_Entity__c}, &quot;Indiana&quot;) || 
INCLUDES({!myVariable_current.WellPoint_Entity__c}, &quot;Ohio&quot;) || 
INCLUDES({!myVariable_current.WellPoint_Entity__c}, &quot;Wisconsin&quot;) || 
INCLUDES({!myVariable_current.WellPoint_Entity__c}, &quot;Georgia&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>INCLUDES([Support_Request__c].WellPoint_Entity__c, &quot;California&quot;) || 
INCLUDES([Support_Request__c].WellPoint_Entity__c, &quot;Colorado&quot;) || 
INCLUDES([Support_Request__c].WellPoint_Entity__c, &quot;Nevada&quot;) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>INCLUDES({!myVariable_current.WellPoint_Entity__c}, &quot;California&quot;) || 
INCLUDES({!myVariable_current.WellPoint_Entity__c}, &quot;Colorado&quot;) || 
INCLUDES({!myVariable_current.WellPoint_Entity__c}, &quot;Nevada&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>INCLUDES([Support_Request__c].WellPoint_Entity__c, &quot;New York&quot;) || 
INCLUDES([Support_Request__c].WellPoint_Entity__c, &quot;Maine&quot;) || 
INCLUDES([Support_Request__c].WellPoint_Entity__c, &quot;Connecticut&quot;) || 
INCLUDES([Support_Request__c].WellPoint_Entity__c, &quot;New Hampshire&quot;) || 
INCLUDES([Support_Request__c].WellPoint_Entity__c, &quot;Virginia&quot;) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>INCLUDES({!myVariable_current.WellPoint_Entity__c}, &quot;New York&quot;) || 
INCLUDES({!myVariable_current.WellPoint_Entity__c}, &quot;Maine&quot;) || 
INCLUDES({!myVariable_current.WellPoint_Entity__c}, &quot;Connecticut&quot;) || 
INCLUDES({!myVariable_current.WellPoint_Entity__c}, &quot;New Hampshire&quot;) || 
INCLUDES({!myVariable_current.WellPoint_Entity__c}, &quot;Virginia&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>INCLUDES([Support_Request__c].WellPoint_Entity__c, &quot;Specialty&quot;) || 
INCLUDES([Support_Request__c].WellPoint_Entity__c, &quot;Pharmacy&quot;) || 
INCLUDES([Support_Request__c].WellPoint_Entity__c, &quot;Labor Accounts&quot;) || 
INCLUDES([Support_Request__c].WellPoint_Entity__c, &quot;GRS&quot;) || 
INCLUDES([Support_Request__c].WellPoint_Entity__c, &quot;IT&amp; Account Management&quot;) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>INCLUDES({!myVariable_current.WellPoint_Entity__c}, &quot;Specialty&quot;) || 
INCLUDES({!myVariable_current.WellPoint_Entity__c}, &quot;Pharmacy&quot;) || 
INCLUDES({!myVariable_current.WellPoint_Entity__c}, &quot;Labor Accounts&quot;) || 
INCLUDES({!myVariable_current.WellPoint_Entity__c}, &quot;GRS&quot;) || 
INCLUDES({!myVariable_current.WellPoint_Entity__c}, &quot;IT&amp; Account Management&quot;)</expression>
    </formulas>
    <interviewLabel>EUSR_Notification_Tree-3_InterviewLabel</interviewLabel>
    <label>EUSR Notification Tree</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Support_Request__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Support_Request__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Support_Request__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
