flows/IDCardPrints.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>CleanVariables</name>
        <label>CleanVariables</label>
        <locationX>1257</locationX>
        <locationY>48</locationY>
        <assignmentItems>
            <assignToReference>P1GS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NULLVAR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>P1GSR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NULLVAR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>P2GS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NULLVAR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>P2GSR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NULLVAR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>P3GS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NULLVAR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>P3GSR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NULLVAR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>P4GS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NULLVAR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>P4GSR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NULLVAR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>P5GS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NULLVAR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>P5GSR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NULLVAR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Done</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>None</name>
        <choiceText>-None-</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <description>Check to see if there is a P1 Record</description>
        <name>Is_P1_Populated</name>
        <label>Is P1 Populated</label>
        <locationX>84</locationX>
        <locationY>342</locationY>
        <defaultConnector>
            <targetReference>Create_P1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>P1GS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>P1GSR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_P2_Populated</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if there is a P2 Record</description>
        <name>Is_P2_Populated</name>
        <label>Is P2 Populated</label>
        <locationX>227</locationX>
        <locationY>513</locationY>
        <defaultConnector>
            <targetReference>Create_P2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>P2GS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>P2GSR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_P3_Populated</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if there is a P3 Record</description>
        <name>Is_P3_Populated</name>
        <label>Is P3 Populated</label>
        <locationX>713</locationX>
        <locationY>625</locationY>
        <defaultConnector>
            <targetReference>Create_P3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>P3GS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>P3GSR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_P4_Populated_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if there is a P4 Record</description>
        <name>Is_P4_Populated_0</name>
        <label>Is P4 Populated</label>
        <locationX>865</locationX>
        <locationY>461</locationY>
        <defaultConnector>
            <targetReference>Create_P4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>P4GS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>P4GSR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_P5_Populated</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if there is a P4 Record</description>
        <name>Is_P5_Populated</name>
        <label>Is P5 Populated</label>
        <locationX>1174</locationX>
        <locationY>321</locationY>
        <defaultConnector>
            <targetReference>Create_P5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>P5GS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>P5GSR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CleanVariables</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>GSChoices</name>
        <dataType>String</dataType>
        <displayField>GSNameDesc__c</displayField>
        <filters>
            <field>ICTIDGS__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ICTrackID</elementReference>
            </value>
        </filters>
        <object>Group_Services__c</object>
        <outputAssignments>
            <assignToReference>P1GS</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>GSNameDesc__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>GSNameDesc__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GSChoices2</name>
        <dataType>String</dataType>
        <displayField>GSNameDesc__c</displayField>
        <filters>
            <field>ICTIDGS__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ICTrackID</elementReference>
            </value>
        </filters>
        <object>Group_Services__c</object>
        <outputAssignments>
            <assignToReference>P2GS</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>GSNameDesc__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>GSNameDesc__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GSChoices3</name>
        <dataType>String</dataType>
        <displayField>GSNameDesc__c</displayField>
        <filters>
            <field>ICTIDGS__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ICTrackID</elementReference>
            </value>
        </filters>
        <object>Group_Services__c</object>
        <outputAssignments>
            <assignToReference>P3GS</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>GSNameDesc__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>GSNameDesc__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GSChoices4</name>
        <dataType>String</dataType>
        <displayField>GSNameDesc__c</displayField>
        <filters>
            <field>ICTIDGS__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ICTrackID</elementReference>
            </value>
        </filters>
        <object>Group_Services__c</object>
        <outputAssignments>
            <assignToReference>P4GS</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>GSNameDesc__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>GSNameDesc__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GSChoices5</name>
        <dataType>String</dataType>
        <displayField>GSNameDesc__c</displayField>
        <filters>
            <field>ICTIDGS__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ICTrackID</elementReference>
            </value>
        </filters>
        <object>Group_Services__c</object>
        <outputAssignments>
            <assignToReference>P5GS</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>GSNameDesc__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>GSNameDesc__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GSRChoices</name>
        <dataType>String</dataType>
        <displayField>GSRNameDesc__c</displayField>
        <filters>
            <field>ICTIDGSR__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ICTrackID</elementReference>
            </value>
        </filters>
        <object>Group_Services_Repeatable__c</object>
        <outputAssignments>
            <assignToReference>P1GSR</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>GSRNameDesc__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>GSRNameDesc__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GSRChoices2</name>
        <dataType>String</dataType>
        <displayField>GSRNameDesc__c</displayField>
        <filters>
            <field>ICTIDGSR__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ICTrackID</elementReference>
            </value>
        </filters>
        <object>Group_Services_Repeatable__c</object>
        <outputAssignments>
            <assignToReference>P2GSR</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>GSRNameDesc__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>GSRNameDesc__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GSRChoices3</name>
        <dataType>String</dataType>
        <displayField>GSRNameDesc__c</displayField>
        <filters>
            <field>ICTIDGSR__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ICTrackID</elementReference>
            </value>
        </filters>
        <object>Group_Services_Repeatable__c</object>
        <outputAssignments>
            <assignToReference>P3GSR</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>GSRNameDesc__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>GSRNameDesc__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GSRChoices4</name>
        <dataType>String</dataType>
        <displayField>GSRNameDesc__c</displayField>
        <filters>
            <field>ICTIDGSR__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ICTrackID</elementReference>
            </value>
        </filters>
        <object>Group_Services_Repeatable__c</object>
        <outputAssignments>
            <assignToReference>P4GSR</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>GSRNameDesc__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>GSRNameDesc__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GSRChoices5</name>
        <dataType>String</dataType>
        <displayField>GSRNameDesc__c</displayField>
        <filters>
            <field>ICTIDGSR__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ICTrackID</elementReference>
            </value>
        </filters>
        <object>Group_Services_Repeatable__c</object>
        <outputAssignments>
            <assignToReference>P5GSR</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>GSRNameDesc__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>GSRNameDesc__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>IDCardPrints {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IDCardPrints</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_P1</name>
        <label>Create P1</label>
        <locationX>336</locationX>
        <locationY>301</locationY>
        <connector>
            <targetReference>Is_P2_Populated</targetReference>
        </connector>
        <inputAssignments>
            <field>Group_Services_Master__c</field>
            <value>
                <elementReference>P1GS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Group_Services_Repeatable__c</field>
            <value>
                <elementReference>P1GSR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ID_Cards_Master__c</field>
            <value>
                <elementReference>IDCardsID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Print_Number__c</field>
            <value>
                <stringValue>Print 1</stringValue>
            </value>
        </inputAssignments>
        <object>ID_Cards_Prints__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_P2</name>
        <label>Create P2</label>
        <locationX>391</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Is_P3_Populated</targetReference>
        </connector>
        <inputAssignments>
            <field>Group_Services_Master__c</field>
            <value>
                <elementReference>P2GS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Group_Services_Repeatable__c</field>
            <value>
                <elementReference>P2GSR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ID_Cards_Master__c</field>
            <value>
                <elementReference>IDCardsID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Print_Number__c</field>
            <value>
                <stringValue>Print 2</stringValue>
            </value>
        </inputAssignments>
        <object>ID_Cards_Prints__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_P3</name>
        <label>Create P3</label>
        <locationX>656</locationX>
        <locationY>416</locationY>
        <connector>
            <targetReference>Is_P4_Populated_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Group_Services_Master__c</field>
            <value>
                <elementReference>P3GS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Group_Services_Repeatable__c</field>
            <value>
                <elementReference>P3GSR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ID_Cards_Master__c</field>
            <value>
                <elementReference>IDCardsID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Print_Number__c</field>
            <value>
                <stringValue>Print 3</stringValue>
            </value>
        </inputAssignments>
        <object>ID_Cards_Prints__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_P4</name>
        <label>Create P4</label>
        <locationX>887</locationX>
        <locationY>306</locationY>
        <connector>
            <targetReference>Is_P5_Populated</targetReference>
        </connector>
        <inputAssignments>
            <field>Group_Services_Master__c</field>
            <value>
                <elementReference>P4GS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Group_Services_Repeatable__c</field>
            <value>
                <elementReference>P4GSR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ID_Cards_Master__c</field>
            <value>
                <elementReference>IDCardsID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Print_Number__c</field>
            <value>
                <stringValue>Print 4</stringValue>
            </value>
        </inputAssignments>
        <object>ID_Cards_Prints__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_P5</name>
        <label>Create P5</label>
        <locationX>1103</locationX>
        <locationY>76</locationY>
        <connector>
            <targetReference>CleanVariables</targetReference>
        </connector>
        <inputAssignments>
            <field>Group_Services_Master__c</field>
            <value>
                <elementReference>P5GS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Group_Services_Repeatable__c</field>
            <value>
                <elementReference>P5GSR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ID_Cards_Master__c</field>
            <value>
                <elementReference>IDCardsID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Print_Number__c</field>
            <value>
                <stringValue>Print 5</stringValue>
            </value>
        </inputAssignments>
        <object>ID_Cards_Prints__c</object>
    </recordCreates>
    <screens>
        <name>All_Done</name>
        <label>All Done</label>
        <locationX>703</locationX>
        <locationY>56</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Thanks</name>
            <fieldText>&lt;p&gt;Thank you! Links created. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Link_P1_to_P5</name>
        <label>Link P1 to P5</label>
        <locationX>58</locationX>
        <locationY>187</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_P1_Populated</targetReference>
        </connector>
        <fields>
            <name>P1_Group_Services</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>GSChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>P1 Group Services</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;Select the Group Services record you want to link P1 to&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>P1_Group_Services_Repeatable</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>GSRChoices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>P1 Group Services Repeatable</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;Select the Group Services Repeatable record you want to link P1 to&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>P2_Group_Services</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>GSChoices2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>P2 Group Services</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Select the Group Services record you want to link P2 to&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>P2_Group_Services_Repeatable</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>GSRChoices2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>P2 Group Services Repeatable</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Select the Group Services Repeatable record you want to link P2 to&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>P3_Group_Services</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>GSChoices3</choiceReferences>
            <dataType>String</dataType>
            <fieldText>P3 Group Services</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Select the Group Services record you want to link P3 to&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>P3_Group_Services_Repeatable</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>GSRChoices3</choiceReferences>
            <dataType>String</dataType>
            <fieldText>P3 Group Services Repeatable</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Select the Group Services Repeatable record you want to link P3 to&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>P4_Group_Services</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>GSChoices4</choiceReferences>
            <dataType>String</dataType>
            <fieldText>P4 Group Services</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Select the Group Services record you want to link P4 to&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>P4_Group_Services_Repeatable</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>GSRChoices4</choiceReferences>
            <dataType>String</dataType>
            <fieldText>P4 Group Services Repeatable</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Select the Group Services Repeatable record you want to link P4 to&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>P5_Group_Services</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>GSChoices5</choiceReferences>
            <dataType>String</dataType>
            <fieldText>P5 Group Services</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Select the Group Services record you want to link P5 to&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>P5_Group_Services_Repeatable</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>GSRChoices5</choiceReferences>
            <dataType>String</dataType>
            <fieldText>P5 Group Services Repeatable</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Select the Group Services Repeatable record you want to link P5 to&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <helpText>&lt;p&gt;Select the Group Services Record you want to link P1 to&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Link_P1_to_P5</startElementReference>
    <status>Active</status>
    <variables>
        <name>ICTrackID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IDCardsID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IDCPrints</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ID_Cards_Prints__c</objectType>
    </variables>
    <variables>
        <name>NULLVAR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>P1GS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>P1GSR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>P2GS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>P2GSR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>P3GS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>P3GSR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>P4GS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>P4GSR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>P5GS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>P5GSR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
