flows/InsertPolicyExceptionUnique.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Collat_Id</name>
        <label>Assign Collat Id</label>
        <locationX>248</locationX>
        <locationY>389</locationY>
        <assignmentItems>
            <assignToReference>collatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inPolicyException.LLC_BI__Collateral_Mgmt__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Cov_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Cov_Id</name>
        <label>Assign Cov Id</label>
        <locationX>449</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>covId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inPolicyException.LLC_BI__Covenant_Mgmt__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Existing_PE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Relationship_Id</name>
        <label>Assign Relationship Id</label>
        <locationX>16</locationX>
        <locationY>217</locationY>
        <assignmentItems>
            <assignToReference>relationshipId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inPolicyException.LLC_BI__Relationship__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Collat_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Indicate_Automatic_PE</name>
        <label>Indicate Automatic PE</label>
        <locationX>983</locationX>
        <locationY>533</locationY>
        <assignmentItems>
            <assignToReference>inPolicyException.LLC_BI__Automatically_Added__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_PE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Indicate_Inserted</name>
        <label>Indicate Inserted</label>
        <locationX>1298</locationX>
        <locationY>535</locationY>
        <assignmentItems>
            <assignToReference>outDidInsert</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>If_PE_Unique</name>
        <label>If PE Unique</label>
        <locationX>799</locationX>
        <locationY>536</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Insert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>exitingPolicyException</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Indicate_Automatic_PE</targetReference>
            </connector>
            <label>Insert</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Collat_Set</name>
        <label>Is Collat Set</label>
        <locationX>248</locationX>
        <locationY>216</locationY>
        <defaultConnector>
            <targetReference>Is_Cov_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Collat Not Set</defaultConnectorLabel>
        <rules>
            <name>Collat_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inPolicyException.LLC_BI__Collateral_Mgmt__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Collat_Id</targetReference>
            </connector>
            <label>Collat Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Cov_Set</name>
        <label>Is Cov Set</label>
        <locationX>439</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Find_Existing_PE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cov Not Set</defaultConnectorLabel>
        <rules>
            <name>Cov_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inPolicyException.LLC_BI__Covenant_Mgmt__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Cov_Id</targetReference>
            </connector>
            <label>Cov Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Relationship_Set</name>
        <label>Is Relationship Set</label>
        <locationX>10</locationX>
        <locationY>13</locationY>
        <defaultConnector>
            <targetReference>Is_Collat_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Relationship Not Set</defaultConnectorLabel>
        <rules>
            <name>Relationship_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inPolicyException.LLC_BI__Relationship__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Relationship_Id</targetReference>
            </connector>
            <label>Relationship Set</label>
        </rules>
    </decisions>
    <description>Insert Policy Exception if it has not already been inserted
Does nothing if the Policy Exception already exists</description>
    <interviewLabel>InsertPolicyExceptionUnique {!$Flow.CurrentDateTime}</interviewLabel>
    <label>InsertPolicyExceptionUnique</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_PE</name>
        <label>Insert PE</label>
        <locationX>1142</locationX>
        <locationY>535</locationY>
        <connector>
            <targetReference>Indicate_Inserted</targetReference>
        </connector>
        <inputReference>inPolicyException</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_Existing_PE</name>
        <label>Find Existing PE</label>
        <locationX>648</locationX>
        <locationY>534</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_PE_Unique</targetReference>
        </connector>
        <filters>
            <field>LLC_BI__Collateral_Mgmt__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>collatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Covenant_Mgmt__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>covId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inPolicyException.LLC_BI__Loan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Relationship__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>relationshipId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inPolicyException.LLC_BI__Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inPolicyException.Name</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Policy_Exception__c</object>
        <outputReference>exitingPolicyException</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Is_Relationship_Set</startElementReference>
    <status>Active</status>
    <variables>
        <name>collatId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>covId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>exitingPolicyException</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Policy_Exception__c</objectType>
    </variables>
    <variables>
        <name>inPolicyException</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Policy_Exception__c</objectType>
    </variables>
    <variables>
        <name>outDidInsert</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>relationshipId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
