flows/Loan_Snapshot.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CallCommercialSnapshot</name>
        <label>CallCommercialSnapshot</label>
        <locationX>509</locationX>
        <locationY>167</locationY>
        <actionName>nFORCE__CreateDataSnapshotInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Lookup_Small_Business_CM_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>LoanID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>screenSectionId</name>
            <value>
                <elementReference>CommercialScreenSection.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>DataSnapShotID</assignToReference>
            <name>dataSnapshotId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>CallSmallBusinessSnapshot</name>
        <label>CallSmallBusinessSnapshot</label>
        <locationX>730</locationX>
        <locationY>155</locationY>
        <actionName>nFORCE__CreateDataSnapshotInvocable</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>LoanID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>screenSectionId</name>
            <value>
                <elementReference>SmallBusinessScreenSection.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>DataSnapShotID</assignToReference>
            <name>dataSnapshotId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>CallSnapShotMethod</name>
        <label>CallSnapShotMethod</label>
        <locationX>294</locationX>
        <locationY>193</locationY>
        <actionName>nFORCE__CreateDataSnapshotInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Lookup_Commercial_CM_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>LoanID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>screenSectionId</name>
            <value>
                <elementReference>ScreenSection.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>DataSnapShotID</assignToReference>
            <name>dataSnapshotId</name>
        </outputParameters>
    </actionCalls>
    <interviewLabel>Loan Snapshot {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loan Snapshot</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Commercial_CM_Screen</name>
        <label>Lookup Commercial CM Screen</label>
        <locationX>506</locationX>
        <locationY>33</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CallCommercialSnapshot</targetReference>
        </connector>
        <filters>
            <field>nFORCE__lookupKey__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>934859348279835</stringValue>
            </value>
        </filters>
        <object>nFORCE__Screen_Section__c</object>
        <outputReference>CommercialScreenSection</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Screen_Section</name>
        <label>Lookup Screen Section</label>
        <locationX>265</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CallSnapShotMethod</targetReference>
        </connector>
        <filters>
            <field>nFORCE__lookupKey__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>78093245783</stringValue>
            </value>
        </filters>
        <object>nFORCE__Screen_Section__c</object>
        <outputReference>ScreenSection</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Small_Business_CM_Screen</name>
        <label>Lookup Small Business CM Screen</label>
        <locationX>724</locationX>
        <locationY>45</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CallSmallBusinessSnapshot</targetReference>
        </connector>
        <filters>
            <field>nFORCE__lookupKey__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2837490238740921</stringValue>
            </value>
        </filters>
        <object>nFORCE__Screen_Section__c</object>
        <outputReference>SmallBusinessScreenSection</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Lookup_Screen_Section</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>CommercialScreenSection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>nFORCE__Screen_Section__c</objectType>
    </variables>
    <variables>
        <name>DataSnapShotID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoanID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ScreenSection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>nFORCE__Screen_Section__c</objectType>
    </variables>
    <variables>
        <name>SmallBusinessScreenSection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>nFORCE__Screen_Section__c</objectType>
    </variables>
</Flow>
