flows/LoanAutoDecision.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_0_Stars_for_Score</name>
        <label>Add 0 Stars for Score</label>
        <locationX>890</locationX>
        <locationY>834</locationY>
        <assignmentItems>
            <assignToReference>AssignedPoints</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Borrower Score</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BestBorrowerScore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Collateral_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_1_Star_for_Score</name>
        <label>Add 1 Star for Score</label>
        <locationX>1080</locationX>
        <locationY>844</locationY>
        <assignmentItems>
            <assignToReference>AssignedPoints</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Borrower Score</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BestBorrowerScore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Collateral_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_2_Stars_for_Score</name>
        <label>Add 2 Stars for Score</label>
        <locationX>1268</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>AssignedPoints</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Borrower Score</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BestBorrowerScore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Collateral_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Star_For_Borrower_Rating_For_Loan_With_Guarantor</name>
        <label>Add Star for Borrower Rating</label>
        <locationX>389</locationX>
        <locationY>1401</locationY>
        <assignmentItems>
            <assignToReference>AssignedPoints</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Borrower Score</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentAccountScore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Collateral_Value_For_Loan_With_Guarantor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Star_For_Borrower_Rating_For_Loan_With_Guarantor_0</name>
        <label>Add Star for Borrower Rating</label>
        <locationX>162</locationX>
        <locationY>1533</locationY>
        <assignmentItems>
            <assignToReference>AssignedPoints</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Borrower Score</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentAccountScore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaBorrowerScore.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Collateral_Value_For_Loan_With_Guarantor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Star_for_Collateral_For_Loan_With_Guarantor_0</name>
        <label>Add Star for Collateral</label>
        <locationX>699</locationX>
        <locationY>1421</locationY>
        <assignmentItems>
            <assignToReference>AssignedPoints</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLTV.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LTV</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLTV.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Advance_Rate_LTV</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLTV.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLTV.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddCriteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Star_for_Collateral_For_Loan_With_Guarantor_1</name>
        <label>Add Star for Collateral</label>
        <locationX>701</locationX>
        <locationY>1578</locationY>
        <assignmentItems>
            <assignToReference>AssignedPoints</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLTV.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LTV</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLTV.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Advance_Rate_LTV</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLTV.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLTV.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddCriteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Star_for_Collateral_High</name>
        <label>Add 2 Stars for Collateral</label>
        <locationX>1360</locationX>
        <locationY>1193</locationY>
        <assignmentItems>
            <assignToReference>AssignedPoints</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLTV.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LTV</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLTV.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Advance_Rate_LTV</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLTV.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLTV.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddCriteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Star_for_Collateral_Low</name>
        <label>Add 1 Star for Collateral</label>
        <locationX>1088</locationX>
        <locationY>1198</locationY>
        <assignmentItems>
            <assignToReference>AssignedPoints</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLTV.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LTV</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLTV.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Advance_Rate_LTV</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLTV.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLTV.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddCriteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Star_for_Guarantor_0</name>
        <label>Add Star for Guarantor</label>
        <locationX>689</locationX>
        <locationY>451</locationY>
        <assignmentItems>
            <assignToReference>AssignedPoints</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaHasGuarantor.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Has Guarantor</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaHasGuarantor.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaHasGuarantor.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaHasGuarantor.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Borrower_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Star_for_Guarantor_1</name>
        <label>Add Star for Guarantor</label>
        <locationX>479</locationX>
        <locationY>578</locationY>
        <assignmentItems>
            <assignToReference>AssignedPoints</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaHasGuarantor.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Has Guarantor</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaHasGuarantor.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaHasGuarantor.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaHasGuarantor.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Guarantors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Star_for_Guarantor_Rating</name>
        <label>Add Star for Guarantor Rating</label>
        <locationX>275</locationX>
        <locationY>984</locationY>
        <assignmentItems>
            <assignToReference>AssignedPoints</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaGuarantorScore.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Guarantor Score</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaGuarantorScore.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentAccountScore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaGuarantorScore.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaGuarantorScore.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Borrower_Accounts_For_Loan_With_Guarantor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Star_for_Guarantor_Rating_0</name>
        <label>Add Star for Guarantor Rating</label>
        <locationX>160</locationX>
        <locationY>692</locationY>
        <assignmentItems>
            <assignToReference>AssignedPoints</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaGuarantorScore.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Guarantor Score</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaGuarantorScore.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentAccountScore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaGuarantorScore.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaGuarantorScore.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Borrower_Accounts_For_Loan_With_Guarantor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Stars_for_No_Collateral</name>
        <label>Add 0 Stars for Collateral</label>
        <locationX>820</locationX>
        <locationY>1193</locationY>
        <assignmentItems>
            <assignToReference>AssignedPoints</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLTV.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LTV</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLTV.LLC_BI__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Advance_Rate_LTV</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLTV.LLC_BI__Assigned_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CriteriaLTV.LLC_BI__Maximum_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddCriteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddCriteria</name>
        <label>Add Criteria</label>
        <locationX>1090</locationX>
        <locationY>1474</locationY>
        <assignmentItems>
            <assignToReference>Details</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CriteriaHasGuarantor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Details</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CriteriaGuarantorScore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Details</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CriteriaBorrowerScore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Details</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CriteriaLTV</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Secured_or_Unsecured_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Return_Auto_Approve</name>
        <label>Return Auto Approve</label>
        <locationX>1189</locationX>
        <locationY>2171</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResultAutoApprove</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description_Approved</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Application_Auto_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Return_Auto_Approve_Unsecured</name>
        <label>Return Auto Approve Unsecured</label>
        <locationX>721</locationX>
        <locationY>2173</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResultAutoApprove</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description_Approved</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Application_Auto_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Return_Auto_Decline</name>
        <label>Return Auto Decline</label>
        <locationX>1523</locationX>
        <locationY>1742</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResultAutoDecline</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description_Decline</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Return_Auto_Decline_Unsecured</name>
        <label>Return Auto Decline Unsecured</label>
        <locationX>1064</locationX>
        <locationY>1742</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResultAutoDecline</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description_Decline</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Return_Manual_Review_Required</name>
        <label>Return Manual Review Required</label>
        <locationX>786</locationX>
        <locationY>235</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResultManualReviewRequired</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The loan amount is larger than allowed for the Loan Auto-Decision process.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Return_Recommend_Approval_Unsecured</name>
        <label>Return Recommend Approval Unsecured</label>
        <locationX>1026</locationX>
        <locationY>2174</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResultRecommendApproval</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description_Recommend_Approval</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Application_Auto_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Return_Recommend_Approve</name>
        <label>Return Recommend Approve</label>
        <locationX>1503</locationX>
        <locationY>2172</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResultRecommendApproval</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description_Recommend_Approval</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Application_Auto_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Return_Recommend_Decline</name>
        <label>Return Recommend Decline</label>
        <locationX>1523</locationX>
        <locationY>1892</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResultRecommendDecline</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description_Recommend_Decline</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Return_Recommend_Decline_Unsecured</name>
        <label>Return Recommend Decline Unsecured</label>
        <locationX>1068</locationX>
        <locationY>1885</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResultRecommendDecline</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description_Recommend_Decline</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Minimum_and_Maximum_Points</name>
        <label>Set Minimum and Maximum Points</label>
        <locationX>180</locationX>
        <locationY>231</locationY>
        <assignmentItems>
            <assignToReference>AssignedPoints</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaximumPoints</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Guarantor_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Best_Borrower_Score</name>
        <label>Store Best Borrower Score</label>
        <locationX>1410</locationX>
        <locationY>454</locationY>
        <assignmentItems>
            <assignToReference>BestBorrowerScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentAccountScore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Borrowers</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>ResultAutoApprove</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Approved</stringValue>
        </value>
    </constants>
    <constants>
        <name>ResultAutoDecline</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Declined</stringValue>
        </value>
    </constants>
    <constants>
        <name>ResultError</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Error</stringValue>
        </value>
    </constants>
    <constants>
        <name>ResultInformationRequested</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Information Request Initiated</stringValue>
        </value>
    </constants>
    <constants>
        <name>ResultInformationRequired</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Information Required</stringValue>
        </value>
    </constants>
    <constants>
        <name>ResultManualReviewRequired</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Manual Review Required</stringValue>
        </value>
    </constants>
    <constants>
        <name>ResultRecommendApproval</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Recommend Approval</stringValue>
        </value>
    </constants>
    <constants>
        <name>ResultRecommendDecline</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Recommend Decline</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Apporval_Type_Unsecured</name>
        <label>Apporval Type Unsecured</label>
        <locationX>888</locationX>
        <locationY>2023</locationY>
        <defaultConnector>
            <targetReference>Return_Auto_Approve_Unsecured</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Auto Approve</defaultConnectorLabel>
        <rules>
            <name>Recommended_Approval_Unsecured</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignedPoints</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Return_Recommend_Approval_Unsecured</targetReference>
            </connector>
            <label>Recommended Approval Unsecured</label>
        </rules>
    </decisions>
    <decisions>
        <name>Auto_Declined</name>
        <label>Auto Declined</label>
        <locationX>1327</locationX>
        <locationY>1740</locationY>
        <defaultConnector>
            <targetReference>Recommend_Decline</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Auto_Declined_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignedPoints</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Return_Auto_Decline</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Auto_Declined_Unsecured</name>
        <label>Auto Declined Unsecured</label>
        <locationX>880</locationX>
        <locationY>1737</locationY>
        <defaultConnector>
            <targetReference>Recommended_Decline_Unsecured</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Auto_Declined_Unsecured_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignedPoints</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Return_Auto_Decline_Unsecured</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Approval_Type</name>
        <label>Approval Type</label>
        <locationX>1323</locationX>
        <locationY>2032</locationY>
        <defaultConnector>
            <targetReference>Return_Auto_Approve</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Recommend_Approve_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignedPoints</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Return_Recommend_Approve</targetReference>
            </connector>
            <label>Recommended Approval</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Borrower_Score</name>
        <label>Evaluate Borrower Score</label>
        <locationX>1080</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Add_0_Stars_for_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Below 4</defaultConnectorLabel>
        <rules>
            <name>Evaluate_Borrower_Score_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BestBorrowerScore</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_1_Star_for_Score</targetReference>
            </connector>
            <label>Is 4</label>
        </rules>
        <rules>
            <name>Evaluate_Borrower_Score_Greater_Than_Four</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BestBorrowerScore</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_2_Stars_for_Score</targetReference>
            </connector>
            <label>Greater Than 4</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Borrower_Score_For_Loan_With_Guarantor</name>
        <label>Evaluate Borrower Score</label>
        <locationX>389</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Process_Borrowers_For_Loan_With_Guarantor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Low Score</defaultConnectorLabel>
        <rules>
            <name>Evaluate_Borrower_Score_For_Loan_With_Guarantor_Score_High</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentAccountScore</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Star_For_Borrower_Rating_For_Loan_With_Guarantor</targetReference>
            </connector>
            <label>High Score</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Collateral_Value</name>
        <label>Evaluate Collateral Value</label>
        <locationX>1080</locationX>
        <locationY>1004</locationY>
        <defaultConnector>
            <targetReference>Add_Stars_for_No_Collateral</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Collateral</defaultConnectorLabel>
        <rules>
            <name>Evaluate_Collateral_Value_Larger_Than_Loan_Amount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loan.LLC_BI__Current_Total_Lendable_Value__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Loan.LLC_BI__Amount__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Star_for_Collateral_High</targetReference>
            </connector>
            <label>Larger than loan amount</label>
        </rules>
        <rules>
            <name>Evaluate_Collateral_Value_Smaller_Than_Loan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loan.LLC_BI__Current_Total_Lendable_Value__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loan.LLC_BI__Current_Total_Lendable_Value__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Loan.LLC_BI__Amount__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Star_for_Collateral_Low</targetReference>
            </connector>
            <label>Smaller than loan</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Collateral_Value_For_Loan_With_Guarantor</name>
        <label>Evaluate Collateral Value</label>
        <locationX>389</locationX>
        <locationY>1530</locationY>
        <defaultConnector>
            <targetReference>Add_Star_for_Collateral_For_Loan_With_Guarantor_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Low LTV</defaultConnectorLabel>
        <rules>
            <name>Evaluate_Collateral_Value_High_LTV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Advance_Rate_LTV</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.75</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Star_for_Collateral_For_Loan_With_Guarantor_1</targetReference>
            </connector>
            <label>High LTV</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Guarantor_Score</name>
        <label>Evaluate Guarantor Score</label>
        <locationX>426</locationX>
        <locationY>834</locationY>
        <defaultConnector>
            <targetReference>Process_Guarantors</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Low Score</defaultConnectorLabel>
        <rules>
            <name>Evaluate_Guarantor_Score_High</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentAccountScore</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Star_for_Guarantor_Rating</targetReference>
            </connector>
            <label>High Score</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Loan_Size</name>
        <label>Evaluate Loan Size</label>
        <locationX>488</locationX>
        <locationY>236</locationY>
        <defaultConnector>
            <targetReference>Return_Manual_Review_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Auto_Decision_Allowed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loan.LLC_BI__Amount__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>100000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Minimum_and_Maximum_Points</targetReference>
            </connector>
            <label>Auto Decision Allowed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Guarantors</name>
        <label>Has Guarantors</label>
        <locationX>479</locationX>
        <locationY>451</locationY>
        <defaultConnector>
            <targetReference>Add_Star_for_Guarantor_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Has_Guarantors_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasGuarantors</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Star_for_Guarantor_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Best_Borrower</name>
        <label>Is Best Borrower</label>
        <locationX>1420</locationX>
        <locationY>284</locationY>
        <defaultConnector>
            <targetReference>Process_Borrowers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_Best_Borrower_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentAccountScore</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>BestBorrowerScore</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Best_Borrower_Score</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mortgage</name>
        <label>Is this a Mortgage?</label>
        <locationX>488</locationX>
        <locationY>67</locationY>
        <defaultConnector>
            <targetReference>Evaluate_Loan_Size</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loan.LLC_BI__Product_Line__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mortgage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mortgage_Auto_Decision</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recommend_Decline</name>
        <label>Recommend Decline</label>
        <locationX>1323</locationX>
        <locationY>1892</locationY>
        <defaultConnector>
            <targetReference>Determine_Approval_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Recommend_Decline_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignedPoints</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Return_Recommend_Decline</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recommended_Decline_Unsecured</name>
        <label>Recommended Decline Unsecured</label>
        <locationX>882</locationX>
        <locationY>1883</locationY>
        <defaultConnector>
            <targetReference>Apporval_Type_Unsecured</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Recommend_Decline_Unsecured_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignedPoints</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Return_Recommend_Decline_Unsecured</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Retrieve_Business_Score_Completed</name>
        <label>Review Score Result</label>
        <locationX>1220</locationX>
        <locationY>284</locationY>
        <defaultConnector>
            <targetReference>Is_Best_Borrower</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Result_Received_Business_Account_Score_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Result</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ResultInformationRequired</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Result</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ResultInformationRequested</elementReference>
                </rightValue>
            </conditions>
            <label>Exit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Retrieve_Individual_Score_Completed</name>
        <label>Review Score Result</label>
        <locationX>536</locationX>
        <locationY>984</locationY>
        <defaultConnector>
            <targetReference>Evaluate_Guarantor_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Result_Received_Individual_Account_Score_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Result</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ResultInformationRequired</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Result</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ResultInformationRequested</elementReference>
                </rightValue>
            </conditions>
            <label>Exit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Secured_or_Unsecured_Product</name>
        <label>Secured or Unsecured Product</label>
        <locationX>1094</locationX>
        <locationY>1605</locationY>
        <defaultConnector>
            <targetReference>Auto_Declined</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Unsecured</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loan.LLC_BI__Product_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Unsecured</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loan.LLC_BI__Product_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Personal Rewards</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loan.LLC_BI__Product_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Personal No Rewards</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_Declined_Unsecured</targetReference>
            </connector>
            <label>Unsecured</label>
        </rules>
    </decisions>
    <description>Secured vs Unsecured decision</description>
    <formulas>
        <name>Advance_Rate_LTV</name>
        <dataType>Number</dataType>
        <expression>IF({!Loan.00Nd00000085pw5__NotFound} = 0,
{!Loan.00Nd00000087A4r__NotFound}/{!Loan.00Nd0000006OBzr__NotFound},
{!Loan.00Nd00000085pw5__NotFound}/{!Loan.00Nd0000006OBzr__NotFound})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Description_Approved</name>
        <dataType>String</dataType>
        <expression>{!Loan.Name} &amp; &quot; has completed decisioning and is approved. Review all the details here and &apos;submit for approval&apos; to continue with the auto approval process.&quot;</expression>
    </formulas>
    <formulas>
        <name>Description_Decline</name>
        <dataType>String</dataType>
        <expression>{!Loan.Name} &amp; &quot; has completed decisioning and is declined. To continue with the adverse actions process, review all the details here and select the &apos;Adverse Actions&apos; button.&quot;</expression>
    </formulas>
    <formulas>
        <name>Description_Manual_Review_Required</name>
        <dataType>String</dataType>
        <expression>{!Loan.Name} &amp; &quot; could not be auto decisioned and requires a manual review. You can view all of the captured detail here.&quot;</expression>
    </formulas>
    <formulas>
        <name>Description_Recommend_Approval</name>
        <dataType>String</dataType>
        <expression>{!Loan.Name} &amp; &quot; has completed decisioning and is recommended for approval. To continue and submit this for manual approval, review all the details here and select the &apos;Submit for manual approval&apos; button.&quot;</expression>
    </formulas>
    <formulas>
        <name>Description_Recommend_Decline</name>
        <dataType>String</dataType>
        <expression>{!Loan.Name} &amp; &quot; has completed decisioning and is recommended for decline. To continue to the adverse actions process, review all the details here and select the Adverse Actions button.&quot;</expression>
    </formulas>
    <interviewLabel>LoanAutoDecision {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LoanAutoDecision</label>
    <loops>
        <name>Process_Borrowers</name>
        <label>Process Borrowers</label>
        <locationX>1070</locationX>
        <locationY>454</locationY>
        <assignNextValueToReference>CurrentAccount</assignNextValueToReference>
        <collectionReference>BorrowerAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Borrower_Score</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Evaluate_Borrower_Score</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Process_Borrowers_For_Loan_With_Guarantor</name>
        <label>Process Borrowers</label>
        <locationX>159</locationX>
        <locationY>1131</locationY>
        <assignNextValueToReference>CurrentAccount</assignNextValueToReference>
        <collectionReference>BorrowerAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Borrower_Score_For_Loan_With_Guarantor</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Star_For_Borrower_Rating_For_Loan_With_Guarantor_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Process_Guarantors</name>
        <label>Process Guarantors</label>
        <locationX>479</locationX>
        <locationY>689</locationY>
        <assignNextValueToReference>CurrentAccount</assignNextValueToReference>
        <collectionReference>GuarantorAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Guarantor_Score</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Star_for_Guarantor_Rating_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Load_Loan_Data</name>
        <label>Load Loan Data</label>
        <locationX>348</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mortgage</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Loan__c</object>
        <outputReference>Loan</outputReference>
        <queriedFields>LLC_BI__Amount__c</queriedFields>
        <queriedFields>LLC_BI__Current_Total_Lendable_Value__c</queriedFields>
        <queriedFields>LLC_BI__Current_Gross_Lendable_Value_Collateral1__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>LLC_BI__Product_Type__c</queriedFields>
        <queriedFields>LLC_BI__Application__c</queriedFields>
        <queriedFields>LLC_BI__Product_Line__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Application_Auto_Decision</name>
        <label>Update Application Auto Decision</label>
        <locationX>1106</locationX>
        <locationY>2324</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loan.LLC_BI__Application__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>nPortal__OA_Auto_Decision_Complete__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nPortal__Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Application__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>156</locationY>
        <connector>
            <targetReference>Policy_Exception</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Borrower_Accounts</name>
        <label>Get Borrower Accounts</label>
        <locationX>869</locationX>
        <locationY>451</locationY>
        <connector>
            <targetReference>Process_Borrowers</targetReference>
        </connector>
        <flowName>LoanGetAccounts</flowName>
        <inputAssignments>
            <name>LoanId</name>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>includeBorrowers</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>BorrowerAccounts</assignToReference>
            <name>Accounts</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Borrower_Accounts_For_Loan_With_Guarantor</name>
        <label>Get Borrower Accounts</label>
        <locationX>156</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Process_Borrowers_For_Loan_With_Guarantor</targetReference>
        </connector>
        <flowName>LoanGetAccounts</flowName>
        <inputAssignments>
            <name>LoanId</name>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>includeBorrowers</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>BorrowerAccounts</assignToReference>
            <name>Accounts</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Borrower_Score</name>
        <label>Get Borrower Score</label>
        <locationX>1070</locationX>
        <locationY>284</locationY>
        <connector>
            <targetReference>Retrieve_Business_Score_Completed</targetReference>
        </connector>
        <flowName>GetAccountScore</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>CurrentAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CurrentAccountScore</assignToReference>
            <name>Score</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Result</assignToReference>
            <name>Result</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ResultDescription</assignToReference>
            <name>ResultDescription</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Borrower_Score_For_Loan_With_Guarantor</name>
        <label>Get Borrower Score</label>
        <locationX>389</locationX>
        <locationY>1141</locationY>
        <connector>
            <targetReference>Evaluate_Borrower_Score_For_Loan_With_Guarantor</targetReference>
        </connector>
        <flowName>GetAccountScore</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>CurrentAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CurrentAccountScore</assignToReference>
            <name>Score</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Guarantor_Accounts</name>
        <label>Get Guarantor Accounts</label>
        <locationX>178</locationX>
        <locationY>446</locationY>
        <connector>
            <targetReference>Has_Guarantors</targetReference>
        </connector>
        <flowName>LoanGetAccounts</flowName>
        <inputAssignments>
            <name>LoanId</name>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>includeGuarantors</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>GuarantorAccounts</assignToReference>
            <name>Accounts</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>HasGuarantors</assignToReference>
            <name>AccountsFound</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Guarantor_Score</name>
        <label>Get Guarantor Score</label>
        <locationX>622</locationX>
        <locationY>830</locationY>
        <connector>
            <targetReference>Retrieve_Individual_Score_Completed</targetReference>
        </connector>
        <flowName>GetAccountScore</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>CurrentAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CurrentAccountScore</assignToReference>
            <name>Score</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Mortgage_Auto_Decision</name>
        <label>Mortgage Auto Decision</label>
        <locationX>737</locationX>
        <locationY>66</locationY>
        <flowName>ResidentialMortgageAutoDecision_V2</flowName>
        <inputAssignments>
            <name>LoanId</name>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Result</assignToReference>
            <name>Result</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ResultDescription</assignToReference>
            <name>ResultDescription</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Policy_Exception</name>
        <label>Policy Exception</label>
        <locationX>176</locationX>
        <locationY>80</locationY>
        <connector>
            <targetReference>Load_Loan_Data</targetReference>
        </connector>
        <flowName>LoanAutoPolExc</flowName>
        <inputAssignments>
            <name>LoanId</name>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AssignedPoints</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>BestBorrowerScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>BorrowerAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CriteriaBorrowerScore</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Scorecard_Detail__c</objectType>
    </variables>
    <variables>
        <name>CriteriaGuarantorScore</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Scorecard_Detail__c</objectType>
    </variables>
    <variables>
        <name>CriteriaHasGuarantor</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Scorecard_Detail__c</objectType>
    </variables>
    <variables>
        <name>CriteriaLTV</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Scorecard_Detail__c</objectType>
    </variables>
    <variables>
        <name>CurrentAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CurrentAccountScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Details</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Scorecard_Detail__c</objectType>
    </variables>
    <variables>
        <name>GuarantorAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>HasGuarantors</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Loan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
    <variables>
        <name>LoanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MaximumPoints</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>ResultManualReviewRequired</elementReference>
        </value>
    </variables>
    <variables>
        <name>ResultDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
