flows/OE_Ambassador_Thanks_but_no_Thanks_Amb_Consultant.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Email_Alert_to_Consultant</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Email to OE consultant</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>SFDC_Volunteer_Participant__c.Email_Alert_to_Consultant</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Email_Alert_to_Ambassador</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Email to OE Ambassador</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>SFDC_Volunteer_Participant__c.Email_Alert_to_Ambassador</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>OE Consultant Email</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>OE Ambassador email</label>
        </rules>
    </decisions>
    <description>This process builder is created to send e-mails to ambassador and consultant for User Story - PRDCRM-27721</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(ISNEW()&amp;&amp;[SFDC_Volunteer_Participant__c].Thanks_but_No_Thanks__c = true &amp;&amp; ISPICKVAL([SFDC_Volunteer_Participant__c].OE_Ambassador_Volunteer__c.Facilitator_Type__c,&apos;Consultant&apos;)) ||  
( [SFDC_Volunteer_Participant__c].Thanks_but_No_Thanks__c = true &amp;&amp; ISPICKVAL([SFDC_Volunteer_Participant__c].OE_Ambassador_Volunteer__c.Facilitator_Type__c,&apos;Consultant&apos;)   
&amp;&amp; ISCHANGED([SFDC_Volunteer_Participant__c].Thanks_but_No_Thanks__c) )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>(ISNEW()&amp;&amp;{!myVariable_current.Thanks_but_No_Thanks__c} = true &amp;&amp; ISPICKVAL({!myVariable_current.OE_Ambassador_Volunteer__r.Facilitator_Type__c},&apos;Consultant&apos;)) ||  
( {!myVariable_current.Thanks_but_No_Thanks__c} = true &amp;&amp; ISPICKVAL({!myVariable_current.OE_Ambassador_Volunteer__r.Facilitator_Type__c},&apos;Consultant&apos;)   
&amp;&amp; ISCHANGED({!myVariable_current.Thanks_but_No_Thanks__c}) )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(ISNEW()&amp;&amp; [SFDC_Volunteer_Participant__c].Thanks_but_No_Thanks__c = true &amp;&amp; ISPICKVAL([SFDC_Volunteer_Participant__c].OE_Ambassador_Volunteer__c.Facilitator_Type__c,&apos;OE Ambassador&apos;)) || 
([SFDC_Volunteer_Participant__c].Thanks_but_No_Thanks__c = true &amp;&amp; ISPICKVAL([SFDC_Volunteer_Participant__c].OE_Ambassador_Volunteer__c.Facilitator_Type__c,&apos;OE Ambassador&apos;)  
 &amp;&amp; ISCHANGED([SFDC_Volunteer_Participant__c].Thanks_but_No_Thanks__c))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>(ISNEW()&amp;&amp; {!myVariable_current.Thanks_but_No_Thanks__c} = true &amp;&amp; ISPICKVAL({!myVariable_current.OE_Ambassador_Volunteer__r.Facilitator_Type__c},&apos;OE Ambassador&apos;)) || 
({!myVariable_current.Thanks_but_No_Thanks__c} = true &amp;&amp; ISPICKVAL({!myVariable_current.OE_Ambassador_Volunteer__r.Facilitator_Type__c},&apos;OE Ambassador&apos;)  
 &amp;&amp; ISCHANGED({!myVariable_current.Thanks_but_No_Thanks__c}))</expression>
    </formulas>
    <interviewLabel>OE_Ambassador_Thanks_but_no_Thanks_Amb_Consultant-1_InterviewLabel</interviewLabel>
    <label>OE Ambassador Thanks_but_no_Thanks_Amb_Consultant</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>SFDC_Volunteer_Participant__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SFDC_Volunteer_Participant__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SFDC_Volunteer_Participant__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
