flows/Opportunity_Name_Update_LG.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Effective Year is modified for LG</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Create Quote From Mobile</label>
        </rules>
    </decisions>
    <description>Changes related to mobile opportunity creation v1.2. Added PriceBook Id on Opportunity.</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Opportunity].EffectiveYear__c  &amp; &apos; &apos; &amp; [Opportunity].OpportunityRecordTypeName__c  &amp; &apos;-&apos; &amp; [Opportunity].Account.Name </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_4694980116</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.EffectiveYear__c}  &amp; &apos; &apos; &amp; {!myVariable_current.OpportunityRecordTypeName__c}  &amp; &apos;-&apos; &amp; {!myVariable_current.Account.Name}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$Label.Standard_Price_Book_Id </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_1982753725</name>
        <dataType>String</dataType>
        <expression>{!$Label.Standard_Price_Book_Id}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Opportunity].EffectiveYear__c  &amp; &apos; &apos; &amp; [Opportunity].OpportunityRecordTypeName__c  &amp; &apos;-&apos; &amp; [Opportunity].Account.Name</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_5_A1_7789155958</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.EffectiveYear__c}  &amp; &apos; &apos; &amp; {!myVariable_current.OpportunityRecordTypeName__c}  &amp; &apos;-&apos; &amp; {!myVariable_current.Account.Name}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$Label.Standard_Price_Book_Id </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_5_A1_3904827847</name>
        <dataType>String</dataType>
        <expression>{!$Label.Standard_Price_Book_Id}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
AND(
ISNEW() ,
$Profile.Name &lt;&gt; &apos;API User&apos;,
IF(
((([Opportunity].CreatedBy.FirstName  = &apos;Interface&apos;) &amp;&amp; ([Opportunity].CreatedBy.LastName = &apos;Admin&apos;)) &amp;&amp; (([Opportunity].RecordType.DeveloperName = &apos;New_Business_Local&apos;) &amp;&amp; (ISPICKVAL([Opportunity].Account.Situs_State__c,&apos;Virginia&apos;)))),FALSE,TRUE
 ), 
CONTAINS([Opportunity].OpportunityRecordTypeName__c , &apos;Local&apos;)
),
AND(
$Profile.Name &lt;&gt; &apos;API User&apos;,
IF(
((([Opportunity].CreatedBy.FirstName  = &apos;Interface&apos;) &amp;&amp; ([Opportunity].CreatedBy.LastName = &apos;Admin&apos;)) &amp;&amp; (([Opportunity].RecordType.DeveloperName = &apos;New_Business_Local&apos;) &amp;&amp; (ISPICKVAL([Opportunity].Account.Situs_State__c,&apos;Virginia&apos;)))),FALSE,TRUE
 ),
OR(
ISCHANGED([Opportunity].CloseDate) ,
ISCHANGED([Opportunity].AccountId )
),
CONTAINS([Opportunity].OpportunityRecordTypeName__c , &apos;Local&apos;) 
)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>OR(
AND(
ISNEW() ,
{!$Profile.Name} &lt;&gt; &apos;API User&apos;,
IF(
((({!myVariable_current.CreatedBy.FirstName}  = &apos;Interface&apos;) &amp;&amp; ({!myVariable_current.CreatedBy.LastName} = &apos;Admin&apos;)) &amp;&amp; (({!myVariable_current.RecordType.DeveloperName} = &apos;New_Business_Local&apos;) &amp;&amp; (ISPICKVAL({!myVariable_current.Account.Situs_State__c},&apos;Virginia&apos;)))),FALSE,TRUE
 ), 
CONTAINS({!myVariable_current.OpportunityRecordTypeName__c} , &apos;Local&apos;)
),
AND(
{!$Profile.Name} &lt;&gt; &apos;API User&apos;,
IF(
((({!myVariable_current.CreatedBy.FirstName}  = &apos;Interface&apos;) &amp;&amp; ({!myVariable_current.CreatedBy.LastName} = &apos;Admin&apos;)) &amp;&amp; (({!myVariable_current.RecordType.DeveloperName} = &apos;New_Business_Local&apos;) &amp;&amp; (ISPICKVAL({!myVariable_current.Account.Situs_State__c},&apos;Virginia&apos;)))),FALSE,TRUE
 ),
OR(
ISCHANGED({!myVariable_current.CloseDate}) ,
ISCHANGED({!myVariable_current.AccountId} )
),
CONTAINS({!myVariable_current.OpportunityRecordTypeName__c} , &apos;Local&apos;) 
)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(ISNEW(),
	[Opportunity].RecordType.Name = &apos;New Business Local&apos;,
	OR([Opportunity].Account.RecordtypeName__c = &apos;LG Prospect&apos;,[Opportunity].Account.RecordtypeName__c = &apos;LG Customer&apos;), 
	[Opportunity].Created_From_Quick_Action__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISNEW(),
	{!myVariable_current.RecordType.Name} = &apos;New Business Local&apos;,
	OR({!myVariable_current.Account.RecordtypeName__c} = &apos;LG Prospect&apos;,{!myVariable_current.Account.RecordtypeName__c} = &apos;LG Customer&apos;), 
	{!myVariable_current.Created_From_Quick_Action__c})</expression>
    </formulas>
    <interviewLabel>Opportunity_Name_Update_LG-17_InterviewLabel</interviewLabel>
    <label>Opportunity Name Update - LG</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Opportunity</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordCreates>
        <name>myRule_5_A1</name>
        <label>Create Quote</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Quote Name</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Name</field>
            <value>
                <elementReference>formula_6_myRule_5_A1_7789155958</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Opportunity ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>OpportunityId</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Price Book ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Pricebook2</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>formula_7_myRule_5_A1_3904827847</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordCreates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Opportunity]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>UpdateOpptyname</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision4</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Name</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_4694980116</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Price Book ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Pricebook2</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_1982753725</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
