flows/Partner_Application.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Navigate_to_Application</name>
        <label>Navigate to Application</label>
        <locationX>191</locationX>
        <locationY>362</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Application</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Geographical_Region</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Navigate_to_Next_Steps</name>
        <label>Navigate to Next Steps</label>
        <locationX>2006</locationX>
        <locationY>188</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Next_Steps</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Next_Steps_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Navigate_to_Review</name>
        <label>Navigate to Review</label>
        <locationX>1131</locationX>
        <locationY>262</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Review_and_Submit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Geographical_Region_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Navigate_to_Review_and_Submit_w_Collateral</name>
        <label>Navigate to Review and Submit w/ Collateral</label>
        <locationX>1144</locationX>
        <locationY>91</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Review_and_Submit_Collateral</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Geographical_Region_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Collateral_Pledged_Decision</name>
        <label>Collateral Pledged Decision</label>
        <locationX>918</locationX>
        <locationY>338</locationY>
        <defaultConnector>
            <targetReference>Navigate_to_Review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Required_Collateral_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Collateral_with_this_Request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Collateral_Type_Record</targetReference>
            </connector>
            <label>Create Required Collateral Records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Collateral</name>
        <label>Create Collateral</label>
        <locationX>878</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>Product_Reference</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Collateral_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Collateral_with_this_Request</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collateral_Information</targetReference>
            </connector>
            <label>Create Collateral Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Geographical_Region</name>
        <label>Which Geographical Region?</label>
        <locationX>180</locationX>
        <locationY>537</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Australia_en_AU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocaleVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>en_AU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Business_Information_0</targetReference>
            </connector>
            <label>Australia = en_AU</label>
        </rules>
        <rules>
            <name>Not_Australia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocaleVar</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>en_AU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Business_Information</targetReference>
            </connector>
            <label>Not Australia</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Geographical_Region_0</name>
        <label>Which Geographical Region?</label>
        <locationX>1304</locationX>
        <locationY>108</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Australia_en_AU_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocaleVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>en_AU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Review_and_Submit_w_Collateral</targetReference>
            </connector>
            <label>Australia = en_AU</label>
        </rules>
        <rules>
            <name>Not_Australia_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocaleVar</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>en_AU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Review_and_Submit_w_Collateral_0</targetReference>
            </connector>
            <label>Not Australia</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Geographical_Region_0_0</name>
        <label>Which Geographical Region?</label>
        <locationX>1306</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Australia_en_AU_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocaleVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>en_AU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Review_Submit</targetReference>
            </connector>
            <label>Australia = en_AU</label>
        </rules>
        <rules>
            <name>Not_Australia_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LocaleVar</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>en_AU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Review_Submit_0</targetReference>
            </connector>
            <label>Not Australia</label>
        </rules>
    </decisions>
    <description>Updated for multi-geographic demos. If Australia it will collect different information than any other user. First iteration.</description>
    <dynamicChoiceSets>
        <name>Business_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Lease_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Lease_Type__c</picklistField>
        <picklistObject>LLC_BI__Loan__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklistchoiceBorrowerType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LLC_BI__Borrower_Type__c</picklistField>
        <picklistObject>LLC_BI__Legal_Entities__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <description>Retrieves the User ID from Userinfo</description>
        <name>CurrentUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Partner Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partner Application</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Collateral_Aggregate_Record_Create</name>
        <label>Collateral Aggregate Record Create</label>
        <locationX>844</locationX>
        <locationY>93</locationY>
        <assignRecordIdToReference>AggregateID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Collateral_Pledged_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CurrentUserID</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Loan_Collateral_Aggregate__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Account_Information</name>
        <label>Create Account Information</label>
        <locationX>579</locationX>
        <locationY>459</locationY>
        <assignRecordIdToReference>BusinessAccountID</assignRecordIdToReference>
        <connector>
            <targetReference>Request_Information</targetReference>
        </connector>
        <inputAssignments>
            <field>AnnualRevenue</field>
            <value>
                <elementReference>Annual_Revenuez</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>Cityz</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Zip_Codez</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>Statez</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Addressz</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Business_Namez</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Business_Type_Picklistz</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Account_Information_0</name>
        <label>Create Account Information</label>
        <locationX>582</locationX>
        <locationY>644</locationY>
        <assignRecordIdToReference>BusinessAccountID</assignRecordIdToReference>
        <connector>
            <targetReference>Request_Information</targetReference>
        </connector>
        <inputAssignments>
            <field>AnnualRevenue</field>
            <value>
                <elementReference>Annual_Revenue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Zip_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Business_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Business_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nSBA__DBA__c</field>
            <value>
                <elementReference>DBA</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Collateral_Mgmt_Record</name>
        <label>Create Collateral Mgmt Record</label>
        <locationX>658</locationX>
        <locationY>333</locationY>
        <assignRecordIdToReference>Collateral_Mgmt_Record_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Collateral_Ownership</targetReference>
        </connector>
        <inputAssignments>
            <field>LLC_BI__Collateral_Type__c</field>
            <value>
                <elementReference>Collateral_Type_ID_Record_Var.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Value__c</field>
            <value>
                <elementReference>Value</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Collateral__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Collateral_Ownership</name>
        <label>Create Collateral Ownership</label>
        <locationX>658</locationX>
        <locationY>92</locationY>
        <connector>
            <targetReference>Collateral_Aggregate_Record_Create</targetReference>
        </connector>
        <inputAssignments>
            <field>LLC_BI__Account__c</field>
            <value>
                <elementReference>BusinessAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Collateral__c</field>
            <value>
                <elementReference>Collateral_Mgmt_Record_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Ownership_Percentage__c</field>
            <value>
                <elementReference>Ownership_Percent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Primary_Owner__c</field>
            <value>
                <elementReference>Primary_Owner</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Account_Collateral__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Collateral_Pledged_Record</name>
        <label>Create Collateral Pledged Record</label>
        <locationX>958</locationX>
        <locationY>92</locationY>
        <connector>
            <targetReference>Navigate_to_Review_and_Submit_w_Collateral</targetReference>
        </connector>
        <inputAssignments>
            <field>LLC_BI__Amount_Pledged__c</field>
            <value>
                <elementReference>Amount_Pledged</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Collateral__c</field>
            <value>
                <elementReference>Collateral_Mgmt_Record_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Loan_Collateral_Aggregate__c</field>
            <value>
                <elementReference>AggregateID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Loan__c</field>
            <value>
                <elementReference>LoanRecordID</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Loan_Collateral2__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Entity_Involvement</name>
        <label>Create Entity Involvement</label>
        <locationX>1069</locationX>
        <locationY>426</locationY>
        <assignRecordIdToReference>EntityInvolvementID</assignRecordIdToReference>
        <connector>
            <targetReference>Collateral_Pledged_Decision</targetReference>
        </connector>
        <inputAssignments>
            <field>LLC_BI__Account__c</field>
            <value>
                <elementReference>BusinessAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Borrower_Type__c</field>
            <value>
                <elementReference>Borrower_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Loan__c</field>
            <value>
                <elementReference>LoanRecordID</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Legal_Entities__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Loan</name>
        <label>Create Loan</label>
        <locationX>1069</locationX>
        <locationY>523</locationY>
        <assignRecordIdToReference>LoanRecordID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Entity_Involvement</targetReference>
        </connector>
        <inputAssignments>
            <field>LLC_BI__Account__c</field>
            <value>
                <elementReference>BusinessAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Amount__c</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Application__c</field>
            <value>
                <elementReference>ApplicationID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Product_Line__c</field>
            <value>
                <elementReference>Product_Line</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Product_Reference__c</field>
            <value>
                <elementReference>ProductReference</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Product_Type__c</field>
            <value>
                <elementReference>Product_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Product__c</field>
            <value>
                <elementReference>Product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Request_Name</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Loan__c</object>
    </recordCreates>
    <recordCreates>
        <name>New_Application</name>
        <label>New Application</label>
        <locationX>330</locationX>
        <locationY>189</locationY>
        <assignRecordIdToReference>ApplicationID</assignRecordIdToReference>
        <connector>
            <targetReference>Navigate_to_Application</targetReference>
        </connector>
        <inputAssignments>
            <field>nPortal__Applicant__c</field>
            <value>
                <elementReference>CurrentUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nPortal__Status__c</field>
            <value>
                <stringValue>In-Progress</stringValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Application__c</object>
    </recordCreates>
    <recordLookups>
        <name>Current_User</name>
        <label>Current User</label>
        <locationX>197</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Application</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>CurrentUserAccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LocaleVar</assignToReference>
            <field>LocaleSidKey</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Collateral_Type_Record</name>
        <label>Get Collateral Type Record</label>
        <locationX>799</locationX>
        <locationY>343</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Collateral_Mgmt_Record</targetReference>
        </connector>
        <filters>
            <field>LLC_BI__Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Collateral_SubType_Text</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Collateral_Type_Text</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Collateral_Type__c</object>
        <outputReference>Collateral_Type_ID_Record_Var</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Product_Reference</name>
        <label>Product Reference</label>
        <locationX>1068</locationX>
        <locationY>644</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Loan</targetReference>
        </connector>
        <filters>
            <field>LLC_BI__Product_Line_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product_Line</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Product_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product_Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Product</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Product__c</object>
        <outputAssignments>
            <assignToReference>ProductReference</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Complete_Application</name>
        <label>Complete Application</label>
        <locationX>1773</locationX>
        <locationY>183</locationY>
        <connector>
            <targetReference>Navigate_to_Next_Steps</targetReference>
        </connector>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentUserID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>nPortal__Status__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Application__c</object>
    </recordUpdates>
    <screens>
        <name>Business_Information</name>
        <label>Business Information</label>
        <locationX>409</locationX>
        <locationY>608</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Account_Information_0</targetReference>
        </connector>
        <fields>
            <name>BusinessInfoHeader</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Business Information&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Let&amp;apos;s collect some information about the business applying for a loan.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Business_Name</name>
            <dataType>String</dataType>
            <fieldText>Business Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DBA</name>
            <dataType>String</dataType>
            <fieldText>DBA</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Business_Type_Picklist</name>
            <choiceReferences>Business_Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Business Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>State_of_Incorporation</name>
            <dataType>String</dataType>
            <fieldText>State/Provence of Incorporation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Federal_Tax_ID</name>
            <dataType>String</dataType>
            <fieldText>Tax ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Annual_Revenue</name>
            <dataType>Currency</dataType>
            <fieldText>Annual Revenue</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Business_Location_Information</name>
            <fieldText>Business Location Information</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Address</name>
            <dataType>String</dataType>
            <fieldText>Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>City</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>State</name>
            <dataType>String</dataType>
            <fieldText>State/Provence</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Zip_Code</name>
            <dataType>String</dataType>
            <fieldText>Zip/Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Business_Information_0</name>
        <label>Business Information</label>
        <locationX>412</locationX>
        <locationY>420</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Account_Information</targetReference>
        </connector>
        <fields>
            <name>BusinessInfoHeader_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Business Information&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Let&amp;apos;s collect some information about the business applying for a loan.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Business_Namez</name>
            <dataType>String</dataType>
            <fieldText>Business Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Business_Type_Picklistz</name>
            <choiceReferences>Business_Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Business Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Federal_Tax_IDz</name>
            <dataType>String</dataType>
            <fieldText>ABN</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Annual_Revenuez</name>
            <dataType>Currency</dataType>
            <fieldText>Annual Revenue</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Business_Location_Information_0</name>
            <fieldText>Business Location Information</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Addressz</name>
            <dataType>String</dataType>
            <fieldText>Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Cityz</name>
            <dataType>String</dataType>
            <fieldText>City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Statez</name>
            <dataType>String</dataType>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Zip_Codez</name>
            <dataType>String</dataType>
            <fieldText>Postal Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Collateral_Information</name>
        <label>Collateral Information</label>
        <locationX>965</locationX>
        <locationY>871</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Product_Reference</targetReference>
        </connector>
        <fields>
            <name>CollateralInformation</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Collateral Information&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Let&amp;apos;s collect some information about the collateral for this loan.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Value</name>
            <dataType>Currency</dataType>
            <fieldText>Collateral Value</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Amount_Pledged</name>
            <dataType>Currency</dataType>
            <fieldText>Amount Pledged</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Collateral_Type_Dependent_Picklist</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>LLC_BI__Collateral_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>LLC_BI__Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>LLC_BI__Subtype__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Collateral Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Collateral Sub-Type</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Collateral_Type_Text</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Collateral_SubType_Text</assignToReference>
                <name>middleValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Ownership_Percent</name>
            <dataType>Number</dataType>
            <fieldText>Ownership Percent</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Primary_Owner</name>
            <dataType>Boolean</dataType>
            <fieldText>Primary Owner</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Next_Steps_Screen</name>
        <label>Next Steps</label>
        <locationX>2009</locationX>
        <locationY>405</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NextStepsHeader</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:20px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You have successfully submitted a broker-originated application.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;1. Our team will review the application and reach a credit decision.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;2. You can view the loan at any time in the Partner Community in order to check its status, upload documents, and communicate with our team.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Request_Information</name>
        <label>Request Information</label>
        <locationX>760</locationX>
        <locationY>645</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Collateral</targetReference>
        </connector>
        <fields>
            <name>RequestInformation</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Loan Information&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Let&amp;apos;s collect some information about the loan.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Request_Name</name>
            <dataType>String</dataType>
            <fieldText>Request Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Borrower_Type</name>
            <choiceReferences>picklistchoiceBorrowerType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Borrower Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Amount Requested</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Product_Selection</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>LLC_BI__Loan__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>LLC_BI__Product_Line__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>LLC_BI__Product_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Product Line</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Product Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomPicklistApiName</name>
                <value>
                    <stringValue>LLC_BI__Product__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bottomLabel</name>
                <value>
                    <stringValue>Product</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Product_Line</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Product_Type</assignToReference>
                <name>middleValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Product</assignToReference>
                <name>bottomValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Create_Collateral_with_this_Request</name>
            <dataType>Boolean</dataType>
            <fieldText>Create Collateral with this Request</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_and_Submit_w_Collateral</name>
        <label>Review and Submit w Collateral</label>
        <locationX>1493</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Complete_Application</targetReference>
        </connector>
        <fields>
            <name>HeaderWCollateral</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Does everything look right?&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Let&amp;apos;s double check the information you entered.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BorrowerInfo</name>
            <fieldText>&lt;p&gt;Borrower: {!Business_Namez}&lt;/p&gt;&lt;p&gt;Address: {!Addressz} {!Cityz}, {!Statez}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProductInfo</name>
            <fieldText>Product: {!Product_Line} {!Product}
Loan Name: {!Request_Name}
Amount Requested: {!Amount}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CollateralInformation1</name>
            <fieldText>Collateral Description: {!Description}
Collateral Value: {!Value}
Ownership Percentage: {!Ownership_Percent}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_and_Submit_w_Collateral_0</name>
        <label>Review and Submit w Collateral</label>
        <locationX>1494</locationX>
        <locationY>162</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Complete_Application</targetReference>
        </connector>
        <fields>
            <name>HeaderWCollateral_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Does everything look right?&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Let&amp;apos;s double check the information you entered.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BorrowerInfo_0</name>
            <fieldText>Borrower: {!Business_Name}
Address: {!Address} {!City}, {!State}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProductInfo_0</name>
            <fieldText>Product: {!Product_Line} {!Product}
Loan Name: {!Request_Name}
Amount Requested: {!Amount}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CollateralInformation1_0</name>
            <fieldText>Collateral Description: {!Description}
Collateral Value: {!Value}
Ownership Percentage: {!Ownership_Percent}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_Submit</name>
        <label>Review &amp; Submit</label>
        <locationX>1492</locationX>
        <locationY>277</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Complete_Application</targetReference>
        </connector>
        <fields>
            <name>ReviewHeader</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Does everything look right?&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Let&amp;apos;s double check the information you entered.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BusinessName</name>
            <fieldText>&lt;p&gt;Borrower: {!Business_Namez}&lt;/p&gt;&lt;p&gt;Address: {!Addressz} {!Cityz}, {!Statez}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Product_Review</name>
            <fieldText>Product: {!Product_Line} {!Product}
Loan Name: {!Request_Name}
Amount Requested: {!Amount}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_Submit_0</name>
        <label>Review &amp; Submit</label>
        <locationX>1495</locationX>
        <locationY>407</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Complete_Application</targetReference>
        </connector>
        <fields>
            <name>ReviewHeader_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Does everything look right?&lt;FONT STYLE=&quot;font-size:12px&quot;&gt;&lt;/FONT&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Let&amp;apos;s double check the information you entered.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BusinessName_0</name>
            <fieldText>Borrower: {!Business_Name}
Address: {!Address} {!City}, {!State}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Product_Review_0</name>
            <fieldText>Product: {!Product_Line} {!Product}
Loan Name: {!Request_Name}
Amount Requested: {!Amount}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Start</name>
        <label>Start Application</label>
        <locationX>199</locationX>
        <locationY>56</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Current_User</targetReference>
        </connector>
        <fields>
            <name>StartStuff</name>
            <fieldText>Ready to get started?

In this workflow, we&apos;re going to confirm some of your information, as well as information from the requester.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <description>Application page 1</description>
        <name>Application</name>
        <isActive>false</isActive>
        <label>Application</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Next_Steps</name>
        <isActive>false</isActive>
        <label>Next Steps</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <name>Review_and_Submit</name>
        <isActive>false</isActive>
        <label>Review and Submit</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Review_and_Submit_Collateral</name>
        <isActive>false</isActive>
        <label>Review and Submit Collateral</label>
        <stageOrder>3</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Start</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AggregateID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the application in context</description>
        <name>ApplicationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ID of the Business Account created through the application</description>
        <name>BusinessAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Collateral_Mgmt_Record_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Collateral_SubType_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Collateral_Type_ID_Record_Var</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Collateral_Type__c</objectType>
    </variables>
    <variables>
        <name>Collateral_Type_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>User.AccountID for the running Community user context</description>
        <name>CurrentUserAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Contact ID directly associated with the Community User applying for campsite online.</description>
        <name>CurrentUserContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EntityInvolvementID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoanRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocaleVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Product</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Product_Line</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Product_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductReference</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
