flows/PB01_Issue_Control_Field_Updates.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Issue Control</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue> IF(OR(
TEXT([Issue_Control__c].Medical_UW_Approved__c ) =&apos;N/A&apos;,
TEXT([Issue_Control__c].Medical_UW_Approved__c ) =&apos;&apos;),&apos;&apos;,
TEXT([Issue_Control__c].Medical_UW_Approved__c )   
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_10_myRule_1_A2_8383391377</name>
        <dataType>String</dataType>
        <expression> IF(OR(
TEXT({!myVariable_current.Medical_UW_Approved__c} ) =&apos;N/A&apos;,
TEXT({!myVariable_current.Medical_UW_Approved__c} ) =&apos;&apos;),&apos;&apos;,
TEXT({!myVariable_current.Medical_UW_Approved__c} )   
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(OR(
TEXT([Issue_Control__c].New_Dept_Code__c  ) =&apos;N/A&apos;,
TEXT([Issue_Control__c].New_Dept_Code__c  ) =&apos;&apos;),&apos;&apos;,
TEXT([Issue_Control__c].New_Dept_Code__c  )   
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_11_myRule_1_A2_5602934627</name>
        <dataType>String</dataType>
        <expression>IF(OR(
TEXT({!myVariable_current.New_Dept_Code__c}  ) =&apos;N/A&apos;,
TEXT({!myVariable_current.New_Dept_Code__c}  ) =&apos;&apos;),&apos;&apos;,
TEXT({!myVariable_current.New_Dept_Code__c}  )   
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(OR(
[Issue_Control__c].Partial_Rates_Loaded__c = Date(1700,01,01),
[Issue_Control__c].Partial_Rates_Loaded__c  =NULL )
,NULL,
[Issue_Control__c].Partial_Rates_Loaded__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_12_myRule_1_A2_6006473418</name>
        <dataType>Date</dataType>
        <expression>IF(OR(
{!myVariable_current.Partial_Rates_Loaded__c} = Date(1700,01,01),
{!myVariable_current.Partial_Rates_Loaded__c}  =NULL )
,NULL,
{!myVariable_current.Partial_Rates_Loaded__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue> IF(OR(
[Issue_Control__c].Rates_Loaded__c = Date(1700,01,01),
[Issue_Control__c].Rates_Loaded__c =NULL )
,NULL,
[Issue_Control__c].Rates_Loaded__c) 
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_13_myRule_1_A2_3854178997</name>
        <dataType>Date</dataType>
        <expression> IF(OR(
{!myVariable_current.Rates_Loaded__c} = Date(1700,01,01),
{!myVariable_current.Rates_Loaded__c} =NULL )
,NULL,
{!myVariable_current.Rates_Loaded__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue> IF(OR(
[Issue_Control__c].Received_Date__c = Date(1700,01,01),
[Issue_Control__c].Received_Date__c =NULL )
,NULL,
[Issue_Control__c].Received_Date__c) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_14_myRule_1_A2_7980267752</name>
        <dataType>Date</dataType>
        <expression> IF(OR(
{!myVariable_current.Received_Date__c} = Date(1700,01,01),
{!myVariable_current.Received_Date__c} =NULL )
,NULL,
{!myVariable_current.Received_Date__c})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(OR(
TEXT([Issue_Control__c].Sent_Rates_to_Off_Shore__c  ) =&apos;N/A&apos;,
TEXT([Issue_Control__c].Sent_Rates_to_Off_Shore__c   ) =&apos;&apos;),&apos;&apos;,
TEXT([Issue_Control__c].Sent_Rates_to_Off_Shore__c )   
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_15_myRule_1_A2_0162870081</name>
        <dataType>String</dataType>
        <expression>IF(OR(
TEXT({!myVariable_current.Sent_Rates_to_Off_Shore__c}  ) =&apos;N/A&apos;,
TEXT({!myVariable_current.Sent_Rates_to_Off_Shore__c}   ) =&apos;&apos;),&apos;&apos;,
TEXT({!myVariable_current.Sent_Rates_to_Off_Shore__c} )   
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(OR(
TEXT([Issue_Control__c].Stage__c  ) =&apos;N/A&apos;,
TEXT([Issue_Control__c].Stage__c ) =&apos;&apos;),&apos;&apos;,
TEXT([Issue_Control__c].Stage__c  )   
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_16_myRule_1_A2_7168748284</name>
        <dataType>String</dataType>
        <expression>IF(OR(
TEXT({!myVariable_current.Stage__c}  ) =&apos;N/A&apos;,
TEXT({!myVariable_current.Stage__c} ) =&apos;&apos;),&apos;&apos;,
TEXT({!myVariable_current.Stage__c}  )   
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(OR( [Issue_Control__c].Suffix_Count__c = 99999,[Issue_Control__c].Suffix_Count__c  = Null), Null, [Issue_Control__c].Suffix_Count__c  )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_17_myRule_1_A2_1788378253</name>
        <dataType>Number</dataType>
        <expression>IF(OR( {!myVariable_current.Suffix_Count__c} = 99999,{!myVariable_current.Suffix_Count__c}  = Null), Null, {!myVariable_current.Suffix_Count__c}  )</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>DATETIMEVALUE(&quot;1700-01-01 12:00:00&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_18_myRule_1_A1_0554064550</name>
        <dataType>Date</dataType>
        <expression>DATETIMEVALUE(&quot;1700-01-01 12:00:00&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&apos;N/A&apos;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_19_myRule_1_A1_1870203455</name>
        <dataType>String</dataType>
        <expression>&apos;N/A&apos;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&apos;N/A&apos;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_20_myRule_1_A1_3861078754</name>
        <dataType>String</dataType>
        <expression>&apos;N/A&apos;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>DATETIMEVALUE(&quot;1700-01-01 12:00:00&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_21_myRule_1_A1_7938030969</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(&quot;1700-01-01 12:00:00&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&apos;N/A&apos;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_22_myRule_1_A1_3570053599</name>
        <dataType>String</dataType>
        <expression>&apos;N/A&apos;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>DATETIMEVALUE(&quot;1700-01-01 12:00:00&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_23_myRule_1_A1_0787631980</name>
        <dataType>Date</dataType>
        <expression>DATETIMEVALUE(&quot;1700-01-01 12:00:00&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>DATETIMEVALUE(&quot;1700-01-01 12:00:00&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_24_myRule_1_A1_2344073021</name>
        <dataType>Date</dataType>
        <expression>DATETIMEVALUE(&quot;1700-01-01 12:00:00&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&apos;N/A&apos;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_25_myRule_1_A1_9546490502</name>
        <dataType>String</dataType>
        <expression>&apos;N/A&apos;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&apos;N/A&apos;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_26_myRule_1_A1_3515720096</name>
        <dataType>String</dataType>
        <expression>&apos;N/A&apos;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>DATETIMEVALUE(&quot;1700-01-01 12:00:00&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_27_myRule_1_A1_0611293308</name>
        <dataType>Date</dataType>
        <expression>DATETIMEVALUE(&quot;1700-01-01 12:00:00&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>DATETIMEVALUE(&quot;1700-01-01 12:00:00&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_28_myRule_1_A1_2523077641</name>
        <dataType>Date</dataType>
        <expression>DATETIMEVALUE(&quot;1700-01-01 12:00:00&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>DATETIMEVALUE(&quot;1700-01-01 12:00:00&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_29_myRule_1_A1_2454333453</name>
        <dataType>Date</dataType>
        <expression>DATETIMEVALUE(&quot;1700-01-01 12:00:00&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(OR(
[Issue_Control__c].Bill_Requested__c  = Date(1700,01,01),
[Issue_Control__c].Bill_Requested__c  =NULL )
,NULL,
[Issue_Control__c].Bill_Requested__c  )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A2_0263735558</name>
        <dataType>Date</dataType>
        <expression>IF(OR(
{!myVariable_current.Bill_Requested__c}  = Date(1700,01,01),
{!myVariable_current.Bill_Requested__c}  =NULL )
,NULL,
{!myVariable_current.Bill_Requested__c}  )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&apos;N/A&apos;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_30_myRule_1_A1_2442947855</name>
        <dataType>String</dataType>
        <expression>&apos;N/A&apos;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&apos;N/A&apos;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_31_myRule_1_A1_0467859201</name>
        <dataType>String</dataType>
        <expression>&apos;N/A&apos;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(OR(
TEXT([Issue_Control__c].Bypass_ID_Cards__c ) =&apos;N/A&apos;,
TEXT([Issue_Control__c].Bypass_ID_Cards__c ) =&apos;&apos;),&apos;&apos;,
TEXT([Issue_Control__c].Bypass_ID_Cards__c )   
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A2_5373877867</name>
        <dataType>String</dataType>
        <expression>IF(OR(
TEXT({!myVariable_current.Bypass_ID_Cards__c} ) =&apos;N/A&apos;,
TEXT({!myVariable_current.Bypass_ID_Cards__c} ) =&apos;&apos;),&apos;&apos;,
TEXT({!myVariable_current.Bypass_ID_Cards__c} )   
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(OR(
TEXT([Issue_Control__c].CalCobra_Dept__c  ) =&apos;N/A&apos;,
TEXT([Issue_Control__c].CalCobra_Dept__c  ) =&apos;&apos;),&apos;&apos;,
TEXT([Issue_Control__c].CalCobra_Dept__c  )   
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_1_A2_5546786610</name>
        <dataType>String</dataType>
        <expression>IF(OR(
TEXT({!myVariable_current.CalCobra_Dept__c}  ) =&apos;N/A&apos;,
TEXT({!myVariable_current.CalCobra_Dept__c}  ) =&apos;&apos;),&apos;&apos;,
TEXT({!myVariable_current.CalCobra_Dept__c}  )   
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(OR(
[Issue_Control__c].Comments__c =&apos;N/A&apos;,
[Issue_Control__c].Comments__c  =&apos;&apos;),&apos;&apos;,
[Issue_Control__c].Comments__c        
)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_1_A2_4417993381</name>
        <dataType>String</dataType>
        <expression>IF(OR(
{!myVariable_current.Comments__c} =&apos;N/A&apos;,
{!myVariable_current.Comments__c}  =&apos;&apos;),&apos;&apos;,
{!myVariable_current.Comments__c}        
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(OR(
[Issue_Control__c].Completed_Date__c   = DATETIMEVALUE( &quot;1700-01-01 12:00:00&quot; ),
[Issue_Control__c].Completed_Date__c   =NULL    )
,NULL,
[Issue_Control__c].Completed_Date__c  )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_1_A2_0225010940</name>
        <dataType>DateTime</dataType>
        <expression>IF(OR(
{!myVariable_current.Completed_Date__c}   = DATETIMEVALUE( &quot;1700-01-01 12:00:00&quot; ),
{!myVariable_current.Completed_Date__c}   =NULL    )
,NULL,
{!myVariable_current.Completed_Date__c}  )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(OR(
TEXT([Issue_Control__c].EA_Notified__c ) =&apos;N/A&apos;,
TEXT([Issue_Control__c].EA_Notified__c ) =&apos;&apos;),&apos;&apos;,
TEXT([Issue_Control__c].EA_Notified__c )   
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_1_A2_5732410489</name>
        <dataType>String</dataType>
        <expression>IF(OR(
TEXT({!myVariable_current.EA_Notified__c} ) =&apos;N/A&apos;,
TEXT({!myVariable_current.EA_Notified__c} ) =&apos;&apos;),&apos;&apos;,
TEXT({!myVariable_current.EA_Notified__c} )   
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue> IF(OR(
[Issue_Control__c].Group_Loaded__c= Date(1700,01,01),
[Issue_Control__c].Group_Loaded__c  =NULL )
,NULL,
[Issue_Control__c].Group_Loaded__c ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_8_myRule_1_A2_9321176070</name>
        <dataType>Date</dataType>
        <expression> IF(OR(
{!myVariable_current.Group_Loaded__c}= Date(1700,01,01),
{!myVariable_current.Group_Loaded__c}  =NULL )
,NULL,
{!myVariable_current.Group_Loaded__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue> IF(OR(
[Issue_Control__c].ID_Card_Requested__c= Date(1700,01,01),
[Issue_Control__c].ID_Card_Requested__c  =NULL )
,NULL,
[Issue_Control__c].ID_Card_Requested__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_9_myRule_1_A2_3457533255</name>
        <dataType>Date</dataType>
        <expression> IF(OR(
{!myVariable_current.ID_Card_Requested__c}= Date(1700,01,01),
{!myVariable_current.ID_Card_Requested__c}  =NULL )
,NULL,
{!myVariable_current.ID_Card_Requested__c} )</expression>
    </formulas>
    <formulas>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <interviewLabel>PB01_Issue_Control_Field_Updates-13_InterviewLabel</interviewLabel>
    <label>PB01 Issue Control Field Updates</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Issue_Control__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Issue_Control__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>NO-Post Issue Control</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Is Issue Control Applicable?</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Is_Issue_Control_Applicable__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Bill Requested</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Bill_Requested__c</field>
            <value>
                <elementReference>formula_18_myRule_1_A1_0554064550</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Bypass ID Cards</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Bypass_ID_Cards__c</field>
            <value>
                <elementReference>formula_19_myRule_1_A1_1870203455</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>CalCobra Dept</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>CalCobra_Dept__c</field>
            <value>
                <elementReference>formula_20_myRule_1_A1_3861078754</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Comments</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Comments__c</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Completed Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Completed_Date__c</field>
            <value>
                <elementReference>formula_21_myRule_1_A1_7938030969</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>EA Notified</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>EA_Notified__c</field>
            <value>
                <elementReference>formula_22_myRule_1_A1_3570053599</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Group Loaded</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Group_Loaded__c</field>
            <value>
                <elementReference>formula_23_myRule_1_A1_0787631980</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>ID Card Requested</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ID_Card_Requested__c</field>
            <value>
                <elementReference>formula_24_myRule_1_A1_2344073021</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Medical UW Approved</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Medical_UW_Approved__c</field>
            <value>
                <elementReference>formula_25_myRule_1_A1_9546490502</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>New Dept. Code</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>New_Dept_Code__c</field>
            <value>
                <elementReference>formula_26_myRule_1_A1_3515720096</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Partial Rates Loaded</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Partial_Rates_Loaded__c</field>
            <value>
                <elementReference>formula_27_myRule_1_A1_0611293308</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Rates Loaded</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Rates_Loaded__c</field>
            <value>
                <elementReference>formula_28_myRule_1_A1_2523077641</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Received Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Received_Date__c</field>
            <value>
                <elementReference>formula_29_myRule_1_A1_2454333453</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Sent Rates to Off-Shore</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Sent_Rates_to_Off_Shore__c</field>
            <value>
                <elementReference>formula_30_myRule_1_A1_2442947855</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Stage</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Stage__c</field>
            <value>
                <elementReference>formula_31_myRule_1_A1_0467859201</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Suffix Count</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <field>Suffix_Count__c</field>
            <value>
                <numberValue>99999.0</numberValue>
            </value>
        </inputAssignments>
        <object>Issue_Control__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Issue_Control__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Yes-Post Issue Control</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Is Issue Control Applicable?</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Is_Issue_Control_Applicable__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Bill Requested</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Bill_Requested__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A2_0263735558</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Bypass ID Cards</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Bypass_ID_Cards__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A2_5373877867</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>CalCobra Dept</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>CalCobra_Dept__c</field>
            <value>
                <elementReference>formula_4_myRule_1_A2_5546786610</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Comments</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Comments__c</field>
            <value>
                <elementReference>formula_5_myRule_1_A2_4417993381</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Completed Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Completed_Date__c</field>
            <value>
                <elementReference>formula_6_myRule_1_A2_0225010940</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>EA Notified</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>EA_Notified__c</field>
            <value>
                <elementReference>formula_7_myRule_1_A2_5732410489</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Group Loaded</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Group_Loaded__c</field>
            <value>
                <elementReference>formula_8_myRule_1_A2_9321176070</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>ID Card Requested</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ID_Card_Requested__c</field>
            <value>
                <elementReference>formula_9_myRule_1_A2_3457533255</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Medical UW Approved</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Medical_UW_Approved__c</field>
            <value>
                <elementReference>formula_10_myRule_1_A2_8383391377</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>New Dept. Code</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>New_Dept_Code__c</field>
            <value>
                <elementReference>formula_11_myRule_1_A2_5602934627</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Partial Rates Loaded</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Partial_Rates_Loaded__c</field>
            <value>
                <elementReference>formula_12_myRule_1_A2_6006473418</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Rates Loaded</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Rates_Loaded__c</field>
            <value>
                <elementReference>formula_13_myRule_1_A2_3854178997</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Received Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Received_Date__c</field>
            <value>
                <elementReference>formula_14_myRule_1_A2_7980267752</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Sent Rates to Off-Shore</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Sent_Rates_to_Off_Shore__c</field>
            <value>
                <elementReference>formula_15_myRule_1_A2_0162870081</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Stage</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Stage__c</field>
            <value>
                <elementReference>formula_16_myRule_1_A2_7168748284</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Suffix Count</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Suffix_Count__c</field>
            <value>
                <elementReference>formula_17_myRule_1_A2_1788378253</elementReference>
            </value>
        </inputAssignments>
        <object>Issue_Control__c</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Issue_Control__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Issue_Control__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
