flows/Retrieve_Pricing_Options.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Increment_Pricing_Options_Count</name>
        <label>Increment Pricing Options Count</label>
        <locationX>737</locationX>
        <locationY>186</locationY>
        <assignmentItems>
            <assignToReference>Pricing_Options_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Pricing_Option</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Options_Found</name>
        <label>No Options Found</label>
        <locationX>633</locationX>
        <locationY>505</locationY>
        <assignmentItems>
            <assignToReference>Reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Options Found</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>optionsReturned</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Options_Found</name>
        <label>Options Found</label>
        <locationX>424</locationX>
        <locationY>504</locationY>
        <assignmentItems>
            <assignToReference>optionsReturned</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Credit_Score</name>
        <label>Set Credit Score</label>
        <locationX>523</locationX>
        <locationY>35</locationY>
        <assignmentItems>
            <assignToReference>CreditScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.LLC_BI__FICO_Score__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoanAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan.LLC_BI__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Pricing_Logic</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Rate10</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Rate11</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>11.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Rate12</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>12.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Rate13</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>13.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Rate14</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>14.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Rate8</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>8.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Rate8_5</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>8.5</numberValue>
        </value>
    </constants>
    <constants>
        <name>Rate9</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>9.5</numberValue>
        </value>
    </constants>
    <constants>
        <name>Rate9_5</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>9.5</numberValue>
        </value>
    </constants>
    <constants>
        <name>Term12</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>12.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Term24</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>24.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Term36</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>36.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Term48</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>48.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Term60</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>60.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Has_Results</name>
        <label>Has Results</label>
        <locationX>524</locationX>
        <locationY>374</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Results_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pricing_Options_Count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Options_Found</targetReference>
            </connector>
            <label>Results Found</label>
        </rules>
        <rules>
            <name>No_Results_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pricing_Options_Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Options_Found</targetReference>
            </connector>
            <label>No Results Found</label>
        </rules>
    </decisions>
    <description>This Flow references pricing variables from the Pricing Matrix object to create Pricing Option records. Given relevant loan, product, and account information, the Pricing Option record includes Interest Rate and Term.</description>
    <interviewLabel>Calculate Pricing Options</interviewLabel>
    <label>Retrieve_Pricing_Options</label>
    <loops>
        <name>Process_Pricing_Logic</name>
        <label>Process Pricing Logic</label>
        <locationX>522</locationX>
        <locationY>250</locationY>
        <assignNextValueToReference>Pricing_Matrix_Row</assignNextValueToReference>
        <collectionReference>Pricing_Matrix</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_Pricing_Options_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_Results</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Pricing_Option</name>
        <label>Create Pricing Option</label>
        <locationX>737</locationX>
        <locationY>298</locationY>
        <connector>
            <targetReference>Process_Pricing_Logic</targetReference>
        </connector>
        <inputAssignments>
            <field>LLC_BI__Loan_Amount__c</field>
            <value>
                <elementReference>LoanAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Loan__c</field>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Rate__c</field>
            <value>
                <elementReference>Pricing_Matrix_Row.LLC_BI__Interest_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Term__c</field>
            <value>
                <elementReference>Pricing_Matrix_Row.LLC_BI__Term_Months__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Pricing_Matrix_Row.LLC_BI__Product_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Pricing_Option__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Pricing_Logic</name>
        <label>Find Pricing Logic</label>
        <locationX>521</locationX>
        <locationY>145</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Process_Pricing_Logic</targetReference>
        </connector>
        <filters>
            <field>LLC_BI__Credit_Score_Maximum__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>CreditScore</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Credit_Score_Minimum__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>CreditScore</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Loan_Value_Maximum__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>LoanAmount</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Loan_Value_Minimum__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>LoanAmount</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Product_Line_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loan.LLC_BI__Product_Line__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Product_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loan.LLC_BI__Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Product_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loan.LLC_BI__Product_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.LLC_BI__Region__c</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Pricing_Matrix__c</object>
        <outputReference>Pricing_Matrix</outputReference>
        <queriedFields>LLC_BI__Term_Months__c</queriedFields>
        <queriedFields>LLC_BI__Interest_Rate__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__Product_Line_Name__c</queriedFields>
        <queriedFields>LLC_BI__Product_Name__c</queriedFields>
        <queriedFields>LLC_BI__Product_Type_Name__c</queriedFields>
        <sortField>LLC_BI__Term_Months__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Account</name>
        <label>Lookup Account</label>
        <locationX>350</locationX>
        <locationY>33</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Credit_Score</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loan.LLC_BI__Account__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Account</outputReference>
        <queriedFields>LLC_BI__FICO_Score__c</queriedFields>
        <queriedFields>LLC_BI__Region__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Loan</name>
        <label>Lookup Loan</label>
        <locationX>180</locationX>
        <locationY>33</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Loan__c</object>
        <outputReference>Loan</outputReference>
        <queriedFields>LLC_BI__Account__c</queriedFields>
        <queriedFields>LLC_BI__Amount__c</queriedFields>
        <queriedFields>LLC_BI__Product_Line__c</queriedFields>
        <queriedFields>LLC_BI__Product_Type__c</queriedFields>
        <queriedFields>LLC_BI__Product__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Lookup_Loan</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CreditScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>The loan</description>
        <name>Loan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
    <variables>
        <description>The amount requested for the loan.</description>
        <name>LoanAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>The Id of the Loan</description>
        <name>LoanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>optionsReturned</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>A collection of Pricing Matrix records discovered through Record Lookup (Find Pricing Matrix)</description>
        <name>Pricing_Matrix</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Pricing_Matrix__c</objectType>
    </variables>
    <variables>
        <description>One of the Pricing Matrix records retrieved that applies to Loan, Account, and Product selections</description>
        <name>Pricing_Matrix_Row</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Pricing_Matrix__c</objectType>
    </variables>
    <variables>
        <description>Counts the number of discovered Pricing Option rules in the Product Matrix table.</description>
        <name>Pricing_Options_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Reason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
