flows/Risk_Grade_Criteria_Assignment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Qual_Assignment_to_Risk_Grade</name>
        <label>Qual Assignment to Risk Grade</label>
        <locationX>433</locationX>
        <locationY>220</locationY>
        <assignmentItems>
            <assignToReference>riskGradeValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopRiskGradeCriteria.Risk_Grade_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Qual_Assignment_to_Risk_Grade_0</name>
        <label>Qual Assignment to Risk Grade</label>
        <locationX>1136</locationX>
        <locationY>522</locationY>
        <assignmentItems>
            <assignToReference>riskGradeValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopRiskGradeCriteria.Risk_Grade_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Criteria</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Qualitative_Match</name>
        <label>Qualitative Match</label>
        <locationX>607</locationX>
        <locationY>79</locationY>
        <defaultConnector>
            <targetReference>Loop_Thru_Criteria</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match</defaultConnectorLabel>
        <rules>
            <name>Qual_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopRiskGradeCriteria.LLC_BI__Description__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Risk_Grade_Factor_Value.LLC_BI__Qualitative_Value__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Qual_Assignment_to_Risk_Grade</targetReference>
            </connector>
            <label>Qual Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Qualitative_or_Quantitative</name>
        <label>Qualitative or Quantitative?</label>
        <locationX>917</locationX>
        <locationY>212</locationY>
        <defaultConnector>
            <targetReference>Loop_Thru_Criteria</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match</defaultConnectorLabel>
        <rules>
            <name>Qualitative</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Risk_Grade_Factor_Value.LLC_BI__Qualitative_Value__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Qualitative_Match</targetReference>
            </connector>
            <label>Qualitative</label>
        </rules>
        <rules>
            <name>Quantitative</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Risk_Grade_Factor_Value.LLC_BI__Quantitative_Value__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quantitative_Match</targetReference>
            </connector>
            <label>Quantitative</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quantitative_Match</name>
        <label>Quantitative Match</label>
        <locationX>1127</locationX>
        <locationY>314</locationY>
        <defaultConnector>
            <targetReference>Loop_Thru_Criteria</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match</defaultConnectorLabel>
        <rules>
            <name>Quant_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopRiskGradeCriteria.LLC_BI__High__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Risk_Grade_Factor_Value.LLC_BI__Quantitative_Value__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopRiskGradeCriteria.LLC_BI__Low__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Risk_Grade_Factor_Value.LLC_BI__Quantitative_Value__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Qual_Assignment_to_Risk_Grade_0</targetReference>
            </connector>
            <label>Quant Match</label>
        </rules>
    </decisions>
    <description>Looks up Risk Grade Criteria starting from Risk Grade Factor Value</description>
    <interviewLabel>Risk Grade Criteria Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Risk Grade Criteria Assignment</label>
    <loops>
        <name>Loop_Thru_Criteria</name>
        <label>Loop Thru Criteria</label>
        <locationX>661</locationX>
        <locationY>405</locationY>
        <assignNextValueToReference>loopRiskGradeCriteria</assignNextValueToReference>
        <collectionReference>Risk_Grade_Criterias</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Qualitative_or_Quantitative</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Risk_Grade_Template</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Risk_Grade_Criterias</name>
        <label>Risk Grade Criterias</label>
        <locationX>117</locationX>
        <locationY>373</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Thru_Criteria</targetReference>
        </connector>
        <filters>
            <field>LLC_BI__Risk_Grade_Factor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Risk_Grade_Factor.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Risk_Grade_Criteria__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Risk_Grade_Factor</name>
        <label>Risk Grade Factor</label>
        <locationX>169</locationX>
        <locationY>212</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Risk_Grade_Criterias</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Risk_Grade_Factor_Value.LLC_BI__Risk_Grade_Factor__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Risk_Grade_Factor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Risk_Grade_Factor_Value</name>
        <label>Risk Grade Factor Value</label>
        <locationX>184</locationX>
        <locationY>17</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Risk_Grade_Factor</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>riskGradeFactorValueID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Risk_Grade_Factor_Value__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Risk_Grade_Template</name>
        <label>Risk Grade Template</label>
        <locationX>595</locationX>
        <locationY>608</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Risk_Grade_Factor_Value</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Risk_Grade_Factor.LLC_BI__Risk_Grade_Template__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Risk_Grade_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Risk_Grade_Factor_Value</name>
        <label>Risk Grade Factor Value</label>
        <locationX>867</locationX>
        <locationY>718</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Risk_Grade_Factor_Value.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LLC_BI__Annual_Review__c</field>
            <value>
                <elementReference>Risk_Grade_Template.LLC_BI__Risk_Rating_Review__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Risk_Grade_Template__c</field>
            <value>
                <elementReference>Risk_Grade_Template.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risk_Grade_Raw_Value__c</field>
            <value>
                <elementReference>riskGradeValue</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Risk_Grade_Factor_Value__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Risk_Grade_Factor_Value</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>loopRiskGradeCriteria</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Risk_Grade_Criteria__c</objectType>
    </variables>
    <variables>
        <name>qualitativeTrue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>riskGradeFactorValueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>riskGradeValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
