flows/ScoreIndividualAccount.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_0_Stars_For_Credit_Score</name>
        <label>Add 0 Stars</label>
        <locationX>8</locationX>
        <locationY>481</locationY>
        <assignmentItems>
            <assignToReference>Score</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Risk_Grade_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_1_Star_For_Credit_Score</name>
        <label>Add 1 Star</label>
        <locationX>156</locationX>
        <locationY>480</locationY>
        <assignmentItems>
            <assignToReference>Score</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Risk_Grade_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_1_Star_For_Debt_Service_Coverage</name>
        <label>Add 1 Star</label>
        <locationX>457</locationX>
        <locationY>773</locationY>
        <assignmentItems>
            <assignToReference>Score</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loan_Credit_Report</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_1_Star_For_Risk_Grade</name>
        <label>Add 1 Star</label>
        <locationX>451</locationX>
        <locationY>655</locationY>
        <assignmentItems>
            <assignToReference>Score</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Debt_Service_Coverage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_2_Stars_For_Credit_Score</name>
        <label>Add 2 Stars</label>
        <locationX>295</locationX>
        <locationY>478</locationY>
        <assignmentItems>
            <assignToReference>Score</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Risk_Grade_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_3_Stars_For_Credit_Score</name>
        <label>Add 3 Stars</label>
        <locationX>434</locationX>
        <locationY>479</locationY>
        <assignmentItems>
            <assignToReference>Score</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Risk_Grade_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Points</name>
        <label>Add Points</label>
        <locationX>428</locationX>
        <locationY>1413</locationY>
        <assignmentItems>
            <assignToReference>Score</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Credit_Score_Required</name>
        <label>Credit Score Required</label>
        <locationX>446</locationX>
        <locationY>46</locationY>
        <assignmentItems>
            <assignToReference>Result</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Information Required</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Credit Score</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Minus_1_Star_Past_Bankruptcy_Yes</name>
        <label>Minus 1 Star</label>
        <locationX>449</locationX>
        <locationY>1226</locationY>
        <assignmentItems>
            <assignToReference>Score</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Mary_West_over_50k</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Evaluate_Credit_Score</name>
        <label>Evaluate Credit Score</label>
        <locationX>217</locationX>
        <locationY>318</locationY>
        <defaultConnector>
            <targetReference>Add_3_Stars_For_Credit_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>800+</defaultConnectorLabel>
        <rules>
            <name>Evaluate_Credit_Score_Less_690</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.LLC_BI__FICO_Score__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>690.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_0_Stars_For_Credit_Score</targetReference>
            </connector>
            <label>Below 690</label>
        </rules>
        <rules>
            <name>Evaluate_Credit_Score_690_to_750</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.LLC_BI__FICO_Score__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>690.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account.LLC_BI__FICO_Score__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>750.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_1_Star_For_Credit_Score</targetReference>
            </connector>
            <label>690 to 750</label>
        </rules>
        <rules>
            <name>Evaluate_Credit_Score_750_to_800</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.LLC_BI__FICO_Score__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>750.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account.LLC_BI__FICO_Score__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>800.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_2_Stars_For_Credit_Score</targetReference>
            </connector>
            <label>750 to 800</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Debt_Service_Coverage</name>
        <label>Evaluate Debt Service Coverage</label>
        <locationX>215</locationX>
        <locationY>779</locationY>
        <defaultConnector>
            <targetReference>Loan_Credit_Report</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>lower than 100%</defaultConnectorLabel>
        <rules>
            <name>Evaluate_Debt_Service_Coverage_High</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.LLC_BI__Debt_Service_Coverage__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_1_Star_For_Debt_Service_Coverage</targetReference>
            </connector>
            <label>100% or higher</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Past_Bankruptcy</name>
        <label>Evaluate Past Bankruptcy</label>
        <locationX>209</locationX>
        <locationY>1230</locationY>
        <defaultConnector>
            <targetReference>Is_Mary_West_over_50k</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Evaluate_Past_Bankruptcy_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CreditReport.nFUSE__Bankruptcy_Indicator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Minus_1_Star_Past_Bankruptcy_Yes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Risk_Grade_1</name>
        <label>Evaluate Risk Grade</label>
        <locationX>218</locationX>
        <locationY>637</locationY>
        <defaultConnector>
            <targetReference>Evaluate_Debt_Service_Coverage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Larger than 5</defaultConnectorLabel>
        <rules>
            <name>Evaluate_Risk_Grade</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.LLC_BI__Risk_Rating_Review_Grade__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_1_Star_For_Risk_Grade</targetReference>
            </connector>
            <label>5 and lower</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Credit_Score</name>
        <label>Has Credit Score</label>
        <locationX>217</locationX>
        <locationY>42</locationY>
        <defaultConnector>
            <targetReference>Credit_Score_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Has_Credit_Score_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.LLC_BI__FICO_Score__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Evaluate_Credit_Score</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Mary_West_over_50k</name>
        <label>Is Mary West over 50k?</label>
        <locationX>195</locationX>
        <locationY>1372</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mary_West_Income_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.FirstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mary</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact.LLC_BI__Annual_Income__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>50000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Points</targetReference>
            </connector>
            <label>Mary West Income Check</label>
        </rules>
    </decisions>
    <interviewLabel>ScoreIndividualAccount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ScoreIndividualAccount</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>213</locationX>
        <locationY>1096</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Evaluate_Past_Bankruptcy</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__Annual_Income__c</queriedFields>
        <queriedFields>LLC_BI__Monthly_Income__c</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Loan_Credit_Report</name>
        <label>Loan Credit Report</label>
        <locationX>218</locationX>
        <locationY>946</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.LLC_BI__FICO_Credit_Report__c</elementReference>
            </value>
        </filters>
        <object>nFUSE__Credit_Report__c</object>
        <outputReference>CreditReport</outputReference>
        <queriedFields>nFUSE__Bankruptcy_Indicator__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Has_Credit_Score</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CreditReport</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>nFUSE__Credit_Report__c</objectType>
    </variables>
    <variables>
        <name>CreditScoreDaysValid</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>30.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PastBankruptcy</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ResultDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Score</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
