flows/Sherman_Calculation_And_Create_Proposed_Debt.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>This action deletes the existing proposed loan debts related to the loan if there are any, and generates the proposed loan debt for the loan.</description>
        <name>Generate_Proposed_Loan_Debt</name>
        <label>Generate Proposed Loan Debt</label>
        <locationX>864</locationX>
        <locationY>219</locationY>
        <actionName>nRetail__GenerateProposedLoanDebt</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Workflow_Orchestration_Step</targetReference>
        </connector>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loanId</name>
            <value>
                <elementReference>Loan.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>This action performs a callout to the Sherman service and updates the associated pricing option.</description>
        <name>Perform_Sherman_Calculation</name>
        <label>Perform Sherman Calculation</label>
        <locationX>454</locationX>
        <locationY>50</locationY>
        <actionName>SCALC__ShermanCalculation</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Lookup_Loan</targetReference>
        </connector>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>PricingOptionRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>persistData</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestXMLOnly</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <constants>
        <name>OrchestrationConstantComplete</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Complete</stringValue>
        </value>
    </constants>
    <description>The workflow orchestration step triggers this flow and performs a sherman calculation to update the relevant pricing object and creates a debt record.</description>
    <interviewLabel>Sherman Calculation And Create Proposed Debt {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sherman_Calculation_And_Create_Proposed_Debt</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>This action retrieves the Pricing Option record whose Loan Id matches the workflow orchestration context Id.</description>
        <name>Get_Pricing_Option_Record</name>
        <label>Get Pricing Option Record</label>
        <locationX>320</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Perform_Sherman_Calculation</targetReference>
        </connector>
        <filters>
            <field>LLC_BI__Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkflowOrchestrationRecord.nFORCE__Context_Id__c</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Pricing_Option__c</object>
        <outputReference>PricingOptionRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>This action retrieves the workflow orchestration record for this flow.</description>
        <name>Get_Workflow_Orchestration_Record</name>
        <label>Get Workflow Orchestration Record</label>
        <locationX>188</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pricing_Option_Record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>StepObjId</elementReference>
            </value>
        </filters>
        <object>nFORCE__Workflow_Orchestration__c</object>
        <outputReference>WorkflowOrchestrationRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>nFORCE__Context_Id__c</queriedFields>
        <queriedFields>nFORCE__Orchestration_Step__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Account</name>
        <label>Lookup Account</label>
        <locationX>722</locationX>
        <locationY>219</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_Proposed_Loan_Debt</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loan.LLC_BI__Account__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Account</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Loan</name>
        <label>Lookup Loan</label>
        <locationX>601</locationX>
        <locationY>219</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkflowOrchestrationRecord.nFORCE__Context_Id__c</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Loan__c</object>
        <outputReference>Loan</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__Account__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>This action sets a new workflow orchestration step.</description>
        <name>Set_Workflow_Orchestration_Step</name>
        <label>Set Workflow Orchestration Step</label>
        <locationX>1018</locationX>
        <locationY>219</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkflowOrchestrationRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>nFORCE__Orchestration_Step__c</field>
            <value>
                <elementReference>OrchestrationConstantComplete</elementReference>
            </value>
        </inputAssignments>
        <object>nFORCE__Workflow_Orchestration__c</object>
    </recordUpdates>
    <startElementReference>Get_Workflow_Orchestration_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Loan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
    <variables>
        <name>PricingOptionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Pricing_Option__c</objectType>
    </variables>
    <variables>
        <name>StepObjId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkflowOrchestrationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>nFORCE__Workflow_Orchestration__c</objectType>
    </variables>
</Flow>
