flows/SME_Email_POC_1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SME_User_Data_email</name>
        <label>SME User Data email</label>
        <locationX>879</locationX>
        <locationY>327</locationY>
        <actionName>SME_User_Data__c.Automated_Email_Reminder_to_SME_USER_DATA</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>SME_User_EMail_Loop</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SMEUserrecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <formulas>
        <name>smeuseremail</name>
        <dataType>String</dataType>
        <expression>{!SMEUsers.00N4100000emfv9}</expression>
    </formulas>
    <interviewLabel>SME Email POC 1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SME Email POC 1</label>
    <loops>
        <name>SME_User_EMail_Loop</name>
        <label>SME User EMail Loop</label>
        <locationX>674</locationX>
        <locationY>307</locationY>
        <assignNextValueToReference>SMEUserrecord</assignNextValueToReference>
        <collectionReference>SMEUsers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SME_User_Data_email</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Users</name>
        <label>Find Users</label>
        <locationX>446</locationX>
        <locationY>317</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SME_User_EMail_Loop</targetReference>
        </connector>
        <filters>
            <field>Claim_System_Text__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>CurrentSMERecord.Claims_System__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Department_Text2__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>CurrentSMERecord.SME_Department__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Region_Text__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>CurrentSMERecord.Region__c</elementReference>
            </value>
        </filters>
        <object>SME_User_Data__c</object>
        <outputReference>SMEUsers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SME_Email__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SME_Tracking_Record</name>
        <label>Get SME Tracking Record</label>
        <locationX>155</locationX>
        <locationY>257</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Users</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IncomingSmeApproval</elementReference>
            </value>
        </filters>
        <object>SME_Approvals__c</object>
        <outputReference>CurrentSMERecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Claims_System__c</queriedFields>
        <queriedFields>SME_Department__c</queriedFields>
        <queriedFields>Region__c</queriedFields>
    </recordLookups>
    <startElementReference>Get_SME_Tracking_Record</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>Emailtemplate</name>
        <text>This is the email template</text>
    </textTemplates>
    <variables>
        <name>CurrentSMERecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SME_Approvals__c</objectType>
    </variables>
    <variables>
        <name>IncomingSmeApproval</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SMEUserrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SME_User_Data__c</objectType>
    </variables>
    <variables>
        <name>SMEUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SME_User_Data__c</objectType>
    </variables>
</Flow>
