flows/Update_Relationship.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Type_of_Business</name>
        <label>Type of Business?</label>
        <locationX>652</locationX>
        <locationY>157</locationY>
        <defaultConnector>
            <targetReference>Link_nSight_Financial</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Business</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Relationship.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corporation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Relationship.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Limited Liability Company</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Relationship.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Limited Partnership</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Relationship.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Municipality</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Relationship.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partnership</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Relationship.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trust</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Link_nSight_Financial</targetReference>
            </connector>
            <label>Business</label>
        </rules>
        <rules>
            <name>Individual</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Relationship.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individual</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Relationship.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sole Proprietorship</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Link_nSight_Financial_Personal</targetReference>
            </connector>
            <label>Individual</label>
        </rules>
    </decisions>
    <description>Updates the Financial institution of a relationship based off of the relationship type</description>
    <interviewLabel>Update Relationship {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Relationship</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>nSight_Financial_Institution</name>
        <label>nSight Financial Institution</label>
        <locationX>243</locationX>
        <locationY>77</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>nSight_Financial_Personal_Institution</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>nSight Financial</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Institution__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>nSight_Financial_Personal_Institution</name>
        <label>nSight Financial Personal Institution</label>
        <locationX>451</locationX>
        <locationY>118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Type_of_Business</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>nSight Financial Personal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Institution__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Relationship</name>
        <label>Relationship</label>
        <locationX>93</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>nSight_Financial_Institution</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>relationshipId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Link_nSight_Financial</name>
        <label>Link nSight Financial</label>
        <locationX>925</locationX>
        <locationY>79</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>relationshipId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LLC_BI__Institution__c</field>
            <value>
                <elementReference>nSight_Financial_Institution.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Link_nSight_Financial_Personal</name>
        <label>Link nSight Financial Personal</label>
        <locationX>732</locationX>
        <locationY>395</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>relationshipId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LLC_BI__Institution__c</field>
            <value>
                <elementReference>nSight_Financial_Personal_Institution.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Relationship</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>Id of the relationship record that started the flow</description>
        <name>relationshipId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
