flows/Z_UK_Update_Org.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Collateral_Types</name>
        <label>Add Collateral Types</label>
        <locationX>2288</locationX>
        <locationY>310</locationY>
        <assignmentItems>
            <assignToReference>SCVupdatecollateraltyperecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopedCollateralTypesRealEstate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Collateral_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Route_Tiles_for_UK</name>
        <label>Add Route Tiles for UK</label>
        <locationX>2283</locationX>
        <locationY>523</locationY>
        <assignmentItems>
            <assignToReference>SCVupdateneedhelproutetiles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopedNeedHelpRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_all_Need_Help_Route_Tiles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Tenant_Information_Values</name>
        <label>Add Tenant Information Values</label>
        <locationX>2311</locationX>
        <locationY>859</locationY>
        <assignmentItems>
            <assignToReference>SCVupdatedtenantinformation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopedTenantInformation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Tenant_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Tenant_Information_Values_0</name>
        <label>Add Tenant Information Values</label>
        <locationX>2142</locationX>
        <locationY>1089</locationY>
        <assignmentItems>
            <assignToReference>SCVupdatedtenantinformation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopedTenantInformation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Tenant_Information_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Tenant_Information_Values_0_0</name>
        <label>Add Tenant Information Values</label>
        <locationX>2893</locationX>
        <locationY>216</locationY>
        <assignmentItems>
            <assignToReference>SCVupdatedtenantinformation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopedTenantInformation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Tenant_Information_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Tenant_Information_Values_0_0_1</name>
        <label>Add Tenant Information Values</label>
        <locationX>2897</locationX>
        <locationY>325</locationY>
        <assignmentItems>
            <assignToReference>SCVupdatedtenantinformation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopedTenantInformation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Tenant_Information_0_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Tenant_Information_Values_0_0_1_1</name>
        <label>Add Tenant Information Values</label>
        <locationX>2744</locationX>
        <locationY>532</locationY>
        <assignmentItems>
            <assignToReference>SCVupdatedtenantinformation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopedTenantInformation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Tenant_Information_0_0_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Tenant_Information_Values_0_0_1_1_1</name>
        <label>Add Tenant Information Values</label>
        <locationX>2901</locationX>
        <locationY>757</locationY>
        <assignmentItems>
            <assignToReference>SCVupdatedtenantinformation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopedTenantInformation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Tenant_Information_0_0_1_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Tenant_Information_Values_0_0_1_1_1_1</name>
        <label>Add Tenant Information Values</label>
        <locationX>2906</locationX>
        <locationY>869</locationY>
        <assignmentItems>
            <assignToReference>SCVupdatedtenantinformation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopedTenantInformation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Tenant_Information_0_0_1_1_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Tenant_Information_Values_0_0_1_1_1_1_1</name>
        <label>Add Tenant Information Values</label>
        <locationX>2759</locationX>
        <locationY>1098</locationY>
        <assignmentItems>
            <assignToReference>SCVupdatedtenantinformation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopedTenantInformation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Tenant_Information_0_0_1_1_1_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Tenant_Information_Values_0_0_1_1_1_1_1_2</name>
        <label>Add Tenant Information Values</label>
        <locationX>3312</locationX>
        <locationY>1099</locationY>
        <assignmentItems>
            <assignToReference>SCVupdatedtenantinformation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopedTenantInformation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Tenant_Information_0_0_1_1_1_1_1_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Tenant_Information_Values_0_0_1_1_1_1_1_2_2</name>
        <label>Add Tenant Information Values</label>
        <locationX>3881</locationX>
        <locationY>1135</locationY>
        <assignmentItems>
            <assignToReference>SCVupdatedtenantinformation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopedTenantInformation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Tenant_Information_0_0_1_1_1_1_1_2_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Tenant_Information_Values_0_0_1_1_1_1_2</name>
        <label>Add Tenant Information Values</label>
        <locationX>3459</locationX>
        <locationY>870</locationY>
        <assignmentItems>
            <assignToReference>SCVupdatedtenantinformation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopedTenantInformation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Tenant_Information_0_0_1_1_1_1_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Tenant_Information_Values_0_0_1_1_1_1_2_2</name>
        <label>Add Tenant Information Values</label>
        <locationX>4008</locationX>
        <locationY>880</locationY>
        <assignmentItems>
            <assignToReference>SCVupdatedtenantinformation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopedTenantInformation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Tenant_Information_0_0_1_1_1_1_2_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Tenant_Information_Values_0_0_1_1_1_2</name>
        <label>Add Tenant Information Values</label>
        <locationX>3454</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>SCVupdatedtenantinformation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopedTenantInformation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Tenant_Information_0_0_1_1_1_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Tenant_Information_Values_0_0_1_1_1_2_2</name>
        <label>Add Tenant Information Values</label>
        <locationX>4003</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>SCVupdatedtenantinformation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopedTenantInformation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Tenant_Information_0_0_1_1_1_2_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Tenant_Information_Values_0_0_1_1_1_2_2_2</name>
        <label>Add Tenant Information Values</label>
        <locationX>4577</locationX>
        <locationY>773</locationY>
        <assignmentItems>
            <assignToReference>SCVupdatedtenantinformation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopedTenantInformation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Tenant_Information_0_0_1_1_1_2_2_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Tenant_Information_Values_0_0_1_1_2</name>
        <label>Add Tenant Information Values</label>
        <locationX>3297</locationX>
        <locationY>533</locationY>
        <assignmentItems>
            <assignToReference>SCVupdatedtenantinformation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopedTenantInformation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Tenant_Information_0_0_1_1_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Tenant_Information_Values_0_0_1_1_2_2</name>
        <label>Add Tenant Information Values</label>
        <locationX>3846</locationX>
        <locationY>543</locationY>
        <assignmentItems>
            <assignToReference>SCVupdatedtenantinformation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopedTenantInformation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Tenant_Information_0_0_1_1_2_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Tenant_Information_Values_0_0_1_1_2_2_2</name>
        <label>Add Tenant Information Values</label>
        <locationX>4420</locationX>
        <locationY>548</locationY>
        <assignmentItems>
            <assignToReference>SCVupdatedtenantinformation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopedTenantInformation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Tenant_Information_0_0_1_1_2_2_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Tenant_Information_Values_0_0_1_2</name>
        <label>Add Tenant Information Values</label>
        <locationX>3450</locationX>
        <locationY>326</locationY>
        <assignmentItems>
            <assignToReference>SCVupdatedtenantinformation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopedTenantInformation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Tenant_Information_0_0_1_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Tenant_Information_Values_0_0_1_2_2</name>
        <label>Add Tenant Information Values</label>
        <locationX>3999</locationX>
        <locationY>336</locationY>
        <assignmentItems>
            <assignToReference>SCVupdatedtenantinformation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopedTenantInformation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Tenant_Information_0_0_1_2_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Tenant_Information_Values_0_0_1_2_2_2</name>
        <label>Add Tenant Information Values</label>
        <locationX>4573</locationX>
        <locationY>341</locationY>
        <assignmentItems>
            <assignToReference>SCVupdatedtenantinformation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopedTenantInformation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Tenant_Information_0_0_1_2_2_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Tenant_Information_Values_0_0_2</name>
        <label>Add Tenant Information Values</label>
        <locationX>3446</locationX>
        <locationY>217</locationY>
        <assignmentItems>
            <assignToReference>SCVupdatedtenantinformation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopedTenantInformation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Tenant_Information_0_0_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Tenant_Information_Values_0_0_2_2</name>
        <label>Add Tenant Information Values</label>
        <locationX>3995</locationX>
        <locationY>227</locationY>
        <assignmentItems>
            <assignToReference>SCVupdatedtenantinformation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopedTenantInformation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Tenant_Information_0_0_2_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Tenant_Information_Values_0_0_2_2_2</name>
        <label>Add Tenant Information Values</label>
        <locationX>4569</locationX>
        <locationY>232</locationY>
        <assignmentItems>
            <assignToReference>SCVupdatedtenantinformation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopedTenantInformation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Tenant_Information_0_0_2_2_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_the_values</name>
        <label>Add the values</label>
        <locationX>1676</locationX>
        <locationY>212</locationY>
        <assignmentItems>
            <assignToReference>SCVupdateadddebt</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopedAddDebt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Add_Debt_Screen_Sections</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_the_values2</name>
        <label>Add the values</label>
        <locationX>1506</locationX>
        <locationY>521</locationY>
        <assignmentItems>
            <assignToReference>SCVupdateunderwriting</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopedUnderwritingRoute</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Underwriting_Routes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_the_values2_0</name>
        <label>Add the values</label>
        <locationX>1668</locationX>
        <locationY>754</locationY>
        <assignmentItems>
            <assignToReference>SCVupdatecontacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopedDemoContacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Demo_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_the_values_0</name>
        <label>Add the values</label>
        <locationX>1676</locationX>
        <locationY>305</locationY>
        <assignmentItems>
            <assignToReference>SCVupdatedebtschedule</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopedDebtSchedule</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Debt_Schedule</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_the_values_1</name>
        <label>Add the values</label>
        <locationX>1684</locationX>
        <locationY>869</locationY>
        <assignmentItems>
            <assignToReference>SCVupdatebusinessrelationships</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopedBusinessDemoRelationships</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Business_Demo_Relationships</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_the_values_1_1</name>
        <label>Add the values</label>
        <locationX>1527</locationX>
        <locationY>1088</locationY>
        <assignmentItems>
            <assignToReference>SCVupdateindividualdemorelationships</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopedIndividualDemoRelationships</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Individual_Demo_Relationships</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_the_values_1_1_1</name>
        <label>Add the values</label>
        <locationX>2286</locationX>
        <locationY>202</locationY>
        <assignmentItems>
            <assignToReference>SCVupdatecollateralrecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopedCollateralDemoRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Collateral_Demo_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_User_Values</name>
        <label>Add User Values</label>
        <locationX>2306</locationX>
        <locationY>748</locationY>
        <assignmentItems>
            <assignToReference>SCVupdateallusers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopedAllUsers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_All_User_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Argos</name>
        <label>Assign Argos</label>
        <locationX>3290</locationX>
        <locationY>320</locationY>
        <assignmentItems>
            <assignToReference>LoopedTenantInformation.LLC_BI__Tenant_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Argos</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Tenant_Information_Values_0_0_1_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Costa_Coffee</name>
        <label>Assign Costa Coffee</label>
        <locationX>2881</locationX>
        <locationY>112</locationY>
        <assignmentItems>
            <assignToReference>LoopedTenantInformation.LLC_BI__Tenant_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Costa Coffee</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Tenant_Information_Values_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Costcutter</name>
        <label>Assign Costcutter</label>
        <locationX>2737</locationX>
        <locationY>319</locationY>
        <assignmentItems>
            <assignToReference>LoopedTenantInformation.LLC_BI__Tenant_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Costcutter</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Tenant_Information_Values_0_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Demo_Contact_Values</name>
        <label>Assign Demo Contact Values</label>
        <locationX>1660</locationX>
        <locationY>617</locationY>
        <assignmentItems>
            <assignToReference>LoopedDemoContacts.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedDemoContacts.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>London</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedDemoContacts.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedDemoContacts.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedDemoContacts.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N1 9EY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedDemoContacts.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>99 Chapel Market</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedDemoContacts.LLC_BI__Home_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>99 Chapel Market</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedDemoContacts.LLC_BI__Home_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>London</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedDemoContacts.LLC_BI__Home_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedDemoContacts.LLC_BI__Home_Zipcode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N1 9EY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedDemoContacts.HomePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>+44 1632 960790</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedDemoContacts.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>+44 4632 960072</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedDemoContacts.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>+44 7712 960790</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedDemoContacts.LLC_BI__SS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>666789987</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_the_values2_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Dorothy_Perkins</name>
        <label>Assign Dorothy Perkins</label>
        <locationX>4008</locationX>
        <locationY>545</locationY>
        <assignmentItems>
            <assignToReference>LoopedTenantInformation.LLC_BI__Tenant_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dorothy Perkins</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Tenant_Information_Values_0_0_1_1_2_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fat_Face</name>
        <label>Assign Fat Face</label>
        <locationX>3434</locationX>
        <locationY>113</locationY>
        <assignmentItems>
            <assignToReference>LoopedTenantInformation.LLC_BI__Tenant_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fat Face</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Tenant_Information_Values_0_0_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Field_Set_to_Collateral_Types</name>
        <label>Assign Field Set to Collateral Types</label>
        <locationX>2132</locationX>
        <locationY>305</locationY>
        <assignmentItems>
            <assignToReference>LoopedCollateralTypesRealEstate.nPortal__OA_Collateral_Type_Display_Field_Set__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Z_UK_Valuation_Default</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Collateral_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Greggs</name>
        <label>Assign Greggs</label>
        <locationX>2907</locationX>
        <locationY>649</locationY>
        <assignmentItems>
            <assignToReference>LoopedTenantInformation.LLC_BI__Tenant_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Greggs</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Tenant_Information_Values_0_0_1_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Gymbox</name>
        <label>Assign Gymbox</label>
        <locationX>4582</locationX>
        <locationY>550</locationY>
        <assignmentItems>
            <assignToReference>LoopedTenantInformation.LLC_BI__Tenant_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Gymbox</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Tenant_Information_Values_0_0_1_1_2_2_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ID_to_Route_Tiles_for_UK</name>
        <label>Assign ID to Route Tiles for UK</label>
        <locationX>2155</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>LoopedNeedHelpRecords.nFORCE__Tile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNeedHelpUk</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Route_Tiles_for_UK</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Jacques_Vert</name>
        <label>Assign Jacques Vert</label>
        <locationX>3694</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>LoopedTenantInformation.LLC_BI__Tenant_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Jacques Vert</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Tenant_Information_Values_0_0_1_1_1_1_1_2_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_JD_Sports</name>
        <label>Assign JD Sports</label>
        <locationX>3459</locationX>
        <locationY>535</locationY>
        <assignmentItems>
            <assignToReference>LoopedTenantInformation.LLC_BI__Tenant_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>JD Sports</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Tenant_Information_Values_0_0_1_1_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Locale_Language_to_All_Users</name>
        <label>Assign Locale/Language to All Users</label>
        <locationX>2299</locationX>
        <locationY>632</locationY>
        <assignmentItems>
            <assignToReference>LoopedAllUsers.LanguageLocaleKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>en_GB</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedAllUsers.LocaleSidKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>en_GB</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_User_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_London_Human_Resources</name>
        <label>Assign London Human Resources</label>
        <locationX>4413</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>LoopedTenantInformation.LLC_BI__Tenant_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>London Human Resources</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Tenant_Information_Values_0_0_1_2_2_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_London_Solicitors</name>
        <label>Assign London Solicitors</label>
        <locationX>4583</locationX>
        <locationY>665</locationY>
        <assignmentItems>
            <assignToReference>LoopedTenantInformation.LLC_BI__Tenant_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>London Solicitors</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Tenant_Information_Values_0_0_1_1_1_2_2_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Marks_Spencer</name>
        <label>Assign Marks &amp; Spencer</label>
        <locationX>4557</locationX>
        <locationY>128</locationY>
        <assignmentItems>
            <assignToReference>LoopedTenantInformation.LLC_BI__Tenant_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Marks &amp; Spencer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Tenant_Information_Values_0_0_2_2_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Millies_Cookies</name>
        <label>Assign Millies Cookies</label>
        <locationX>4009</locationX>
        <locationY>660</locationY>
        <assignmentItems>
            <assignToReference>LoopedTenantInformation.LLC_BI__Tenant_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Millies Cookies</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Tenant_Information_Values_0_0_1_1_1_2_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Name_to_Add_Debt</name>
        <label>Assign Name to Add Debt</label>
        <locationX>1675</locationX>
        <locationY>101</locationY>
        <assignmentItems>
            <assignToReference>LoopedAddDebt.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Add Liabilities</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_the_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Name_to_Debt_Schedule</name>
        <label>Assign Name to Debt Schedule</label>
        <locationX>1506</locationX>
        <locationY>305</locationY>
        <assignmentItems>
            <assignToReference>LoopedDebtSchedule.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Liabilities Schedule</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_the_values_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Name_to_Underwriting_Route</name>
        <label>Assign Name to Underwriting Route</label>
        <locationX>1679</locationX>
        <locationY>517</locationY>
        <assignmentItems>
            <assignToReference>LoopedUnderwritingRoute.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Financial Summary</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_the_values2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Nandos</name>
        <label>Assign Nandos</label>
        <locationX>3839</locationX>
        <locationY>330</locationY>
        <assignmentItems>
            <assignToReference>LoopedTenantInformation.LLC_BI__Tenant_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nandos</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Tenant_Information_Values_0_0_1_2_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Tenant_Name</name>
        <label>Assign Richer Sounds</label>
        <locationX>2142</locationX>
        <locationY>861</locationY>
        <assignmentItems>
            <assignToReference>LoopedTenantInformation.LLC_BI__Tenant_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Richer Sounds</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Tenant_Information_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Tenant_Name_0</name>
        <label>Assign John Lewis</label>
        <locationX>1970</locationX>
        <locationY>1087</locationY>
        <assignmentItems>
            <assignToReference>LoopedTenantInformation.LLC_BI__Tenant_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>John Lewis</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Tenant_Information_Values_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Tenant_Name_0_0_2_2</name>
        <label>Zara</label>
        <locationX>3983</locationX>
        <locationY>123</locationY>
        <assignmentItems>
            <assignToReference>LoopedTenantInformation.LLC_BI__Tenant_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Zara</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Tenant_Information_Values_0_0_2_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pet_City</name>
        <label>Assign Pet City</label>
        <locationX>3309</locationX>
        <locationY>871</locationY>
        <assignmentItems>
            <assignToReference>LoopedTenantInformation.LLC_BI__Tenant_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pet City</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Tenant_Information_Values_0_0_1_1_1_1_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Primark</name>
        <label>Assign Primark</label>
        <locationX>2906</locationX>
        <locationY>534</locationY>
        <assignmentItems>
            <assignToReference>LoopedTenantInformation.LLC_BI__Tenant_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Primark</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Tenant_Information_Values_0_0_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TK_Maxx</name>
        <label>Assign TK Maxx</label>
        <locationX>3143</locationX>
        <locationY>1096</locationY>
        <assignmentItems>
            <assignToReference>LoopedTenantInformation.LLC_BI__Tenant_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TK Maxx</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Tenant_Information_Values_0_0_1_1_1_1_1_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Top_Shop</name>
        <label>Assign Top Shop</label>
        <locationX>3460</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>LoopedTenantInformation.LLC_BI__Tenant_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Top Shop</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Tenant_Information_Values_0_0_1_1_1_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Business_Relationships</name>
        <label>Assign Values to Business Relationships</label>
        <locationX>1518</locationX>
        <locationY>859</locationY>
        <assignmentItems>
            <assignToReference>LoopedBusinessDemoRelationships.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01632 960576</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedBusinessDemoRelationships.LLCLP__State_of_Incorporation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedBusinessDemoRelationships.LLC_BI__CIF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>45459898101</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedBusinessDemoRelationships.LLC_BI__Tax_Identification_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>986547569</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedBusinessDemoRelationships.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>45 Bank St</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedBusinessDemoRelationships.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>London</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedBusinessDemoRelationships.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedBusinessDemoRelationships.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>E14 5NY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedBusinessDemoRelationships.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedBusinessDemoRelationships.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>45 Bank St</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedBusinessDemoRelationships.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>London</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedBusinessDemoRelationships.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedBusinessDemoRelationships.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedBusinessDemoRelationships.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>E14 5NY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedBusinessDemoRelationships.LLC_BI__Naics_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>86753</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_the_values_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Collateral_Demo_Records</name>
        <label>Assign Values to Collateral Demo Records</label>
        <locationX>2282</locationX>
        <locationY>61</locationY>
        <assignmentItems>
            <assignToReference>LoopedCollateralDemoRecords.LLC_BI__Street_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>15 Queen Square</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedCollateralDemoRecords.LLC_BI__Zip_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LS2 8AJ</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedCollateralDemoRecords.LLC_BI__City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>London</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedCollateralDemoRecords.LLC_BI__County__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedCollateralDemoRecords.LLC_BI__State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedCollateralDemoRecords.LLC_BI__Subdivision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Little London</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_the_values_1_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Individual_Relationships</name>
        <label>Assign Values to Individual Relationships</label>
        <locationX>1354</locationX>
        <locationY>1088</locationY>
        <assignmentItems>
            <assignToReference>LoopedIndividualDemoRelationships.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01632 960643</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedIndividualDemoRelationships.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>160 Westminster Bridge Rd</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedIndividualDemoRelationships.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>London</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedIndividualDemoRelationships.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedIndividualDemoRelationships.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SE1 7RW</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedIndividualDemoRelationships.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UK</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_the_values_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Waitrose</name>
        <label>Assign Waitrose</label>
        <locationX>2756</locationX>
        <locationY>870</locationY>
        <assignmentItems>
            <assignToReference>LoopedTenantInformation.LLC_BI__Tenant_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Waitrose</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Tenant_Information_Values_0_0_1_1_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Waterstones</name>
        <label>Assign Waterstones</label>
        <locationX>2591</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>LoopedTenantInformation.LLC_BI__Tenant_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Waterstones</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Tenant_Information_Values_0_0_1_1_1_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WH_Smith</name>
        <label>Assign WH Smith</label>
        <locationX>3859</locationX>
        <locationY>881</locationY>
        <assignmentItems>
            <assignToReference>LoopedTenantInformation.LLC_BI__Tenant_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WH Smith</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Tenant_Information_Values_0_0_1_1_1_1_2_2</targetReference>
        </connector>
    </assignments>
    <description>Copy of Spears Flow with UK Values</description>
    <formulas>
        <description>This is a delayed formula so we can fire additional items in flow without hitting limits... skirting around time based workflow</description>
        <name>Delayedtimeformula</name>
        <dataType>DateTime</dataType>
        <expression>(NOW() -0.04145)</expression>
    </formulas>
    <interviewLabel>Z UK - Update Org {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Z UK - Update Org</label>
    <loops>
        <name>Loop_Add_Debt_Screen_Sections</name>
        <label>Loop Add Debt Screen Sections</label>
        <locationX>1496</locationX>
        <locationY>98</locationY>
        <assignNextValueToReference>LoopedAddDebt</assignNextValueToReference>
        <collectionReference>SCVadddebt</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Name_to_Add_Debt</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_dem_values</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_All_Demo_Contacts</name>
        <label>Loop All Demo Contacts</label>
        <locationX>1506</locationX>
        <locationY>629</locationY>
        <assignNextValueToReference>LoopedDemoContacts</assignNextValueToReference>
        <collectionReference>SCVdemocontacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Demo_Contact_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Demo_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_all_Need_Help_Route_Tiles</name>
        <label>Loop all Need Help Route Tiles</label>
        <locationX>2290</locationX>
        <locationY>412</locationY>
        <assignNextValueToReference>LoopedNeedHelpRecords</assignNextValueToReference>
        <collectionReference>SCVneedhelp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ID_to_Route_Tiles_for_UK</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Route_Tiles_Need_Help_UK</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Business_Demo_Relationships</name>
        <label>Loop Business Demo Relationships</label>
        <locationX>1355</locationX>
        <locationY>862</locationY>
        <assignNextValueToReference>LoopedBusinessDemoRelationships</assignNextValueToReference>
        <collectionReference>SCVbusinessdemorelationships</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values_to_Business_Relationships</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Demo_Business_Relationships</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Collateral_Demo_Records</name>
        <label>Loop Collateral Demo Records</label>
        <locationX>2119</locationX>
        <locationY>100</locationY>
        <assignNextValueToReference>LoopedCollateralDemoRecords</assignNextValueToReference>
        <collectionReference>SCVcollateraldemorecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values_to_Collateral_Demo_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Collateral_Demo_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Collateral_Types</name>
        <label>Loop Collateral Types</label>
        <locationX>1954</locationX>
        <locationY>301</locationY>
        <assignNextValueToReference>LoopedCollateralTypesRealEstate</assignNextValueToReference>
        <collectionReference>SCVcollateraltypesequaltorealestate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Field_Set_to_Collateral_Types</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Collateral_Types</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Debt_Schedule</name>
        <label>Loop Debt Schedule</label>
        <locationX>1355</locationX>
        <locationY>300</locationY>
        <assignNextValueToReference>LoopedDebtSchedule</assignNextValueToReference>
        <collectionReference>SCVdebtschedule</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Name_to_Debt_Schedule</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_dem_values_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Individual_Demo_Relationships</name>
        <label>Loop Individual Demo Relationships</label>
        <locationX>1675</locationX>
        <locationY>976</locationY>
        <assignNextValueToReference>LoopedIndividualDemoRelationships</assignNextValueToReference>
        <collectionReference>SCVindividualdemorelationships</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values_to_Individual_Relationships</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Demo_Individual_Relationships</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_All_User_Records</name>
        <label>Loop through All User Records</label>
        <locationX>2130</locationX>
        <locationY>632</locationY>
        <assignNextValueToReference>LoopedAllUsers</assignNextValueToReference>
        <collectionReference>SCVallusers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Locale_Language_to_All_Users</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_All_User_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Tenant_Information</name>
        <label>Loop through Tenant Information</label>
        <locationX>1965</locationX>
        <locationY>860</locationY>
        <assignNextValueToReference>LoopedTenantInformation</assignNextValueToReference>
        <collectionReference>SCVtenantinformation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_Tenant_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Tenant_Information</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Tenant_Information_0</name>
        <label>Loop through Tenant Information</label>
        <locationX>2311</locationX>
        <locationY>976</locationY>
        <assignNextValueToReference>LoopedTenantInformation</assignNextValueToReference>
        <collectionReference>SCVtenantinformation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_Tenant_Name_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Tenant_Information_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Tenant_Information_0_0</name>
        <label>Loop through Tenant Information</label>
        <locationX>2725</locationX>
        <locationY>109</locationY>
        <assignNextValueToReference>LoopedTenantInformation</assignNextValueToReference>
        <collectionReference>SCVtenantinformation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Costa_Coffee</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Tenant_Information_0_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Tenant_Information_0_0_1</name>
        <label>Loop through Tenant Information</label>
        <locationX>2576</locationX>
        <locationY>316</locationY>
        <assignNextValueToReference>LoopedTenantInformation</assignNextValueToReference>
        <collectionReference>SCVtenantinformation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Costcutter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Tenant_Information_0_1_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Tenant_Information_0_0_1_1</name>
        <label>Loop through Tenant Information</label>
        <locationX>2903</locationX>
        <locationY>426</locationY>
        <assignNextValueToReference>LoopedTenantInformation</assignNextValueToReference>
        <collectionReference>SCVtenantinformation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Primark</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Tenant_Information_0_1_1_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Tenant_Information_0_0_1_1_1</name>
        <label>Loop through Tenant Information</label>
        <locationX>2750</locationX>
        <locationY>648</locationY>
        <assignNextValueToReference>LoopedTenantInformation</assignNextValueToReference>
        <collectionReference>SCVtenantinformation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Greggs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Tenant_Information_0_1_1_1_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Tenant_Information_0_0_1_1_1_1</name>
        <label>Loop through Tenant Information</label>
        <locationX>2590</locationX>
        <locationY>867</locationY>
        <assignNextValueToReference>LoopedTenantInformation</assignNextValueToReference>
        <collectionReference>SCVtenantinformation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Waitrose</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Tenant_Information_0_1_1_1_1_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Tenant_Information_0_0_1_1_1_1_1</name>
        <label>Loop through Tenant Information</label>
        <locationX>2911</locationX>
        <locationY>982</locationY>
        <assignNextValueToReference>LoopedTenantInformation</assignNextValueToReference>
        <collectionReference>SCVtenantinformation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Waterstones</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Tenant_Information_0_1_1_1_1_1_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Tenant_Information_0_0_1_1_1_1_1_2</name>
        <label>Loop through Tenant Information</label>
        <locationX>3464</locationX>
        <locationY>983</locationY>
        <assignNextValueToReference>LoopedTenantInformation</assignNextValueToReference>
        <collectionReference>SCVtenantinformation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_TK_Maxx</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Tenant_Information_0_1_1_1_1_1_1_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Tenant_Information_0_0_1_1_1_1_1_2_2</name>
        <label>Loop through Tenant Information</label>
        <locationX>4013</locationX>
        <locationY>993</locationY>
        <assignNextValueToReference>LoopedTenantInformation</assignNextValueToReference>
        <collectionReference>SCVtenantinformation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Jacques_Vert</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Tenant_Information_0_1_1_1_1_1_1_2_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Tenant_Information_0_0_1_1_1_1_2</name>
        <label>Loop through Tenant Information</label>
        <locationX>3143</locationX>
        <locationY>868</locationY>
        <assignNextValueToReference>LoopedTenantInformation</assignNextValueToReference>
        <collectionReference>SCVtenantinformation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Pet_City</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Tenant_Information_0_1_1_1_1_1_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Tenant_Information_0_0_1_1_1_1_2_2</name>
        <label>Loop through Tenant Information</label>
        <locationX>3692</locationX>
        <locationY>878</locationY>
        <assignNextValueToReference>LoopedTenantInformation</assignNextValueToReference>
        <collectionReference>SCVtenantinformation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_WH_Smith</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Tenant_Information_0_1_1_1_1_1_2_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Tenant_Information_0_0_1_1_1_2</name>
        <label>Loop through Tenant Information</label>
        <locationX>3303</locationX>
        <locationY>649</locationY>
        <assignNextValueToReference>LoopedTenantInformation</assignNextValueToReference>
        <collectionReference>SCVtenantinformation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Top_Shop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Tenant_Information_0_1_1_1_1_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Tenant_Information_0_0_1_1_1_2_2</name>
        <label>Loop through Tenant Information</label>
        <locationX>3852</locationX>
        <locationY>659</locationY>
        <assignNextValueToReference>LoopedTenantInformation</assignNextValueToReference>
        <collectionReference>SCVtenantinformation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Millies_Cookies</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Tenant_Information_0_1_1_1_1_2_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Tenant_Information_0_0_1_1_1_2_2_2</name>
        <label>Loop through Tenant Information</label>
        <locationX>4426</locationX>
        <locationY>664</locationY>
        <assignNextValueToReference>LoopedTenantInformation</assignNextValueToReference>
        <collectionReference>SCVtenantinformation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_London_Solicitors</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Tenant_Information_0_1_1_1_1_2_2_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Tenant_Information_0_0_1_1_2</name>
        <label>Loop through Tenant Information</label>
        <locationX>3456</locationX>
        <locationY>427</locationY>
        <assignNextValueToReference>LoopedTenantInformation</assignNextValueToReference>
        <collectionReference>SCVtenantinformation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_JD_Sports</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Tenant_Information_0_1_1_1_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Tenant_Information_0_0_1_1_2_2</name>
        <label>Loop through Tenant Information</label>
        <locationX>4005</locationX>
        <locationY>437</locationY>
        <assignNextValueToReference>LoopedTenantInformation</assignNextValueToReference>
        <collectionReference>SCVtenantinformation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Dorothy_Perkins</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Tenant_Information_0_1_1_1_2_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Tenant_Information_0_0_1_1_2_2_2</name>
        <label>Loop through Tenant Information</label>
        <locationX>4579</locationX>
        <locationY>442</locationY>
        <assignNextValueToReference>LoopedTenantInformation</assignNextValueToReference>
        <collectionReference>SCVtenantinformation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Gymbox</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Tenant_Information_0_1_1_1_2_2_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Tenant_Information_0_0_1_2</name>
        <label>Loop through Tenant Information</label>
        <locationX>3129</locationX>
        <locationY>317</locationY>
        <assignNextValueToReference>LoopedTenantInformation</assignNextValueToReference>
        <collectionReference>SCVtenantinformation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Argos</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Tenant_Information_0_1_1_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Tenant_Information_0_0_1_2_2</name>
        <label>Loop through Tenant Information</label>
        <locationX>3678</locationX>
        <locationY>327</locationY>
        <assignNextValueToReference>LoopedTenantInformation</assignNextValueToReference>
        <collectionReference>SCVtenantinformation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Nandos</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Tenant_Information_0_1_1_2_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Tenant_Information_0_0_1_2_2_2</name>
        <label>Loop through Tenant Information</label>
        <locationX>4252</locationX>
        <locationY>332</locationY>
        <assignNextValueToReference>LoopedTenantInformation</assignNextValueToReference>
        <collectionReference>SCVtenantinformation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_London_Human_Resources</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Tenant_Information_0_1_1_2_2_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Tenant_Information_0_0_2</name>
        <label>Loop through Tenant Information</label>
        <locationX>3278</locationX>
        <locationY>110</locationY>
        <assignNextValueToReference>LoopedTenantInformation</assignNextValueToReference>
        <collectionReference>SCVtenantinformation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Fat_Face</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Tenant_Information_0_1_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Tenant_Information_0_0_2_2</name>
        <label>Loop through Tenant Information</label>
        <locationX>3827</locationX>
        <locationY>120</locationY>
        <assignNextValueToReference>LoopedTenantInformation</assignNextValueToReference>
        <collectionReference>SCVtenantinformation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_Tenant_Name_0_0_2_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Tenant_Information_0_1_2_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Tenant_Information_0_0_2_2_2</name>
        <label>Loop through Tenant Information</label>
        <locationX>4401</locationX>
        <locationY>125</locationY>
        <assignNextValueToReference>LoopedTenantInformation</assignNextValueToReference>
        <collectionReference>SCVtenantinformation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Marks_Spencer</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Tenant_Information_0_1_2_2_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Underwriting_Routes</name>
        <label>Loop Underwriting Routes</label>
        <locationX>1675</locationX>
        <locationY>408</locationY>
        <assignNextValueToReference>LoopedUnderwritingRoute</assignNextValueToReference>
        <collectionReference>SCVunderwritingroute</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Name_to_Underwriting_Route</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_dem_values_0_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Compliance_Route</name>
        <label>Delete Compliance Route</label>
        <locationX>5390</locationX>
        <locationY>1158</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varComplianceRouteID</elementReference>
            </value>
        </filters>
        <object>nFORCE__Route__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Compliance_Route_Groups</name>
        <label>Delete Compliance Route Groups</label>
        <locationX>999</locationX>
        <locationY>677</locationY>
        <connector>
            <targetReference>Lookup_ID_Document_Types_to_Delete</targetReference>
        </connector>
        <inputReference>SCVcomplianceroutegroupstodelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <description>This will delete the records from the fast lookup regarding ID Document types</description>
        <name>Delete_ID_Document_Types</name>
        <label>Delete ID Document Types</label>
        <locationX>1152</locationX>
        <locationY>743</locationY>
        <connector>
            <targetReference>Delete_Route_Tile_after_Patriot_Act</targetReference>
        </connector>
        <inputReference>SCVdeleteIDDocuments</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Member_FDIC_Image_from_Documents</name>
        <label>Delete Member FDIC Image from Documents</label>
        <locationX>953</locationX>
        <locationY>202</locationY>
        <connector>
            <targetReference>Lookup_Compliance_Route</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Member FDIC</stringValue>
            </value>
        </filters>
        <object>Document</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Route_Patriot_Act</name>
        <label>Delete Route = Patriot Act</label>
        <locationX>952</locationX>
        <locationY>100</locationY>
        <connector>
            <targetReference>Delete_Member_FDIC_Image_from_Documents</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>U.S.A. Patriot Act</stringValue>
            </value>
        </filters>
        <object>nFORCE__Tile__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Route_Tile_after_Patriot_Act</name>
        <label>Delete Route Tile after Patriot Act</label>
        <locationX>1148</locationX>
        <locationY>639</locationY>
        <connector>
            <targetReference>Update_Section_Configuration_for_Default_Collateral_Pledged_via_PORTAL</targetReference>
        </connector>
        <filters>
            <field>nFORCE__Tile__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>nFORCE__Route_Tile__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_ID_Document_Type_Drivers_License</name>
        <label>Get ID Document Type = Drivers License</label>
        <locationX>4264</locationX>
        <locationY>1033</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Field_Configuration_Driver_s_License_ID</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Drivers License</stringValue>
            </value>
        </filters>
        <object>LLC_BI__Id_Document_Type__c</object>
        <outputReference>SCViddoctypeid</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>This will grab the ID for the brand record for UK</description>
        <name>Get_UK_Business_Brand_Record_Community</name>
        <label>Get UK Business Brand Record (Community)</label>
        <locationX>5131</locationX>
        <locationY>328</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Institution_Record</targetReference>
        </connector>
        <filters>
            <field>nFORCE__Look_Up_Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1073676287</stringValue>
            </value>
        </filters>
        <object>nFORCE__Brand__c</object>
        <outputAssignments>
            <assignToReference>varBusinessBrandID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>I&apos;m grabbing these to update the default field set for portal so State picklists don&apos;t show. Localisation for UK</description>
        <name>Grab_Collateral_Types_Real_Estate</name>
        <label>Grab Collateral Types = Real Estate</label>
        <locationX>1952</locationX>
        <locationY>204</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Collateral_Types</targetReference>
        </connector>
        <filters>
            <field>nPortal__OA_Collateral_Type_Display_Field_Set__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Collateral_Real_Estate_Portal_Edit</stringValue>
            </value>
        </filters>
        <object>LLC_BI__Collateral_Type__c</object>
        <outputReference>SCVcollateraltypesequaltorealestate</outputReference>
        <queriedFields>nPortal__OA_Collateral_Type_Display_Field_Set__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Grab_route_name_Underwriting</name>
        <label>Grab route name = Underwriting</label>
        <locationX>1508</locationX>
        <locationY>410</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Underwriting_Routes</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Underwriting</stringValue>
            </value>
        </filters>
        <object>nFORCE__Route__c</object>
        <outputReference>SCVunderwritingroute</outputReference>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Grab_screen_section_names_debt</name>
        <label>Grab screen section names = debt</label>
        <locationX>1351</locationX>
        <locationY>98</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Add_Debt_Screen_Sections</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Add Debt</stringValue>
            </value>
        </filters>
        <filters>
            <field>nFORCE__Default_Rendered__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>nFORCE__Screen_Section__c</object>
        <outputReference>SCVadddebt</outputReference>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Grab_screen_section_names_Debt_Schedule</name>
        <label>Grab screen section names = Debt Schedule</label>
        <locationX>1351</locationX>
        <locationY>209</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Debt_Schedule</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Debt Schedule</stringValue>
            </value>
        </filters>
        <filters>
            <field>nFORCE__sObject_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LLC_BI__Debt__c</stringValue>
            </value>
        </filters>
        <object>nFORCE__Screen_Section__c</object>
        <outputReference>SCVdebtschedule</outputReference>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_All_Demo_Contacts</name>
        <label>Lookup All Demo Contacts</label>
        <locationX>1351</locationX>
        <locationY>634</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_Demo_Contacts</targetReference>
        </connector>
        <filters>
            <field>Is_Demo_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>SCVdemocontacts</outputReference>
        <queriedFields>MailingAddress</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>LLC_BI__Home_Address__c</queriedFields>
        <queriedFields>LLC_BI__Home_City__c</queriedFields>
        <queriedFields>LLC_BI__Home_State__c</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <queriedFields>LLC_BI__Home_Zipcode__c</queriedFields>
        <queriedFields>MailingCity</queriedFields>
        <queriedFields>MailingCountry</queriedFields>
        <queriedFields>MailingState</queriedFields>
        <queriedFields>MailingPostalCode</queriedFields>
        <queriedFields>HomePhone</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>LLC_BI__SS__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Just in case no one spun their org up in the local language/company info this will help</description>
        <name>Lookup_all_User_Records_to_Update_Language_Locale</name>
        <label>Lookup all User Records to Update Language/Locale</label>
        <locationX>1970</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_All_User_Records</targetReference>
        </connector>
        <filters>
            <field>Alias</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>guest</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserRoleId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputReference>SCVallusers</outputReference>
        <queriedFields>LanguageLocaleKey</queriedFields>
        <queriedFields>LocaleSidKey</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Business_Demo_Relationships</name>
        <label>Lookup Business Demo Relationships</label>
        <locationX>1354</locationX>
        <locationY>752</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Business_Demo_Relationships</targetReference>
        </connector>
        <filters>
            <field>Is_Demo_Relationship__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBusinessRecordType</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>SCVbusinessdemorelationships</outputReference>
        <queriedFields>LLCLP__State_of_Incorporation__c</queriedFields>
        <queriedFields>LLC_BI__CIF__c</queriedFields>
        <queriedFields>LLC_BI__Tax_Identification_Number__c</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>ShippingStreet</queriedFields>
        <queriedFields>ShippingState</queriedFields>
        <queriedFields>ShippingCity</queriedFields>
        <queriedFields>ShippingCountry</queriedFields>
        <queriedFields>ShippingPostalCode</queriedFields>
        <queriedFields>LLC_BI__Naics_Code__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Business_Record_Type_ID</name>
        <label>Lookup Business Record Type ID</label>
        <locationX>1146</locationX>
        <locationY>421</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_ID_Document_Requirements_for_Individuals</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business with Connections</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varBusinessRecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Collateral_Demo</name>
        <label>Lookup Collateral Demo</label>
        <locationX>1948</locationX>
        <locationY>109</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Collateral_Demo_Records</targetReference>
        </connector>
        <filters>
            <field>Is_Demo_Collateral__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>LLC_BI__Collateral__c</object>
        <outputReference>SCVcollateraldemorecords</outputReference>
        <queriedFields>LLC_BI__Street_Address__c</queriedFields>
        <queriedFields>LLC_BI__City__c</queriedFields>
        <queriedFields>LLC_BI__State__c</queriedFields>
        <queriedFields>LLC_BI__Zip_Code__c</queriedFields>
        <queriedFields>LLC_BI__County__c</queriedFields>
        <queriedFields>Z_Australia_States__c</queriedFields>
        <queriedFields>LLC_BI__Subdivision__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Used to grab the ID for compliance route so I can delete all the route groups</description>
        <name>Lookup_Compliance_Route</name>
        <label>Lookup Compliance Route</label>
        <locationX>959</locationX>
        <locationY>292</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Compliance_Route_Groups_to_Delete</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Compliance</stringValue>
            </value>
        </filters>
        <filters>
            <field>nFORCE__App__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>compliance-dummy</stringValue>
            </value>
        </filters>
        <object>nFORCE__Route__c</object>
        <outputAssignments>
            <assignToReference>varComplianceRouteID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Compliance_Route_Groups_to_Delete</name>
        <label>Lookup Compliance Route Groups to Delete</label>
        <locationX>933</locationX>
        <locationY>481</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Compliance_Route_Groups</targetReference>
        </connector>
        <filters>
            <field>nFORCE__Parent_Route__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varComplianceRouteID</elementReference>
            </value>
        </filters>
        <object>nFORCE__Route_Group__c</object>
        <outputReference>SCVcomplianceroutegroupstodelete</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>This will go grab all the id document types to delete irrelevant for Aussie!</description>
        <name>Lookup_ID_Document_Types_to_Delete</name>
        <label>Lookup ID Document Types to Delete</label>
        <locationX>1014</locationX>
        <locationY>912</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_ID_Document_Types</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>US Visa</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>US Military ID Card</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>US Permanent Resident Card</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>US Temporary Resident Card</stringValue>
            </value>
        </filters>
        <object>LLC_BI__Id_Document_Type__c</object>
        <outputReference>SCVdeleteIDDocuments</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Individual_Demo_Relationships</name>
        <label>Lookup Individual Demo Relationships</label>
        <locationX>1518</locationX>
        <locationY>968</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Individual_Demo_Relationships</targetReference>
        </connector>
        <filters>
            <field>Is_Demo_Relationship__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varIndividualWithConnectionsRecordType</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varIndividualRecordTypeID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>SCVindividualdemorelationships</outputReference>
        <queriedFields>Phone</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Individual_Record_Type_ID</name>
        <label>Lookup Individual With Connections Record Type ID</label>
        <locationX>557</locationX>
        <locationY>200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Need_Help_UK_Tile</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Individual with Connections</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varIndividualWithConnectionsRecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Individual_Record_Type_ID_1</name>
        <label>Lookup Individual Record Type ID</label>
        <locationX>557</locationX>
        <locationY>96</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Individual_Record_Type_ID</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Individual</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varIndividualRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Need_Help_UK_Tile</name>
        <label>Lookup Need Help UK Tile</label>
        <locationX>560</locationX>
        <locationY>298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_ID_Document_Type_Drivers_License_to_Driver_s_License_UK</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Need Help UK</stringValue>
            </value>
        </filters>
        <object>nFORCE__Tile__c</object>
        <outputAssignments>
            <assignToReference>varNeedHelpUk</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_route_tiles_Need_Help</name>
        <label>Lookup route tiles = Need Help</label>
        <locationX>2117</locationX>
        <locationY>403</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_all_Need_Help_Route_Tiles</targetReference>
        </connector>
        <filters>
            <field>Tile_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Need Help</stringValue>
            </value>
        </filters>
        <object>nFORCE__Route_Tile__c</object>
        <outputReference>SCVneedhelp</outputReference>
        <queriedFields>nFORCE__Tile__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Super Home Hi-Fi to JB Hifi</description>
        <name>Lookup_Tenant_Information_Spreads</name>
        <label>Lookup Super Home Hi-Fi</label>
        <locationX>1961</locationX>
        <locationY>754</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Tenant_Information</targetReference>
        </connector>
        <filters>
            <field>LLC_BI__Tenant_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Super Home Hi-Fi</stringValue>
            </value>
        </filters>
        <object>LLC_BI__Tenant_Information__c</object>
        <outputReference>SCVtenantinformation</outputReference>
        <queriedFields>LLC_BI__Tenant_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Sears to Meyer</description>
        <name>Lookup_Tenant_Information_Spreads_0</name>
        <label>Lookup Sears</label>
        <locationX>2143</locationX>
        <locationY>976</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Tenant_Information_0</targetReference>
        </connector>
        <filters>
            <field>LLC_BI__Tenant_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sears</stringValue>
            </value>
        </filters>
        <object>LLC_BI__Tenant_Information__c</object>
        <outputReference>SCVtenantinformation</outputReference>
        <queriedFields>LLC_BI__Tenant_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Tenant_Information_Spreads_0_1</name>
        <label>Lookup Jimmy Johns</label>
        <locationX>2566</locationX>
        <locationY>107</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Tenant_Information_0_0</targetReference>
        </connector>
        <filters>
            <field>LLC_BI__Tenant_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Jimmy Johns</stringValue>
            </value>
        </filters>
        <object>LLC_BI__Tenant_Information__c</object>
        <outputReference>SCVtenantinformation</outputReference>
        <queriedFields>LLC_BI__Tenant_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Sears to Meyer</description>
        <name>Lookup_Tenant_Information_Spreads_0_1_1</name>
        <label>Lookup JC Penney</label>
        <locationX>2571</locationX>
        <locationY>212</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Tenant_Information_0_0_1</targetReference>
        </connector>
        <filters>
            <field>LLC_BI__Tenant_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>JC Penney</stringValue>
            </value>
        </filters>
        <object>LLC_BI__Tenant_Information__c</object>
        <outputReference>SCVtenantinformation</outputReference>
        <queriedFields>LLC_BI__Tenant_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Sears to Meyer</description>
        <name>Lookup_Tenant_Information_Spreads_0_1_1_1</name>
        <label>Lookup Gap Kids</label>
        <locationX>2744</locationX>
        <locationY>423</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Tenant_Information_0_0_1_1</targetReference>
        </connector>
        <filters>
            <field>LLC_BI__Tenant_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gap Kids</stringValue>
            </value>
        </filters>
        <object>LLC_BI__Tenant_Information__c</object>
        <outputReference>SCVtenantinformation</outputReference>
        <queriedFields>LLC_BI__Tenant_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Sears to Meyer</description>
        <name>Lookup_Tenant_Information_Spreads_0_1_1_1_1</name>
        <label>Lookup American Eagle</label>
        <locationX>2581</locationX>
        <locationY>645</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Tenant_Information_0_0_1_1_1</targetReference>
        </connector>
        <filters>
            <field>LLC_BI__Tenant_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>American Eagle</stringValue>
            </value>
        </filters>
        <object>LLC_BI__Tenant_Information__c</object>
        <outputReference>SCVtenantinformation</outputReference>
        <queriedFields>LLC_BI__Tenant_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Sears to Meyer</description>
        <name>Lookup_Tenant_Information_Spreads_0_1_1_1_1_1</name>
        <label>Lookup Applebee&apos;s</label>
        <locationX>2586</locationX>
        <locationY>757</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Tenant_Information_0_0_1_1_1_1</targetReference>
        </connector>
        <filters>
            <field>LLC_BI__Tenant_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Applebee&apos;s</stringValue>
            </value>
        </filters>
        <object>LLC_BI__Tenant_Information__c</object>
        <outputReference>SCVtenantinformation</outputReference>
        <queriedFields>LLC_BI__Tenant_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Sears to Meyer</description>
        <name>Lookup_Tenant_Information_Spreads_0_1_1_1_1_1_1</name>
        <label>Lookup Barnes &amp; Noble</label>
        <locationX>2759</locationX>
        <locationY>980</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Tenant_Information_0_0_1_1_1_1_1</targetReference>
        </connector>
        <filters>
            <field>LLC_BI__Tenant_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Barnes &amp; Noble</stringValue>
            </value>
        </filters>
        <object>LLC_BI__Tenant_Information__c</object>
        <outputReference>SCVtenantinformation</outputReference>
        <queriedFields>LLC_BI__Tenant_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Sears to Meyer</description>
        <name>Lookup_Tenant_Information_Spreads_0_1_1_1_1_1_1_2</name>
        <label>Lookup TJ Maxx</label>
        <locationX>3312</locationX>
        <locationY>981</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Tenant_Information_0_0_1_1_1_1_1_2</targetReference>
        </connector>
        <filters>
            <field>LLC_BI__Tenant_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TJ Maxx</stringValue>
            </value>
        </filters>
        <object>LLC_BI__Tenant_Information__c</object>
        <outputReference>SCVtenantinformation</outputReference>
        <queriedFields>LLC_BI__Tenant_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Sears to Meyer</description>
        <name>Lookup_Tenant_Information_Spreads_0_1_1_1_1_1_1_2_2</name>
        <label>Lookup Kay Jewelers</label>
        <locationX>3861</locationX>
        <locationY>991</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Tenant_Information_0_0_1_1_1_1_1_2_2</targetReference>
        </connector>
        <filters>
            <field>LLC_BI__Tenant_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Kay Jewelers</stringValue>
            </value>
        </filters>
        <object>LLC_BI__Tenant_Information__c</object>
        <outputReference>SCVtenantinformation</outputReference>
        <queriedFields>LLC_BI__Tenant_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Sears to Meyer</description>
        <name>Lookup_Tenant_Information_Spreads_0_1_1_1_1_1_2</name>
        <label>Lookup Verizon Wireless</label>
        <locationX>3139</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Tenant_Information_0_0_1_1_1_1_2</targetReference>
        </connector>
        <filters>
            <field>LLC_BI__Tenant_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Verizon Wireless</stringValue>
            </value>
        </filters>
        <object>LLC_BI__Tenant_Information__c</object>
        <outputReference>SCVtenantinformation</outputReference>
        <queriedFields>LLC_BI__Tenant_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Sears to Meyer</description>
        <name>Lookup_Tenant_Information_Spreads_0_1_1_1_1_1_2_2</name>
        <label>Lookup Old Navy</label>
        <locationX>3688</locationX>
        <locationY>768</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Tenant_Information_0_0_1_1_1_1_2_2</targetReference>
        </connector>
        <filters>
            <field>LLC_BI__Tenant_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Old Navy</stringValue>
            </value>
        </filters>
        <object>LLC_BI__Tenant_Information__c</object>
        <outputReference>SCVtenantinformation</outputReference>
        <queriedFields>LLC_BI__Tenant_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Sears to Meyer</description>
        <name>Lookup_Tenant_Information_Spreads_0_1_1_1_1_1_2_2_2</name>
        <label>Lookup Old Navy</label>
        <locationX>4243</locationX>
        <locationY>781</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Field_Configuration_Zip_Code</targetReference>
        </connector>
        <filters>
            <field>LLC_BI__Tenant_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Old Navy</stringValue>
            </value>
        </filters>
        <object>LLC_BI__Tenant_Information__c</object>
        <outputReference>SCVtenantinformation</outputReference>
        <queriedFields>LLC_BI__Tenant_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Sears to Meyer</description>
        <name>Lookup_Tenant_Information_Spreads_0_1_1_1_1_2</name>
        <label>Lookup Banana Republic</label>
        <locationX>3134</locationX>
        <locationY>646</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Tenant_Information_0_0_1_1_1_2</targetReference>
        </connector>
        <filters>
            <field>LLC_BI__Tenant_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Banana Republic</stringValue>
            </value>
        </filters>
        <object>LLC_BI__Tenant_Information__c</object>
        <outputReference>SCVtenantinformation</outputReference>
        <queriedFields>LLC_BI__Tenant_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Sears to Meyer</description>
        <name>Lookup_Tenant_Information_Spreads_0_1_1_1_1_2_2</name>
        <label>Lookup Sbarro</label>
        <locationX>3683</locationX>
        <locationY>656</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Tenant_Information_0_0_1_1_1_2_2</targetReference>
        </connector>
        <filters>
            <field>LLC_BI__Tenant_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sbarro</stringValue>
            </value>
        </filters>
        <object>LLC_BI__Tenant_Information__c</object>
        <outputReference>SCVtenantinformation</outputReference>
        <queriedFields>LLC_BI__Tenant_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Sears to Meyer</description>
        <name>Lookup_Tenant_Information_Spreads_0_1_1_1_1_2_2_2</name>
        <label>Lookup NHRMC Clinic</label>
        <locationX>4257</locationX>
        <locationY>661</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Tenant_Information_0_0_1_1_1_2_2_2</targetReference>
        </connector>
        <filters>
            <field>LLC_BI__Tenant_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NHRMC Clinic</stringValue>
            </value>
        </filters>
        <object>LLC_BI__Tenant_Information__c</object>
        <outputReference>SCVtenantinformation</outputReference>
        <queriedFields>LLC_BI__Tenant_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Sears to Meyer</description>
        <name>Lookup_Tenant_Information_Spreads_0_1_1_1_2</name>
        <label>Lookup Foot Locker</label>
        <locationX>3297</locationX>
        <locationY>424</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Tenant_Information_0_0_1_1_2</targetReference>
        </connector>
        <filters>
            <field>LLC_BI__Tenant_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Foot Locker</stringValue>
            </value>
        </filters>
        <object>LLC_BI__Tenant_Information__c</object>
        <outputReference>SCVtenantinformation</outputReference>
        <queriedFields>LLC_BI__Tenant_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Sears to Meyer</description>
        <name>Lookup_Tenant_Information_Spreads_0_1_1_1_2_2</name>
        <label>Lookup The Buckle</label>
        <locationX>3846</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Tenant_Information_0_0_1_1_2_2</targetReference>
        </connector>
        <filters>
            <field>LLC_BI__Tenant_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>The Buckle</stringValue>
            </value>
        </filters>
        <object>LLC_BI__Tenant_Information__c</object>
        <outputReference>SCVtenantinformation</outputReference>
        <queriedFields>LLC_BI__Tenant_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Tenant_Information_Spreads_0_1_1_1_2_2_2</name>
        <label>Lookup NHRMC Employee Fitness Center</label>
        <locationX>4420</locationX>
        <locationY>439</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Tenant_Information_0_0_1_1_2_2_2</targetReference>
        </connector>
        <filters>
            <field>LLC_BI__Tenant_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NHRMC Employee Fitness Center</stringValue>
            </value>
        </filters>
        <object>LLC_BI__Tenant_Information__c</object>
        <outputReference>SCVtenantinformation</outputReference>
        <queriedFields>LLC_BI__Tenant_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Sears to Meyer</description>
        <name>Lookup_Tenant_Information_Spreads_0_1_1_2</name>
        <label>Lookup Eddie Bauer</label>
        <locationX>3124</locationX>
        <locationY>213</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Tenant_Information_0_0_1_2</targetReference>
        </connector>
        <filters>
            <field>LLC_BI__Tenant_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Eddie Bauer</stringValue>
            </value>
        </filters>
        <object>LLC_BI__Tenant_Information__c</object>
        <outputReference>SCVtenantinformation</outputReference>
        <queriedFields>LLC_BI__Tenant_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Sears to Meyer</description>
        <name>Lookup_Tenant_Information_Spreads_0_1_1_2_2</name>
        <label>Lookup Teavana</label>
        <locationX>3673</locationX>
        <locationY>223</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Tenant_Information_0_0_1_2_2</targetReference>
        </connector>
        <filters>
            <field>LLC_BI__Tenant_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Teavana</stringValue>
            </value>
        </filters>
        <object>LLC_BI__Tenant_Information__c</object>
        <outputReference>SCVtenantinformation</outputReference>
        <queriedFields>LLC_BI__Tenant_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Sears to Meyer</description>
        <name>Lookup_Tenant_Information_Spreads_0_1_1_2_2_2</name>
        <label>Lookup NHRMC Human Resources</label>
        <locationX>4247</locationX>
        <locationY>228</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Tenant_Information_0_0_1_2_2_2</targetReference>
        </connector>
        <filters>
            <field>LLC_BI__Tenant_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NHRMC Human Resources</stringValue>
            </value>
        </filters>
        <object>LLC_BI__Tenant_Information__c</object>
        <outputReference>SCVtenantinformation</outputReference>
        <queriedFields>LLC_BI__Tenant_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Tenant_Information_Spreads_0_1_2</name>
        <label>Build-A-Bear Workshop</label>
        <locationX>3119</locationX>
        <locationY>108</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Tenant_Information_0_0_2</targetReference>
        </connector>
        <filters>
            <field>LLC_BI__Tenant_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Build-A-Bear Workshop</stringValue>
            </value>
        </filters>
        <object>LLC_BI__Tenant_Information__c</object>
        <outputReference>SCVtenantinformation</outputReference>
        <queriedFields>LLC_BI__Tenant_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Tenant_Information_Spreads_0_1_2_2</name>
        <label>The Gap</label>
        <locationX>3668</locationX>
        <locationY>118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Tenant_Information_0_0_2_2</targetReference>
        </connector>
        <filters>
            <field>LLC_BI__Tenant_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>The Gap</stringValue>
            </value>
        </filters>
        <object>LLC_BI__Tenant_Information__c</object>
        <outputReference>SCVtenantinformation</outputReference>
        <queriedFields>LLC_BI__Tenant_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Tenant_Information_Spreads_0_1_2_2_2</name>
        <label>NHRMC Outpatient</label>
        <locationX>4242</locationX>
        <locationY>123</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Tenant_Information_0_0_2_2_2</targetReference>
        </connector>
        <filters>
            <field>LLC_BI__Tenant_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NHRMC Outpatient</stringValue>
            </value>
        </filters>
        <object>LLC_BI__Tenant_Information__c</object>
        <outputReference>SCVtenantinformation</outputReference>
        <queriedFields>LLC_BI__Tenant_Name__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>This will update all non-demo business relationships</description>
        <name>Update_All_Business_Relationships</name>
        <label>Update All Business Relationships</label>
        <locationX>5142</locationX>
        <locationY>663</locationY>
        <connector>
            <targetReference>Update_Collateral_Addresses_Non_Demo</targetReference>
        </connector>
        <filters>
            <field>Is_Demo_Relationship__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Is_Individual__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <stringValue>London</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <stringValue>UK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <stringValue>EC1V 2PH</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>This will update addresses to be UK in the system</description>
        <name>Update_All_Individual_Records</name>
        <label>Update All Individual Records</label>
        <locationX>5138</locationX>
        <locationY>505</locationY>
        <connector>
            <targetReference>Update_All_Business_Relationships</targetReference>
        </connector>
        <filters>
            <field>Is_Demo_Relationship__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Is_Individual__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <stringValue>Sheffield</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <stringValue>UK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <stringValue>S3 7BX</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_All_User_Records</name>
        <label>Update All User Records</label>
        <locationX>2132</locationX>
        <locationY>751</locationY>
        <connector>
            <targetReference>Lookup_Tenant_Information_Spreads</targetReference>
        </connector>
        <inputReference>SCVupdateallusers</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates insurance records with the criteria below</description>
        <name>Update_Allstate_Insurance_Records</name>
        <label>Update Allstate Insurance Records</label>
        <locationX>5140</locationX>
        <locationY>953</locationY>
        <connector>
            <targetReference>Update_FEMA_Insurance_Records</targetReference>
        </connector>
        <filters>
            <field>Collateral_Insurance_Company__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Allstate</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Collateral_Insurance_Company__c</field>
            <value>
                <stringValue>Legal &amp; General</stringValue>
            </value>
        </inputAssignments>
        <object>Insurance__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Branch_Record_Elon</name>
        <label>Update Branch Record = Elon</label>
        <locationX>767</locationX>
        <locationY>414</locationY>
        <connector>
            <targetReference>Update_Katie_Wahl</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Elon</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>LLC_BI__City__c</field>
            <value>
                <stringValue>London</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__State__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Zip_Code__c</field>
            <value>
                <stringValue>EC4N 5AG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>London - Cannon St</stringValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Branch__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Branch_Record_Mayfair</name>
        <label>Update Branch Record = Mayfair</label>
        <locationX>771</locationX>
        <locationY>510</locationY>
        <connector>
            <targetReference>Update_Branch_Record_Elon</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mayfaire</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>LLC_BI__City__c</field>
            <value>
                <stringValue>London</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__State__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Zip_Code__c</field>
            <value>
                <stringValue>SW11 4LN</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>London - Battersea</stringValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Branch__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Branch_Record_Mortgage_Office</name>
        <label>Update Branch Record = Mortgage Office</label>
        <locationX>777</locationX>
        <locationY>629</locationY>
        <connector>
            <targetReference>Update_Branch_Record_Mayfair</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mortgage Office</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>LLC_BI__City__c</field>
            <value>
                <stringValue>Surry Hills</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__State__c</field>
            <value>
                <stringValue>New South Wales</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Zip_Code__c</field>
            <value>
                <stringValue>2010</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Surry Hills</stringValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Branch__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Branch_Record_Porters_Neck</name>
        <label>Update Branch Record = Porters Neck</label>
        <locationX>772</locationX>
        <locationY>753</locationY>
        <connector>
            <targetReference>Update_Branch_Record_Mortgage_Office</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Porters Neck</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>LLC_BI__City__c</field>
            <value>
                <stringValue>London</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__State__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Zip_Code__c</field>
            <value>
                <stringValue>N7 8HT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>London - Holloway Rd</stringValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Branch__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Branch_Record_Porters_Neck_0</name>
        <label>Update Branch Record = Porters Neck</label>
        <locationX>780</locationX>
        <locationY>879</locationY>
        <connector>
            <targetReference>Update_Branch_Record_Porters_Neck</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Wilmington - Main</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>LLC_BI__City__c</field>
            <value>
                <stringValue>Sheffield</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__State__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Zip_Code__c</field>
            <value>
                <stringValue>S1 2HZ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Sheffield</stringValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Branch__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Branch_Record_Wilmington_South</name>
        <label>Update Branch Record = Wilmington - South</label>
        <locationX>532</locationX>
        <locationY>1074</locationY>
        <connector>
            <targetReference>Update_Branch_Record_Wrightsville</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Wilmington - South</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>LLC_BI__City__c</field>
            <value>
                <stringValue>Manchester</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__State__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Zip_Code__c</field>
            <value>
                <stringValue>M1 3HU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Manchester</stringValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Branch__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Branch_Record_Wrightsville</name>
        <label>Update Branch Record = Wrightsville</label>
        <locationX>697</locationX>
        <locationY>1062</locationY>
        <connector>
            <targetReference>Update_Branch_Record_Porters_Neck_0</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Wrightsville</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>LLC_BI__City__c</field>
            <value>
                <stringValue>Edinburgh</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__State__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Zip_Code__c</field>
            <value>
                <stringValue>EH1 3HU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Edinburgh</stringValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Branch__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collateral_Addresses_Non_Demo</name>
        <label>Update Collateral Addresses Non Demo</label>
        <locationX>4913</locationX>
        <locationY>659</locationY>
        <connector>
            <targetReference>Wait_to_update_all_other_addresses_0</targetReference>
        </connector>
        <filters>
            <field>Is_Demo_Collateral__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>LLC_BI__City__c</field>
            <value>
                <stringValue>London</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Collateral_Insurance_City__c</field>
            <value>
                <stringValue>London</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__County__c</field>
            <value>
                <stringValue>Middlesex</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__State__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Zip_Code__c</field>
            <value>
                <stringValue>EC1V 2PH</stringValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Collateral__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collateral_Demo_Records</name>
        <label>Update Collateral Demo Records</label>
        <locationX>2126</locationX>
        <locationY>205</locationY>
        <connector>
            <targetReference>Grab_Collateral_Types_Real_Estate</targetReference>
        </connector>
        <inputReference>SCVupdatecollateralrecords</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collateral_Types</name>
        <label>Update Collateral Types</label>
        <locationX>1960</locationX>
        <locationY>408</locationY>
        <connector>
            <targetReference>Lookup_route_tiles_Need_Help</targetReference>
        </connector>
        <inputReference>SCVupdatecollateraltyperecords</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_dem_values</name>
        <label>Update dem values</label>
        <locationX>1504</locationX>
        <locationY>211</locationY>
        <connector>
            <targetReference>Grab_screen_section_names_Debt_Schedule</targetReference>
        </connector>
        <inputReference>SCVupdateadddebt</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_dem_values_0</name>
        <label>Update dem values</label>
        <locationX>1358</locationX>
        <locationY>409</locationY>
        <connector>
            <targetReference>Grab_route_name_Underwriting</targetReference>
        </connector>
        <inputReference>SCVupdatedebtschedule</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_dem_values_0_1</name>
        <label>Update dem values</label>
        <locationX>1353</locationX>
        <locationY>523</locationY>
        <connector>
            <targetReference>Lookup_All_Demo_Contacts</targetReference>
        </connector>
        <inputReference>SCVupdateunderwriting</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Demo_Business_Relationships</name>
        <label>Update Demo Business Relationships</label>
        <locationX>1360</locationX>
        <locationY>964</locationY>
        <connector>
            <targetReference>Lookup_Individual_Demo_Relationships</targetReference>
        </connector>
        <inputReference>SCVupdatebusinessrelationships</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Demo_Contacts</name>
        <label>Update Demo Contacts</label>
        <locationX>1509</locationX>
        <locationY>752</locationY>
        <connector>
            <targetReference>Lookup_Business_Demo_Relationships</targetReference>
        </connector>
        <inputReference>SCVupdatecontacts</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Demo_Individual_Relationships</name>
        <label>Update Demo Individual Relationships</label>
        <locationX>1845</locationX>
        <locationY>342</locationY>
        <connector>
            <targetReference>Lookup_Collateral_Demo</targetReference>
        </connector>
        <inputReference>SCVupdateindividualdemorelationships</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>This looks up screen sections for ID Document so you can show UK picklist values versus U.S States</description>
        <name>Update_Drivers_License_Section_Configuration_for_Portal</name>
        <label>Update Drivers License Section Configuration for Portal</label>
        <locationX>5130</locationX>
        <locationY>145</locationY>
        <connector>
            <targetReference>Get_UK_Business_Brand_Record_Community</targetReference>
        </connector>
        <filters>
            <field>nFORCE__Field_Set_Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Drivers_License</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>nFORCE__Field_Set_Key__c</field>
            <value>
                <stringValue>Z_UK_Drivers_License</stringValue>
            </value>
        </inputAssignments>
        <object>nFORCE__Section_Configuration__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates insurance records with the criteria below</description>
        <name>Update_FEMA_Insurance_Records</name>
        <label>Update FEMA Insurance Records</label>
        <locationX>4912</locationX>
        <locationY>954</locationY>
        <connector>
            <targetReference>Update_StateFarm_Insurance_Records</targetReference>
        </connector>
        <filters>
            <field>Collateral_Insurance_Company__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>FEMA</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Collateral_Insurance_Company__c</field>
            <value>
                <stringValue>HM Government</stringValue>
            </value>
        </inputAssignments>
        <object>Insurance__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>This will update expiration date default value on field configuration records (portal)</description>
        <name>Update_Field_Configuration</name>
        <label>Update Field Configuration -</label>
        <locationX>4430</locationX>
        <locationY>914</locationY>
        <connector>
            <targetReference>Update_Field_Configuration_Home_City</targetReference>
        </connector>
        <filters>
            <field>nFORCE__Field_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LLC_BI__Home_Address__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>nFORCE__Field_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MailingAddress</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>nFORCE__Default_Value__c</field>
            <value>
                <stringValue>101 South Street</stringValue>
            </value>
        </inputAssignments>
        <object>nFORCE__Field_Configuration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Field_Configuration_Driver_s_License_ID</name>
        <label>Update Field Configuration = Driver&apos;s License ID</label>
        <locationX>4267</locationX>
        <locationY>1162</locationY>
        <connector>
            <targetReference>Update_Field_Configuration_Issue_State_ID_Doc_Type</targetReference>
        </connector>
        <filters>
            <field>nFORCE__Field_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LLC_BI__Id_Document_Type__c</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>nFORCE__Default_Value__c</field>
            <value>
                <elementReference>SCViddoctypeid.Id</elementReference>
            </value>
        </inputAssignments>
        <object>nFORCE__Field_Configuration__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates field config records for home city api name for contact</description>
        <name>Update_Field_Configuration_Home_City</name>
        <label>Update Field Configuration - Home City</label>
        <locationX>4576</locationX>
        <locationY>914</locationY>
        <connector>
            <targetReference>Update_Field_Configuration_Home_State</targetReference>
        </connector>
        <filters>
            <field>nFORCE__Field_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LLC_BI__Home_City__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>nFORCE__Field_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MailingCity</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>nFORCE__Default_Value__c</field>
            <value>
                <stringValue>London</stringValue>
            </value>
        </inputAssignments>
        <object>nFORCE__Field_Configuration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Field_Configuration_Home_State</name>
        <label>Update Field Configuration - Home State</label>
        <locationX>4577</locationX>
        <locationY>1034</locationY>
        <connector>
            <targetReference>Update_Field_Configuration_Home_Zipcode</targetReference>
        </connector>
        <filters>
            <field>nFORCE__Field_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>LLC_BI__Home_State__c</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>nFORCE__Default_Value__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>nFORCE__Field_Configuration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Field_Configuration_Home_Zipcode</name>
        <label>Update Field Configuration Home Zipcode</label>
        <locationX>4430</locationX>
        <locationY>1034</locationY>
        <connector>
            <targetReference>Get_ID_Document_Type_Drivers_License</targetReference>
        </connector>
        <filters>
            <field>nFORCE__Field_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>LLC_BI__Home_Zipcode__c</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>nFORCE__Default_Value__c</field>
            <value>
                <stringValue>EC1V 2PH</stringValue>
            </value>
        </inputAssignments>
        <object>nFORCE__Field_Configuration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Field_Configuration_Issue_State_ID_Doc_Type</name>
        <label>Update Field Configuration Issue State ID Doc Type</label>
        <locationX>4449</locationX>
        <locationY>1164</locationY>
        <connector>
            <targetReference>Update_Field_Configuration_Social_Security_Number</targetReference>
        </connector>
        <filters>
            <field>nFORCE__Field_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LLC_BI__Issue_State__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>nFORCE__Field_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MailingState</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>nFORCE__Default_Value__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>nFORCE__Field_Configuration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Field_Configuration_Social_Security_Number</name>
        <label>Update Field Configuration = Social Security Number</label>
        <locationX>4676</locationX>
        <locationY>1169</locationY>
        <connector>
            <targetReference>Update_Field_Configuration_Tax_Identification_Number</targetReference>
        </connector>
        <filters>
            <field>nFORCE__Field_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LLC_BI__SS__c</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>nFORCE__Alternate_Label__c</field>
            <value>
                <stringValue>NINO</stringValue>
            </value>
        </inputAssignments>
        <object>nFORCE__Field_Configuration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Field_Configuration_Tax_Identification_Number</name>
        <label>Update Field Configuration = Tax Identification Number</label>
        <locationX>4812</locationX>
        <locationY>126</locationY>
        <connector>
            <targetReference>Update_Field_Configuration_US_Citizen</targetReference>
        </connector>
        <filters>
            <field>nFORCE__Field_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LLC_BI__Tax_Identification_Number__c</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>nFORCE__Alternate_Label__c</field>
            <value>
                <stringValue>Companies House Number</stringValue>
            </value>
        </inputAssignments>
        <object>nFORCE__Field_Configuration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Field_Configuration_US_Citizen</name>
        <label>Update Field Configuration - US Citizen</label>
        <locationX>4998</locationX>
        <locationY>133</locationY>
        <connector>
            <targetReference>Update_Drivers_License_Section_Configuration_for_Portal</targetReference>
        </connector>
        <filters>
            <field>nFORCE__Field_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LLC_BI__US_Citizen__c</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>nFORCE__Alternate_Label__c</field>
            <value>
                <stringValue>Commonwealth Citizen</stringValue>
            </value>
        </inputAssignments>
        <object>nFORCE__Field_Configuration__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>This will update field configuration records where it says zip code.</description>
        <name>Update_Field_Configuration_Zip_Code</name>
        <label>Update Field Configuration - Zip Code</label>
        <locationX>4262</locationX>
        <locationY>914</locationY>
        <connector>
            <targetReference>Update_Field_Configuration</targetReference>
        </connector>
        <filters>
            <field>nFORCE__Alternate_Label__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Zip Code</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>nFORCE__Alternate_Label__c</field>
            <value>
                <stringValue>Postal Code</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFORCE__Default_Value__c</field>
            <value>
                <stringValue>EC1V 2PH</stringValue>
            </value>
        </inputAssignments>
        <object>nFORCE__Field_Configuration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ID_Document_Requirements_for_Individuals</name>
        <label>Update ID Document Requirements for Individuals</label>
        <locationX>1142</locationX>
        <locationY>307</locationY>
        <connector>
            <targetReference>Update_NC_Ortho_Tenant_Information</targetReference>
        </connector>
        <filters>
            <field>LLC_BI__Relationship_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Individual</stringValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Relationship_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sole Proprietorship</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>LLC_BI__Total_Documents_Required__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Id_Document_Requirement__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates an existing record to rename Alien Registration Card to Medicare Card for aussie</description>
        <name>Update_ID_Document_Type_Alien_Registration_to_Medicare_Card</name>
        <label>Update ID Document Type Alien Registration to Medicare Card</label>
        <locationX>563</locationX>
        <locationY>624</locationY>
        <connector>
            <targetReference>Update_ID_Document_Type_State_Issued_Id_to_Photo_ID</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Alien Registration Card</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Workers Visa</stringValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Id_Document_Type__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ID_Document_Type_Articles_of_Organization_Articles_of_Incorporation</name>
        <label>Update ID Document Type = Articles of Organization + Articles of Incorporation</label>
        <locationX>271</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Lookup_Individual_Record_Type_ID_1</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Articles of Organization</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Articles of Incorporation</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Certificate of Registration </stringValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Id_Document_Type__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates an existing record to rename Matricular Consular to Credit Card for UK</description>
        <name>Update_ID_Document_Type_Drivers_License_to_Driver_s_License_UK</name>
        <label>Update ID Document Type Drivers License to Driver&apos;s License (UK)</label>
        <locationX>564</locationX>
        <locationY>406</locationY>
        <connector>
            <targetReference>Update_ID_Document_Type_Matricular_Consular_to_Birth_Certificate</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Drivers License</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Drivers License (UK)</stringValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Id_Document_Type__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates an existing record to rename Matricular Consular to Birth Certificate for aussie</description>
        <name>Update_ID_Document_Type_Matricular_Consular_to_Birth_Certificate</name>
        <label>Update ID Document Type Matricular Consular to Birth Certificate</label>
        <locationX>566</locationX>
        <locationY>510</locationY>
        <connector>
            <targetReference>Update_ID_Document_Type_Alien_Registration_to_Medicare_Card</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Matricular Consular</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Birth Certificate (UK)</stringValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Id_Document_Type__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates an existing record to rename state issued ID to Photo ID for aussie</description>
        <name>Update_ID_Document_Type_State_Issued_Id_to_Photo_ID</name>
        <label>Update ID Document Type State Issued Id to Photo ID</label>
        <locationX>563</locationX>
        <locationY>747</locationY>
        <connector>
            <targetReference>Update_Section_Configuration_for_Drivers_License_ID_Documents</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>State Issued Id</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>UK Passport</stringValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Id_Document_Type__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>This will replace the brand record that we grabbed in the prior lookup.</description>
        <name>Update_Institution_Record</name>
        <label>Update Institution Record</label>
        <locationX>4925</locationX>
        <locationY>329</locationY>
        <connector>
            <targetReference>Wait_to_update_all_other_addresses</targetReference>
        </connector>
        <filters>
            <field>LLC_BI__Look_Up_Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>34652546354g5</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>LLC_BI__Brand__c</field>
            <value>
                <elementReference>varBusinessBrandID</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Institution__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Katie_Wahl</name>
        <label>Update Katie Wahl</label>
        <locationX>763</locationX>
        <locationY>302</locationY>
        <connector>
            <targetReference>Update_Pierre_Naude</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Katie Wahl</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>LanguageLocaleKey</field>
            <value>
                <stringValue>en_GB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <stringValue>en_GB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <stringValue>07733-221153</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <stringValue>020-92292720</stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_NC_Ortho_Tenant_Information</name>
        <label>Update NC Ortho Tenant Information</label>
        <locationX>1138</locationX>
        <locationY>206</locationY>
        <connector>
            <targetReference>Grab_screen_section_names_debt</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NC Ortho</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>LLC_BI__Tenant_Name__c</field>
            <value>
                <stringValue>London Ortho</stringValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Tenant_Information__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates insurance records with the criteria below</description>
        <name>Update_NCUUA_Insurance_Records</name>
        <label>Update NCUUA Insurance Records</label>
        <locationX>5171</locationX>
        <locationY>1171</locationY>
        <connector>
            <targetReference>Delete_Compliance_Route</targetReference>
        </connector>
        <filters>
            <field>Collateral_Insurance_Company__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>NCUUA</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Collateral_Insurance_Company__c</field>
            <value>
                <stringValue>AA</stringValue>
            </value>
        </inputAssignments>
        <object>Insurance__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pierre_Naude</name>
        <label>Update Pierre Naude</label>
        <locationX>761</locationX>
        <locationY>205</locationY>
        <connector>
            <targetReference>Update_Pilar_Daniels</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pierre Naude</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>LanguageLocaleKey</field>
            <value>
                <stringValue>en_GB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <stringValue>en_GB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <stringValue>07551-834307</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <stringValue>020-38829372</stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pilar_Daniels</name>
        <label>Update Pilar Daniels</label>
        <locationX>757</locationX>
        <locationY>98</locationY>
        <connector>
            <targetReference>Delete_Route_Patriot_Act</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pilar Daniels</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>LanguageLocaleKey</field>
            <value>
                <stringValue>en_GB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <stringValue>en_GB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <stringValue>07556-744782</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <stringValue>0121-6368030</stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Portal_Personal_Info</name>
        <label>Update Portal Personal Info</label>
        <locationX>5540</locationX>
        <locationY>1067</locationY>
        <filters>
            <field>nFORCE__Field_Set_Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NPORTAL__SBL_Personal_Contact</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>nFORCE__Field_Set_Key__c</field>
            <value>
                <stringValue>UK_SBL_Personal_Info</stringValue>
            </value>
        </inputAssignments>
        <object>nFORCE__Section_Configuration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Route_Tiles_Need_Help_UK</name>
        <label>Update Route Tiles = Need Help UK</label>
        <locationX>2000</locationX>
        <locationY>520</locationY>
        <connector>
            <targetReference>Lookup_all_User_Records_to_Update_Language_Locale</targetReference>
        </connector>
        <inputReference>SCVupdateneedhelproutetiles</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Portal record update AND Update Section Configuration for Default Collateral Pledged. Combined into ONE OR statement will update both records.</description>
        <name>Update_Section_Configuration_for_Default_Collateral_Pledged_via_PORTAL</name>
        <label>Update Section Configuration for Default Collateral Pledged via PORTAL and default collateral pledged internal</label>
        <locationX>1147</locationX>
        <locationY>522</locationY>
        <connector>
            <targetReference>Lookup_Business_Record_Type_ID</targetReference>
        </connector>
        <filters>
            <field>nFORCE__Field_Set_Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Collateral_Real_Estate_Portal_Edit</stringValue>
            </value>
        </filters>
        <filters>
            <field>nFORCE__Field_Set_Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LLC_BI__Collateral_Valuation</stringValue>
            </value>
        </filters>
        <filters>
            <field>nFORCE__Field_Set_Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LLC_BI__Leased_Asset_Valuation</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>nFORCE__Field_Set_Key__c</field>
            <value>
                <stringValue>Z_Australia_Valuation_Default</stringValue>
            </value>
        </inputAssignments>
        <object>nFORCE__Section_Configuration__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates drivers license field set for UK purposes
Updates Photo ID field set for UK purposes

LLC_BI__Id_Document__c   -Object</description>
        <name>Update_Section_Configuration_for_Drivers_License_ID_Documents</name>
        <label>Update Section Configuration for Drivers License ID Documents</label>
        <locationX>449</locationX>
        <locationY>914</locationY>
        <connector>
            <targetReference>Update_Branch_Record_Wilmington_South</targetReference>
        </connector>
        <filters>
            <field>nFORCE__Field_Set_Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LLC_BI__Id_Document_Drivers_License</stringValue>
            </value>
        </filters>
        <filters>
            <field>nFORCE__Field_Set_Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LLC_BI__Id_Document_State_Id</stringValue>
            </value>
        </filters>
        <filters>
            <field>nFORCE__Field_Set_Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LLC_BI__Id_Document_AlienRegistrationCard</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>nFORCE__Field_Set_Key__c</field>
            <value>
                <stringValue>Z_UK_Drivers_License</stringValue>
            </value>
        </inputAssignments>
        <object>nFORCE__Section_Configuration__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates insurance records with the criteria below</description>
        <name>Update_StateFarm_Insurance_Records</name>
        <label>Update State Farm Insurance Records</label>
        <locationX>4911</locationX>
        <locationY>1155</locationY>
        <connector>
            <targetReference>Update_NCUUA_Insurance_Records</targetReference>
        </connector>
        <filters>
            <field>Collateral_Insurance_Company__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>State Farm</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Collateral_Insurance_Company__c</field>
            <value>
                <stringValue>Old Mutual</stringValue>
            </value>
        </inputAssignments>
        <object>Insurance__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tenant_Information</name>
        <label>Update Tenant Information</label>
        <locationX>1963</locationX>
        <locationY>970</locationY>
        <connector>
            <targetReference>Lookup_Tenant_Information_Spreads_0</targetReference>
        </connector>
        <inputReference>SCVupdatedtenantinformation</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tenant_Information_0</name>
        <label>Update Tenant Information</label>
        <locationX>2403</locationX>
        <locationY>1090</locationY>
        <connector>
            <targetReference>Lookup_Tenant_Information_Spreads_0_1</targetReference>
        </connector>
        <inputReference>SCVupdatedtenantinformation</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tenant_Information_0_1</name>
        <label>Update Tenant Information</label>
        <locationX>2731</locationX>
        <locationY>214</locationY>
        <connector>
            <targetReference>Lookup_Tenant_Information_Spreads_0_1_1</targetReference>
        </connector>
        <inputReference>SCVupdatedtenantinformation</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tenant_Information_0_1_1</name>
        <label>Update Tenant Information</label>
        <locationX>2578</locationX>
        <locationY>429</locationY>
        <connector>
            <targetReference>Lookup_Tenant_Information_Spreads_0_1_1_1</targetReference>
        </connector>
        <inputReference>SCVupdatedtenantinformation</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tenant_Information_0_1_1_1</name>
        <label>Update Tenant Information</label>
        <locationX>2583</locationX>
        <locationY>531</locationY>
        <connector>
            <targetReference>Lookup_Tenant_Information_Spreads_0_1_1_1_1</targetReference>
        </connector>
        <inputReference>SCVupdatedtenantinformation</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tenant_Information_0_1_1_1_1</name>
        <label>Update Tenant Information</label>
        <locationX>2754</locationX>
        <locationY>757</locationY>
        <connector>
            <targetReference>Lookup_Tenant_Information_Spreads_0_1_1_1_1_1</targetReference>
        </connector>
        <inputReference>SCVupdatedtenantinformation</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tenant_Information_0_1_1_1_1_1</name>
        <label>Update Tenant Information</label>
        <locationX>2594</locationX>
        <locationY>982</locationY>
        <connector>
            <targetReference>Lookup_Tenant_Information_Spreads_0_1_1_1_1_1_1</targetReference>
        </connector>
        <inputReference>SCVupdatedtenantinformation</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tenant_Information_0_1_1_1_1_1_1</name>
        <label>Update Tenant Information</label>
        <locationX>2917</locationX>
        <locationY>1105</locationY>
        <connector>
            <targetReference>Lookup_Tenant_Information_Spreads_0_1_2</targetReference>
        </connector>
        <inputReference>SCVupdatedtenantinformation</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tenant_Information_0_1_1_1_1_1_1_2</name>
        <label>Update Tenant Information</label>
        <locationX>3538</locationX>
        <locationY>1141</locationY>
        <connector>
            <targetReference>Lookup_Tenant_Information_Spreads_0_1_2_2</targetReference>
        </connector>
        <inputReference>SCVupdatedtenantinformation</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tenant_Information_0_1_1_1_1_1_1_2_2</name>
        <label>Update Tenant Information</label>
        <locationX>4044</locationX>
        <locationY>1130</locationY>
        <connector>
            <targetReference>Lookup_Tenant_Information_Spreads_0_1_2_2_2</targetReference>
        </connector>
        <inputReference>SCVupdatedtenantinformation</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tenant_Information_0_1_1_1_1_1_2</name>
        <label>Update Tenant Information</label>
        <locationX>3147</locationX>
        <locationY>983</locationY>
        <connector>
            <targetReference>Lookup_Tenant_Information_Spreads_0_1_1_1_1_1_1_2</targetReference>
        </connector>
        <inputReference>SCVupdatedtenantinformation</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tenant_Information_0_1_1_1_1_1_2_2</name>
        <label>Update Tenant Information</label>
        <locationX>3696</locationX>
        <locationY>993</locationY>
        <connector>
            <targetReference>Lookup_Tenant_Information_Spreads_0_1_1_1_1_1_1_2_2</targetReference>
        </connector>
        <inputReference>SCVupdatedtenantinformation</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tenant_Information_0_1_1_1_1_2</name>
        <label>Update Tenant Information</label>
        <locationX>3307</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Lookup_Tenant_Information_Spreads_0_1_1_1_1_1_2</targetReference>
        </connector>
        <inputReference>SCVupdatedtenantinformation</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tenant_Information_0_1_1_1_1_2_2</name>
        <label>Update Tenant Information</label>
        <locationX>3856</locationX>
        <locationY>768</locationY>
        <connector>
            <targetReference>Lookup_Tenant_Information_Spreads_0_1_1_1_1_1_2_2</targetReference>
        </connector>
        <inputReference>SCVupdatedtenantinformation</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tenant_Information_0_1_1_1_1_2_2_2</name>
        <label>Update Tenant Information</label>
        <locationX>4430</locationX>
        <locationY>788</locationY>
        <connector>
            <targetReference>Lookup_Tenant_Information_Spreads_0_1_1_1_1_1_2_2_2</targetReference>
        </connector>
        <inputReference>SCVupdatedtenantinformation</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tenant_Information_0_1_1_1_2</name>
        <label>Update Tenant Information</label>
        <locationX>3136</locationX>
        <locationY>532</locationY>
        <connector>
            <targetReference>Lookup_Tenant_Information_Spreads_0_1_1_1_1_2</targetReference>
        </connector>
        <inputReference>SCVupdatedtenantinformation</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tenant_Information_0_1_1_1_2_2</name>
        <label>Update Tenant Information</label>
        <locationX>3685</locationX>
        <locationY>542</locationY>
        <connector>
            <targetReference>Lookup_Tenant_Information_Spreads_0_1_1_1_1_2_2</targetReference>
        </connector>
        <inputReference>SCVupdatedtenantinformation</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tenant_Information_0_1_1_1_2_2_2</name>
        <label>Update Tenant Information</label>
        <locationX>4259</locationX>
        <locationY>547</locationY>
        <connector>
            <targetReference>Lookup_Tenant_Information_Spreads_0_1_1_1_1_2_2_2</targetReference>
        </connector>
        <inputReference>SCVupdatedtenantinformation</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tenant_Information_0_1_1_2</name>
        <label>Update Tenant Information</label>
        <locationX>3131</locationX>
        <locationY>430</locationY>
        <connector>
            <targetReference>Lookup_Tenant_Information_Spreads_0_1_1_1_2</targetReference>
        </connector>
        <inputReference>SCVupdatedtenantinformation</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tenant_Information_0_1_1_2_2</name>
        <label>Update Tenant Information</label>
        <locationX>3680</locationX>
        <locationY>440</locationY>
        <connector>
            <targetReference>Lookup_Tenant_Information_Spreads_0_1_1_1_2_2</targetReference>
        </connector>
        <inputReference>SCVupdatedtenantinformation</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tenant_Information_0_1_1_2_2_2</name>
        <label>Update Tenant Information</label>
        <locationX>4254</locationX>
        <locationY>445</locationY>
        <connector>
            <targetReference>Lookup_Tenant_Information_Spreads_0_1_1_1_2_2_2</targetReference>
        </connector>
        <inputReference>SCVupdatedtenantinformation</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tenant_Information_0_1_2</name>
        <label>Update Tenant Information</label>
        <locationX>3284</locationX>
        <locationY>215</locationY>
        <connector>
            <targetReference>Lookup_Tenant_Information_Spreads_0_1_1_2</targetReference>
        </connector>
        <inputReference>SCVupdatedtenantinformation</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tenant_Information_0_1_2_2</name>
        <label>Update Tenant Information</label>
        <locationX>3833</locationX>
        <locationY>225</locationY>
        <connector>
            <targetReference>Lookup_Tenant_Information_Spreads_0_1_1_2_2</targetReference>
        </connector>
        <inputReference>SCVupdatedtenantinformation</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tenant_Information_0_1_2_2_2</name>
        <label>Update Tenant Information</label>
        <locationX>4407</locationX>
        <locationY>230</locationY>
        <connector>
            <targetReference>Lookup_Tenant_Information_Spreads_0_1_1_2_2_2</targetReference>
        </connector>
        <inputReference>SCVupdatedtenantinformation</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_USAA_Insurance_Records</name>
        <label>Update USAA Insurance Records</label>
        <locationX>5138</locationX>
        <locationY>803</locationY>
        <connector>
            <targetReference>Update_Allstate_Insurance_Records</targetReference>
        </connector>
        <filters>
            <field>Collateral_Insurance_Company__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>USAA</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Collateral_Insurance_Company__c</field>
            <value>
                <stringValue>Standard Life</stringValue>
            </value>
        </inputAssignments>
        <object>Insurance__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>121</locationY>
        <connector>
            <targetReference>Update_ID_Document_Type_Articles_of_Organization_Articles_of_Incorporation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LoopedAddDebt</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>nFORCE__Screen_Section__c</objectType>
    </variables>
    <variables>
        <name>LoopedAllUsers</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>LoopedBusinessDemoRelationships</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>LoopedCollateralDemoRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Collateral__c</objectType>
    </variables>
    <variables>
        <name>LoopedCollateralTypesRealEstate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Collateral_Type__c</objectType>
    </variables>
    <variables>
        <name>LoopedDebtSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>nFORCE__Screen_Section__c</objectType>
    </variables>
    <variables>
        <name>LoopedDemoContacts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>LoopedIndividualDemoRelationships</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>LoopedNeedHelpRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>nFORCE__Route_Tile__c</objectType>
    </variables>
    <variables>
        <name>LoopedTenantInformation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Tenant_Information__c</objectType>
    </variables>
    <variables>
        <name>LoopedUnderwritingRoute</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>nFORCE__Route__c</objectType>
    </variables>
    <variables>
        <name>SCVadddebt</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>nFORCE__Screen_Section__c</objectType>
    </variables>
    <variables>
        <name>SCVallusers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>SCVbusinessdemorelationships</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>SCVcollateraldemorecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Collateral__c</objectType>
    </variables>
    <variables>
        <name>SCVcollateraltypesequaltorealestate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Collateral_Type__c</objectType>
    </variables>
    <variables>
        <name>SCVcomplianceroutegroupstodelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>nFORCE__Route_Group__c</objectType>
    </variables>
    <variables>
        <name>SCVdebtschedule</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>nFORCE__Screen_Section__c</objectType>
    </variables>
    <variables>
        <name>SCVdeleteIDDocuments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Id_Document_Type__c</objectType>
    </variables>
    <variables>
        <name>SCVdemocontacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Drivers license ID record</description>
        <name>SCViddoctypeid</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Id_Document_Type__c</objectType>
    </variables>
    <variables>
        <name>SCVindividualdemorelationships</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>SCVneedhelp</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>nFORCE__Route_Tile__c</objectType>
    </variables>
    <variables>
        <name>SCVtenantinformation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Tenant_Information__c</objectType>
    </variables>
    <variables>
        <name>SCVunderwritingroute</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>nFORCE__Route__c</objectType>
    </variables>
    <variables>
        <name>SCVupdateadddebt</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>nFORCE__Screen_Section__c</objectType>
    </variables>
    <variables>
        <name>SCVupdateallusers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>SCVupdatebusinessrelationships</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>SCVupdatecollateralrecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Collateral__c</objectType>
    </variables>
    <variables>
        <name>SCVupdatecollateraltyperecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Collateral_Type__c</objectType>
    </variables>
    <variables>
        <name>SCVupdatecontacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SCVupdatedebtschedule</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>nFORCE__Screen_Section__c</objectType>
    </variables>
    <variables>
        <name>SCVupdatedtenantinformation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Tenant_Information__c</objectType>
    </variables>
    <variables>
        <name>SCVupdateindividualdemorelationships</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>SCVupdateneedhelproutetiles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>nFORCE__Route_Tile__c</objectType>
    </variables>
    <variables>
        <name>SCVupdateunderwriting</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>nFORCE__Route__c</objectType>
    </variables>
    <variables>
        <name>varBusinessBrandID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varBusinessRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varComplianceRouteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDriversLicenseid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIndividualRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIndividualWithConnectionsRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNeedHelpUk</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Wait_to_update_all_other_addresses</name>
        <label>Wait to update all other addresses</label>
        <locationX>4919</locationX>
        <locationY>512</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Pause_It</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Update_All_Individual_Records</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>Delayedtimeformula</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Pause It</label>
        </waitEvents>
    </waits>
    <waits>
        <name>Wait_to_update_all_other_addresses_0</name>
        <label>Wait to update Insurance Records Etc.</label>
        <locationX>4911</locationX>
        <locationY>802</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Pause_It_0</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Update_USAA_Insurance_Records</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>Delayedtimeformula</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Pause It</label>
        </waitEvents>
    </waits>
</Flow>
