flows/ZCanada.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Collateral_Types</name>
        <label>Add Collateral Types</label>
        <locationX>1911</locationX>
        <locationY>466</locationY>
        <assignmentItems>
            <assignToReference>SCVupdatecollateraltyperecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopedCollateralTypesRealEstate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Collateral_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_the_values2_0</name>
        <label>Add the values</label>
        <locationX>1322</locationX>
        <locationY>473</locationY>
        <assignmentItems>
            <assignToReference>SCVupdatecontacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopedDemoContacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Demo_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_the_values_1</name>
        <label>Add the values</label>
        <locationX>1326</locationX>
        <locationY>588</locationY>
        <assignmentItems>
            <assignToReference>SCVupdatebusinessrelationships</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopedBusinessDemoRelationships</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Business_Demo_Relationships</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_the_values_1_1</name>
        <label>Add the values</label>
        <locationX>1171</locationX>
        <locationY>809</locationY>
        <assignmentItems>
            <assignToReference>SCVupdateindividualdemorelationships</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopedIndividualDemoRelationships</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Individual_Demo_Relationships</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_the_values_1_1_1</name>
        <label>Add the values</label>
        <locationX>1908</locationX>
        <locationY>334</locationY>
        <assignmentItems>
            <assignToReference>SCVupdatecollateralrecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopedCollateralDemoRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Collateral_Demo_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_User_Values</name>
        <label>Add User Values</label>
        <locationX>1938</locationX>
        <locationY>892</locationY>
        <assignmentItems>
            <assignToReference>SCVupdateallusers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopedAllUsers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_All_User_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Demo_Contact_Values</name>
        <label>Assign Demo Contact Values</label>
        <locationX>1322</locationX>
        <locationY>359</locationY>
        <assignmentItems>
            <assignToReference>LoopedDemoContacts.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canada</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedDemoContacts.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Toronto</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedDemoContacts.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canada</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedDemoContacts.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ontario</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedDemoContacts.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>M5T 1B3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedDemoContacts.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>50 Stephanie St</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedDemoContacts.LLC_BI__Home_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>50 Stephanie St</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedDemoContacts.LLC_BI__Home_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Toronto</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedDemoContacts.LLC_BI__Home_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ontario</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedDemoContacts.LLC_BI__Home_Zipcode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>M5T 1B3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedDemoContacts.HomePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>416-223-3600</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedDemoContacts.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>416-233-3675</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedDemoContacts.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>416-223-3600</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedDemoContacts.LLC_BI__SS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>553456788</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_the_values2_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Field_Set_to_Collateral_Types</name>
        <label>Assign Field Set to Collateral Types</label>
        <locationX>1755</locationX>
        <locationY>517</locationY>
        <assignmentItems>
            <assignToReference>LoopedCollateralTypesRealEstate.nPortal__OA_Collateral_Type_Display_Field_Set__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Z_Canada_Provinces</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Collateral_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Locale_Language_to_All_Users</name>
        <label>Assign Locale/Language to All Users</label>
        <locationX>1761</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>LoopedAllUsers.LanguageLocaleKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>en_CA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedAllUsers.LocaleSidKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>en_CA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_User_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Business_Relationships</name>
        <label>Assign Values to Business Relationships</label>
        <locationX>1164</locationX>
        <locationY>581</locationY>
        <assignmentItems>
            <assignToReference>LoopedBusinessDemoRelationships.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>888 676 2466</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedBusinessDemoRelationships.LLCLP__State_of_Incorporation__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedBusinessDemoRelationships.LLC_BI__CIF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>45459898101</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedBusinessDemoRelationships.LLC_BI__Tax_Identification_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>986547569</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedBusinessDemoRelationships.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>99 Blue Jays Way</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedBusinessDemoRelationships.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Toronto</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedBusinessDemoRelationships.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ontario</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedBusinessDemoRelationships.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>M5V 9G9</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedBusinessDemoRelationships.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canada</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedBusinessDemoRelationships.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>99 Blue Jays Way</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedBusinessDemoRelationships.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Toronto</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedBusinessDemoRelationships.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ontario</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedBusinessDemoRelationships.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canada</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedBusinessDemoRelationships.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>M5V 9G9</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedBusinessDemoRelationships.LLC_BI__Naics_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>86753</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_the_values_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Collateral_Demo_Records</name>
        <label>Assign Values to Collateral Demo Records</label>
        <locationX>1899</locationX>
        <locationY>180</locationY>
        <assignmentItems>
            <assignToReference>LoopedCollateralDemoRecords.LLC_BI__Street_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3401 Dufferin St</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedCollateralDemoRecords.LLC_BI__Zip_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>M6A 2T9</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedCollateralDemoRecords.LLC_BI__City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>North York</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedCollateralDemoRecords.LLC_BI__County__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedCollateralDemoRecords.LLC_BI__State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ontario</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedCollateralDemoRecords.LLC_BI__Subdivision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>North York</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedCollateralDemoRecords.Z_Canadian_States__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_the_values_1_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Individual_Relationships</name>
        <label>Assign Values to Individual Relationships</label>
        <locationX>997</locationX>
        <locationY>809</locationY>
        <assignmentItems>
            <assignToReference>LoopedIndividualDemoRelationships.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>416-921-5125</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedIndividualDemoRelationships.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>50 Alexander Street</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedIndividualDemoRelationships.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Toronto</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedIndividualDemoRelationships.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ontario</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedIndividualDemoRelationships.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>M4Y 1B6</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopedIndividualDemoRelationships.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canada</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_the_values_1_1</targetReference>
        </connector>
    </assignments>
    <description>This is a flow that will re-write record based configuration to look more localised for Canadian demos</description>
    <formulas>
        <description>This is a delayed formula so we can fire additional items in flow without hitting limits... skirting around time based workflow</description>
        <name>Delayedtimeformula</name>
        <dataType>DateTime</dataType>
        <expression>(NOW() -0.04145)</expression>
    </formulas>
    <interviewLabel>ZCanada {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ZCanada</label>
    <loops>
        <name>Loop_All_Demo_Contacts</name>
        <label>Loop All Demo Contacts</label>
        <locationX>1152</locationX>
        <locationY>351</locationY>
        <assignNextValueToReference>LoopedDemoContacts</assignNextValueToReference>
        <collectionReference>SCVdemocontacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Demo_Contact_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Demo_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Business_Demo_Relationships</name>
        <label>Loop Business Demo Relationships</label>
        <locationX>1001</locationX>
        <locationY>580</locationY>
        <assignNextValueToReference>LoopedBusinessDemoRelationships</assignNextValueToReference>
        <collectionReference>SCVbusinessdemorelationships</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values_to_Business_Relationships</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Demo_Business_Relationships</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Collateral_Demo_Records</name>
        <label>Loop Collateral Demo Records</label>
        <locationX>1719</locationX>
        <locationY>207</locationY>
        <assignNextValueToReference>LoopedCollateralDemoRecords</assignNextValueToReference>
        <collectionReference>SCVcollateraldemorecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values_to_Collateral_Demo_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Collateral_Demo_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Collateral_Types</name>
        <label>Loop Collateral Types</label>
        <locationX>1577</locationX>
        <locationY>433</locationY>
        <assignNextValueToReference>LoopedCollateralTypesRealEstate</assignNextValueToReference>
        <collectionReference>SCVcollateraltypesequaltorealestate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Field_Set_to_Collateral_Types</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Collateral_Types</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Individual_Demo_Relationships</name>
        <label>Loop Individual Demo Relationships</label>
        <locationX>1319</locationX>
        <locationY>698</locationY>
        <assignNextValueToReference>LoopedIndividualDemoRelationships</assignNextValueToReference>
        <collectionReference>SCVindividualdemorelationships</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values_to_Individual_Relationships</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Demo_Individual_Relationships</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_All_User_Records</name>
        <label>Loop through All User Records</label>
        <locationX>1923</locationX>
        <locationY>654</locationY>
        <assignNextValueToReference>LoopedAllUsers</assignNextValueToReference>
        <collectionReference>SCVallusers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Locale_Language_to_All_Users</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_All_User_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Compliance_Route</name>
        <label>Delete Compliance Route</label>
        <locationX>575</locationX>
        <locationY>774</locationY>
        <connector>
            <targetReference>Update_Branch_Record_Wrightsville</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varComplianceRouteID</elementReference>
            </value>
        </filters>
        <object>nFORCE__Route__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Compliance_Route_Groups</name>
        <label>Delete Compliance Route Groups</label>
        <locationX>574</locationX>
        <locationY>483</locationY>
        <connector>
            <targetReference>Lookup_Compliance_Route_Groups_to_Delete_0</targetReference>
        </connector>
        <inputReference>SCVcomplianceroutegroupstodelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Compliance_Route_Groups_0</name>
        <label>Delete Compliance Route Groups</label>
        <locationX>576</locationX>
        <locationY>624</locationY>
        <connector>
            <targetReference>Delete_Compliance_Route</targetReference>
        </connector>
        <inputReference>SCVcomplianceroutegroupstodelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <description>This will delete the records from the fast lookup regarding ID Document types</description>
        <name>Delete_ID_Document_Types</name>
        <label>Delete ID Document Types</label>
        <locationX>772</locationX>
        <locationY>893</locationY>
        <connector>
            <targetReference>Delete_Route_Tile_after_Patriot_Act</targetReference>
        </connector>
        <inputReference>SCVdeleteIDDocuments</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Member_FDIC_Image_from_Documents</name>
        <label>Delete Member FDIC Image from Documents</label>
        <locationX>759</locationX>
        <locationY>240</locationY>
        <connector>
            <targetReference>Lookup_Compliance_Route</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Member FDIC</stringValue>
            </value>
        </filters>
        <object>Document</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Route_Patriot_Act</name>
        <label>Delete Route = Patriot Act</label>
        <locationX>575</locationX>
        <locationY>232</locationY>
        <connector>
            <targetReference>Delete_Member_FDIC_Image_from_Documents</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>U.S.A. Patriot Act</stringValue>
            </value>
        </filters>
        <object>nFORCE__Tile__c</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Route_Tile_after_Patriot_Act</name>
        <label>Delete Route Tile after Patriot Act</label>
        <locationX>771</locationX>
        <locationY>771</locationY>
        <connector>
            <targetReference>Update_Section_Configuration_for_Default_Collateral_Pledged_via_PORTAL</targetReference>
        </connector>
        <filters>
            <field>nFORCE__Tile__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>nFORCE__Route_Tile__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_ID_Document_Type_Drivers_License</name>
        <label>Get ID Document Type = Drivers License</label>
        <locationX>1621</locationX>
        <locationY>1177</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Field_Configuration_Driver_s_License_ID</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Drivers License</stringValue>
            </value>
        </filters>
        <object>LLC_BI__Id_Document_Type__c</object>
        <outputReference>SCViddoctypeid</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>I&apos;m grabbing these to update the default field set for portal so State picklists don&apos;t show. Localisation for Australia</description>
        <name>Grab_Collateral_Types_Real_Estate</name>
        <label>Grab Collateral Types = Real Estate</label>
        <locationX>1575</locationX>
        <locationY>313</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Collateral_Types</targetReference>
        </connector>
        <filters>
            <field>nPortal__OA_Collateral_Type_Display_Field_Set__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Collateral_Real_Estate_Portal_Edit</stringValue>
            </value>
        </filters>
        <object>LLC_BI__Collateral_Type__c</object>
        <outputReference>SCVcollateraltypesequaltorealestate</outputReference>
        <queriedFields>nPortal__OA_Collateral_Type_Display_Field_Set__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_All_Demo_Contacts</name>
        <label>Lookup All Demo Contacts</label>
        <locationX>996</locationX>
        <locationY>357</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_Demo_Contacts</targetReference>
        </connector>
        <filters>
            <field>Is_Demo_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>SCVdemocontacts</outputReference>
        <queriedFields>MailingAddress</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>LLC_BI__Home_Address__c</queriedFields>
        <queriedFields>LLC_BI__Home_City__c</queriedFields>
        <queriedFields>LLC_BI__Home_State__c</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <queriedFields>LLC_BI__Home_Zipcode__c</queriedFields>
        <queriedFields>MailingCity</queriedFields>
        <queriedFields>MailingCountry</queriedFields>
        <queriedFields>MailingState</queriedFields>
        <queriedFields>MailingPostalCode</queriedFields>
        <queriedFields>HomePhone</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>LLC_BI__SS__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Just in case no one spun their org up in the local language/company info this will help</description>
        <name>Lookup_all_User_Records_to_Update_Language_Locale</name>
        <label>Lookup all User Records to Update Language/Locale</label>
        <locationX>1764</locationX>
        <locationY>656</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_All_User_Records</targetReference>
        </connector>
        <filters>
            <field>Alias</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>guest</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserRoleId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputReference>SCVallusers</outputReference>
        <queriedFields>LanguageLocaleKey</queriedFields>
        <queriedFields>LocaleSidKey</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Business_Demo_Relationships</name>
        <label>Lookup Business Demo Relationships</label>
        <locationX>1000</locationX>
        <locationY>474</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Business_Demo_Relationships</targetReference>
        </connector>
        <filters>
            <field>Is_Demo_Relationship__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varBusinessRecordType</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>SCVbusinessdemorelationships</outputReference>
        <queriedFields>LLCLP__State_of_Incorporation__c</queriedFields>
        <queriedFields>LLC_BI__CIF__c</queriedFields>
        <queriedFields>LLC_BI__Tax_Identification_Number__c</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>ShippingStreet</queriedFields>
        <queriedFields>ShippingState</queriedFields>
        <queriedFields>ShippingCity</queriedFields>
        <queriedFields>ShippingCountry</queriedFields>
        <queriedFields>ShippingPostalCode</queriedFields>
        <queriedFields>LLC_BI__Naics_Code__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Business_Record_Type_ID</name>
        <label>Lookup Business Record Type ID</label>
        <locationX>918</locationX>
        <locationY>221</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_All_Demo_Contacts</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business with Connections</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varBusinessRecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Collateral_Demo</name>
        <label>Lookup Collateral Demo</label>
        <locationX>1441</locationX>
        <locationY>210</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Collateral_Demo_Records</targetReference>
        </connector>
        <filters>
            <field>Is_Demo_Collateral__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>LLC_BI__Collateral__c</object>
        <outputReference>SCVcollateraldemorecords</outputReference>
        <queriedFields>LLC_BI__Street_Address__c</queriedFields>
        <queriedFields>LLC_BI__City__c</queriedFields>
        <queriedFields>LLC_BI__State__c</queriedFields>
        <queriedFields>LLC_BI__Zip_Code__c</queriedFields>
        <queriedFields>LLC_BI__County__c</queriedFields>
        <queriedFields>Z_Canadian_States__c</queriedFields>
        <queriedFields>LLC_BI__Subdivision__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Used to grab the ID for compliance route so I can delete all the route groups</description>
        <name>Lookup_Compliance_Route</name>
        <label>Lookup Compliance Route</label>
        <locationX>576</locationX>
        <locationY>359</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Compliance_Route_Groups_to_Delete</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Compliance</stringValue>
            </value>
        </filters>
        <filters>
            <field>nFORCE__App__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>compliance-dummy</stringValue>
            </value>
        </filters>
        <object>nFORCE__Route__c</object>
        <outputAssignments>
            <assignToReference>varComplianceRouteID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Compliance_Route_Groups_to_Delete</name>
        <label>Lookup Compliance Route Groups to Delete</label>
        <locationX>764</locationX>
        <locationY>366</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Compliance_Route_Groups</targetReference>
        </connector>
        <filters>
            <field>nFORCE__Parent_Route__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varComplianceRouteID</elementReference>
            </value>
        </filters>
        <object>nFORCE__Route_Group__c</object>
        <outputReference>SCVcomplianceroutegroupstodelete</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Compliance_Route_Groups_to_Delete_0</name>
        <label>Lookup Compliance Route Groups to Delete</label>
        <locationX>700</locationX>
        <locationY>546</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Compliance_Route_Groups_0</targetReference>
        </connector>
        <filters>
            <field>nFORCE__Route__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varComplianceRouteID</elementReference>
            </value>
        </filters>
        <object>nFORCE__Route_Group__c</object>
        <outputReference>SCVcomplianceroutegroupstodelete</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>This will go grab all the id document types to delete irrelevant for Aussie!</description>
        <name>Lookup_ID_Document_Types_to_Delete</name>
        <label>Lookup ID Document Types to Delete</label>
        <locationX>777</locationX>
        <locationY>1034</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_ID_Document_Types</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>US Visa</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>US Military ID Card</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>US Permanent Resident Card</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>US Temporary Resident Card</stringValue>
            </value>
        </filters>
        <object>LLC_BI__Id_Document_Type__c</object>
        <outputReference>SCVdeleteIDDocuments</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Individual_Demo_Relationships</name>
        <label>Lookup Individual Demo Relationships</label>
        <locationX>1162</locationX>
        <locationY>689</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Individual_Demo_Relationships</targetReference>
        </connector>
        <filters>
            <field>Is_Demo_Relationship__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varIndividualWithConnectionsRecordType</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varIndividualRecordTypeID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>SCVindividualdemorelationships</outputReference>
        <queriedFields>Phone</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Individual_Record_Type_ID</name>
        <label>Lookup Individual With Connections Record Type ID</label>
        <locationX>180</locationX>
        <locationY>332</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_ID_Document_Type_Matricular_Consular_to_Birth_Certificate</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Individual with Connections</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varIndividualWithConnectionsRecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Individual_Record_Type_ID_1</name>
        <label>Lookup Individual Record Type ID</label>
        <locationX>180</locationX>
        <locationY>228</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Individual_Record_Type_ID</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Individual</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varIndividualRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>This will update all non-demo business relationships</description>
        <name>Update_All_Business_Relationships</name>
        <label>Update All Business Relationships</label>
        <locationX>2865</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Update_Collateral_Addresses_Non_Demo</targetReference>
        </connector>
        <filters>
            <field>Is_Demo_Relationship__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Is_Individual__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <stringValue>Montreal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <stringValue>Canada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <stringValue>H3G 1J5</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <stringValue>Quebec</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>This will update addresses to be Australian in the system</description>
        <name>Update_All_Individual_Records</name>
        <label>Update All Individual Records</label>
        <locationX>2695</locationX>
        <locationY>241</locationY>
        <connector>
            <targetReference>Update_All_Business_Relationships</targetReference>
        </connector>
        <filters>
            <field>Is_Demo_Relationship__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Is_Individual__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <stringValue>Vancouver</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <stringValue>Canada</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <stringValue>V5T 1X4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <stringValue>British Columbia</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_All_User_Records</name>
        <label>Update All User Records</label>
        <locationX>1573</locationX>
        <locationY>801</locationY>
        <connector>
            <targetReference>Update_Field_Configuration_Zip_Code</targetReference>
        </connector>
        <inputReference>SCVupdateallusers</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Branch_Record_Elon</name>
        <label>Update Branch Record = Elon</label>
        <locationX>384</locationX>
        <locationY>639</locationY>
        <connector>
            <targetReference>Update_Katie_Wahl</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Elon</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>LLC_BI__City__c</field>
            <value>
                <stringValue>Mississauga</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__State__c</field>
            <value>
                <stringValue>Ontario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Zip_Code__c</field>
            <value>
                <stringValue>L5 R3 G2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Mississauga</stringValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Branch__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Branch_Record_Mayfair</name>
        <label>Update Branch Record = Mayfair</label>
        <locationX>388</locationX>
        <locationY>785</locationY>
        <connector>
            <targetReference>Update_Branch_Record_Elon</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mayfaire</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>LLC_BI__City__c</field>
            <value>
                <stringValue>Ottawa</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__State__c</field>
            <value>
                <stringValue>Ontario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Zip_Code__c</field>
            <value>
                <stringValue>K1 G3 V8</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Ottawa</stringValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Branch__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Branch_Record_Mortgage_Office</name>
        <label>Update Branch Record = Mortgage Office</label>
        <locationX>395</locationX>
        <locationY>949</locationY>
        <connector>
            <targetReference>Update_Branch_Record_Mayfair</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mortgage Office</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>LLC_BI__City__c</field>
            <value>
                <stringValue>Scarborough</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__State__c</field>
            <value>
                <stringValue>Ontario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Zip_Code__c</field>
            <value>
                <stringValue>M1 R0 G1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Scarborough</stringValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Branch__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Branch_Record_Porters_Neck</name>
        <label>Update Branch Record = Porters Neck</label>
        <locationX>174</locationX>
        <locationY>955</locationY>
        <connector>
            <targetReference>Update_Branch_Record_Mortgage_Office</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Porters Neck</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>LLC_BI__City__c</field>
            <value>
                <stringValue>London</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__State__c</field>
            <value>
                <stringValue>Ontario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Zip_Code__c</field>
            <value>
                <stringValue>N6 L1 R4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>London</stringValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Branch__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Branch_Record_Porters_Neck_0</name>
        <label>Update Branch Record = Porters Neck</label>
        <locationX>176</locationX>
        <locationY>778</locationY>
        <connector>
            <targetReference>Update_Branch_Record_Porters_Neck</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Wilmington - Main</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>LLC_BI__City__c</field>
            <value>
                <stringValue>Toronto</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__State__c</field>
            <value>
                <stringValue>Ontario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Zip_Code__c</field>
            <value>
                <stringValue>N2 H3 Z9</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Kitchener</stringValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Branch__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Branch_Record_Wilmington_South</name>
        <label>Update Branch Record = Wilmington - South</label>
        <locationX>585</locationX>
        <locationY>1036</locationY>
        <connector>
            <targetReference>Lookup_ID_Document_Types_to_Delete</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Wilmington - South</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>LLC_BI__City__c</field>
            <value>
                <stringValue>Richmond</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__State__c</field>
            <value>
                <stringValue>British Columbia</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Zip_Code__c</field>
            <value>
                <stringValue>V7 C1 C4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Richmond</stringValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Branch__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Branch_Record_Wrightsville</name>
        <label>Update Branch Record = Wrightsville</label>
        <locationX>583</locationX>
        <locationY>914</locationY>
        <connector>
            <targetReference>Update_Branch_Record_Wilmington_South</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Wrightsville</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>LLC_BI__City__c</field>
            <value>
                <stringValue>Kingston</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__State__c</field>
            <value>
                <stringValue>Ontario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Zip_Code__c</field>
            <value>
                <stringValue>K7 L1 A5 </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Kingston</stringValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Branch__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collateral_Addresses_Non_Demo</name>
        <label>Update Collateral Addresses Non Demo</label>
        <locationX>3028</locationX>
        <locationY>245</locationY>
        <filters>
            <field>Is_Demo_Collateral__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>LLC_BI__City__c</field>
            <value>
                <stringValue>Toronto</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Collateral_Insurance_City__c</field>
            <value>
                <stringValue>Toronto</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__County__c</field>
            <value>
                <stringValue>Toronto</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__State__c</field>
            <value>
                <stringValue>Ontario</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Zip_Code__c</field>
            <value>
                <stringValue>M5X 1E3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Z_Canadian_States__c</field>
            <value>
                <stringValue>Ontario</stringValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Collateral__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collateral_Demo_Records</name>
        <label>Update Collateral Demo Records</label>
        <locationX>1741</locationX>
        <locationY>346</locationY>
        <connector>
            <targetReference>Grab_Collateral_Types_Real_Estate</targetReference>
        </connector>
        <inputReference>SCVupdatecollateralrecords</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Collateral_Types</name>
        <label>Update Collateral Types</label>
        <locationX>1573</locationX>
        <locationY>649</locationY>
        <connector>
            <targetReference>Lookup_all_User_Records_to_Update_Language_Locale</targetReference>
        </connector>
        <inputReference>SCVupdatecollateraltyperecords</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Demo_Business_Relationships</name>
        <label>Update Demo Business Relationships</label>
        <locationX>1004</locationX>
        <locationY>687</locationY>
        <connector>
            <targetReference>Lookup_Individual_Demo_Relationships</targetReference>
        </connector>
        <inputReference>SCVupdatebusinessrelationships</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Demo_Contacts</name>
        <label>Update Demo Contacts</label>
        <locationX>1153</locationX>
        <locationY>474</locationY>
        <connector>
            <targetReference>Lookup_Business_Demo_Relationships</targetReference>
        </connector>
        <inputReference>SCVupdatecontacts</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Demo_Individual_Relationships</name>
        <label>Update Demo Individual Relationships</label>
        <locationX>1439</locationX>
        <locationY>978</locationY>
        <connector>
            <targetReference>Lookup_Collateral_Demo</targetReference>
        </connector>
        <inputReference>SCVupdateindividualdemorelationships</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>This will update expiration date default value on field configuration records (portal)</description>
        <name>Update_Field_Configuration</name>
        <label>Update Field Configuration -</label>
        <locationX>1787</locationX>
        <locationY>1057</locationY>
        <connector>
            <targetReference>Update_Field_Configuration_Home_City</targetReference>
        </connector>
        <filters>
            <field>nFORCE__Field_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LLC_BI__Home_Address__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>nFORCE__Field_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MailingAddress</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>nFORCE__Default_Value__c</field>
            <value>
                <stringValue>50 Stephanie St</stringValue>
            </value>
        </inputAssignments>
        <object>nFORCE__Field_Configuration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Field_Configuration_Driver_s_License_ID</name>
        <label>Update Field Configuration = Driver&apos;s License ID</label>
        <locationX>1624</locationX>
        <locationY>1306</locationY>
        <connector>
            <targetReference>Update_Field_Configuration_Issue_State_ID_Doc_Type</targetReference>
        </connector>
        <filters>
            <field>nFORCE__Field_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LLC_BI__Id_Document_Type__c</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>nFORCE__Default_Value__c</field>
            <value>
                <elementReference>SCViddoctypeid.Id</elementReference>
            </value>
        </inputAssignments>
        <object>nFORCE__Field_Configuration__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates field config records for home city api name for contact</description>
        <name>Update_Field_Configuration_Home_City</name>
        <label>Update Field Configuration - Home City</label>
        <locationX>1931</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>Update_Field_Configuration_Home_State</targetReference>
        </connector>
        <filters>
            <field>nFORCE__Field_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LLC_BI__Home_City__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>nFORCE__Field_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MailingCity</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>nFORCE__Default_Value__c</field>
            <value>
                <stringValue>Toronto</stringValue>
            </value>
        </inputAssignments>
        <object>nFORCE__Field_Configuration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Field_Configuration_Home_State</name>
        <label>Update Field Configuration - Home State</label>
        <locationX>1933</locationX>
        <locationY>1180</locationY>
        <connector>
            <targetReference>Update_Field_Configuration_Home_Zipcode</targetReference>
        </connector>
        <filters>
            <field>nFORCE__Field_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>LLC_BI__Home_State__c</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>nFORCE__Default_Value__c</field>
            <value>
                <stringValue>Ontario</stringValue>
            </value>
        </inputAssignments>
        <object>nFORCE__Field_Configuration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Field_Configuration_Home_Zipcode</name>
        <label>Update Field Configuration Home Zipcode</label>
        <locationX>1787</locationX>
        <locationY>1178</locationY>
        <connector>
            <targetReference>Get_ID_Document_Type_Drivers_License</targetReference>
        </connector>
        <filters>
            <field>nFORCE__Field_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>LLC_BI__Home_Zipcode__c</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>nFORCE__Default_Value__c</field>
            <value>
                <stringValue>M5T 1B3</stringValue>
            </value>
        </inputAssignments>
        <object>nFORCE__Field_Configuration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Field_Configuration_Issue_State_ID_Doc_Type</name>
        <label>Update Field Configuration Issue State ID Doc Type</label>
        <locationX>1806</locationX>
        <locationY>1308</locationY>
        <connector>
            <targetReference>Update_Field_Configuration_Social_Security_Number</targetReference>
        </connector>
        <filters>
            <field>nFORCE__Field_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LLC_BI__Issue_State__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>nFORCE__Field_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MailingState</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>nFORCE__Default_Value__c</field>
            <value>
                <stringValue>Ontario</stringValue>
            </value>
        </inputAssignments>
        <object>nFORCE__Field_Configuration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Field_Configuration_Social_Security_Number</name>
        <label>Update Field Configuration = Social Security Number</label>
        <locationX>2018</locationX>
        <locationY>1313</locationY>
        <connector>
            <targetReference>Update_Field_Configuration_Tax_Identification_Number</targetReference>
        </connector>
        <filters>
            <field>nFORCE__Field_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LLC_BI__SS__c</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>nFORCE__Alternate_Label__c</field>
            <value>
                <stringValue>SIN</stringValue>
            </value>
        </inputAssignments>
        <object>nFORCE__Field_Configuration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Field_Configuration_Tax_Identification_Number</name>
        <label>Update Field Configuration = Tax Identification Number</label>
        <locationX>2148</locationX>
        <locationY>236</locationY>
        <connector>
            <targetReference>Update_Field_Configuration_US_Citizen</targetReference>
        </connector>
        <filters>
            <field>nFORCE__Field_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LLC_BI__Tax_Identification_Number__c</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>nFORCE__Alternate_Label__c</field>
            <value>
                <stringValue>Business Number</stringValue>
            </value>
        </inputAssignments>
        <object>nFORCE__Field_Configuration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Field_Configuration_US_Citizen</name>
        <label>Update Field Configuration - US Citizen</label>
        <locationX>2317</locationX>
        <locationY>241</locationY>
        <connector>
            <targetReference>Wait_to_update_all_other_addresses</targetReference>
        </connector>
        <filters>
            <field>nFORCE__Field_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LLC_BI__US_Citizen__c</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>nFORCE__Alternate_Label__c</field>
            <value>
                <stringValue>Canadian Citizen</stringValue>
            </value>
        </inputAssignments>
        <object>nFORCE__Field_Configuration__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>This will update field configuration records where it says zip code.</description>
        <name>Update_Field_Configuration_Zip_Code</name>
        <label>Update Field Configuration - Zip Code</label>
        <locationX>1618</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>Update_Field_Configuration</targetReference>
        </connector>
        <filters>
            <field>nFORCE__Alternate_Label__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Zip Code</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>nFORCE__Alternate_Label__c</field>
            <value>
                <stringValue>Postal Code</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nFORCE__Default_Value__c</field>
            <value>
                <stringValue>M5T 1B3</stringValue>
            </value>
        </inputAssignments>
        <object>nFORCE__Field_Configuration__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates an existing record to rename Matricular Consular to Birth Certificate for aussie</description>
        <name>Update_ID_Document_Type_Matricular_Consular_to_Birth_Certificate</name>
        <label>Update ID Document Type Matricular Consular to Birth Certificate</label>
        <locationX>178</locationX>
        <locationY>495</locationY>
        <connector>
            <targetReference>Update_ID_Document_Type_State_Issued_Id_to_Photo_ID</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Matricular Consular</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Birth Certificate (Canadian)</stringValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Id_Document_Type__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates an existing record to rename state issued ID to Photo ID for aussie</description>
        <name>Update_ID_Document_Type_State_Issued_Id_to_Photo_ID</name>
        <label>Update ID Document Type State Issued Id to Photo ID</label>
        <locationX>175</locationX>
        <locationY>633</locationY>
        <connector>
            <targetReference>Update_Branch_Record_Porters_Neck_0</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>State Issued Id</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Province Issued Id</stringValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Id_Document_Type__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Katie_Wahl</name>
        <label>Update Katie Wahl</label>
        <locationX>381</locationX>
        <locationY>495</locationY>
        <connector>
            <targetReference>Update_Pierre_Naude</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Katie Wahl</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>LanguageLocaleKey</field>
            <value>
                <stringValue>en_CA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <stringValue>en_CA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <stringValue>613-555-0168</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <stringValue>613-555-0168</stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pierre_Naude</name>
        <label>Update Pierre Naude</label>
        <locationX>378</locationX>
        <locationY>354</locationY>
        <connector>
            <targetReference>Update_Pilar_Daniels</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pierre Naude</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>LanguageLocaleKey</field>
            <value>
                <stringValue>en_CA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <stringValue>en_CA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <stringValue>703-545-0168</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <stringValue>703-545-0168</stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pilar_Daniels</name>
        <label>Update Pilar Daniels</label>
        <locationX>376</locationX>
        <locationY>235</locationY>
        <connector>
            <targetReference>Delete_Route_Patriot_Act</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pilar Daniels</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>LanguageLocaleKey</field>
            <value>
                <stringValue>en_CA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <stringValue>en_CA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <stringValue>226-555-0180</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <stringValue>226-555-0180</stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <description>Portal record update AND Update Section Configuration for Default Collateral Pledged. Combined into ONE OR statement will update both records.</description>
        <name>Update_Section_Configuration_for_Default_Collateral_Pledged_via_PORTAL</name>
        <label>Update Section Configuration for Default Collateral Pledged via PORTAL and default collateral pledged internal</label>
        <locationX>770</locationX>
        <locationY>652</locationY>
        <connector>
            <targetReference>Lookup_Business_Record_Type_ID</targetReference>
        </connector>
        <filters>
            <field>nFORCE__Field_Set_Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Collateral_Real_Estate_Portal_Edit</stringValue>
            </value>
        </filters>
        <filters>
            <field>nFORCE__Field_Set_Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LLC_BI__Collateral_Valuation</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>nFORCE__Field_Set_Key__c</field>
            <value>
                <stringValue>Z_Canada_Provinces</stringValue>
            </value>
        </inputAssignments>
        <object>nFORCE__Section_Configuration__c</object>
    </recordUpdates>
    <startElementReference>Lookup_Individual_Record_Type_ID_1</startElementReference>
    <status>Draft</status>
    <variables>
        <name>LoopedAddDebt</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>nFORCE__Screen_Section__c</objectType>
    </variables>
    <variables>
        <name>LoopedAllUsers</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>LoopedBusinessDemoRelationships</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>LoopedCollateralDemoRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Collateral__c</objectType>
    </variables>
    <variables>
        <name>LoopedCollateralTypesRealEstate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Collateral_Type__c</objectType>
    </variables>
    <variables>
        <name>LoopedDebtSchedule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>nFORCE__Screen_Section__c</objectType>
    </variables>
    <variables>
        <name>LoopedDemoContacts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>LoopedIndividualDemoRelationships</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>LoopedNeedHelpRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>nFORCE__Route_Tile__c</objectType>
    </variables>
    <variables>
        <name>LoopedTenantInformation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Tenant_Information__c</objectType>
    </variables>
    <variables>
        <name>LoopedUnderwritingRoute</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>nFORCE__Route__c</objectType>
    </variables>
    <variables>
        <name>SCVadddebt</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>nFORCE__Screen_Section__c</objectType>
    </variables>
    <variables>
        <name>SCVallusers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>SCVbusinessdemorelationships</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>SCVcollateraldemorecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Collateral__c</objectType>
    </variables>
    <variables>
        <name>SCVcollateraltypesequaltorealestate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Collateral_Type__c</objectType>
    </variables>
    <variables>
        <name>SCVcomplianceroutegroupstodelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>nFORCE__Route_Group__c</objectType>
    </variables>
    <variables>
        <name>SCVdebtschedule</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>nFORCE__Screen_Section__c</objectType>
    </variables>
    <variables>
        <name>SCVdeleteIDDocuments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Id_Document_Type__c</objectType>
    </variables>
    <variables>
        <name>SCVdemocontacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Drivers license ID record</description>
        <name>SCViddoctypeid</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Id_Document_Type__c</objectType>
    </variables>
    <variables>
        <name>SCVindividualdemorelationships</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>SCVneedhelp</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>nFORCE__Route_Tile__c</objectType>
    </variables>
    <variables>
        <name>SCVtenantinformation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Tenant_Information__c</objectType>
    </variables>
    <variables>
        <name>SCVunderwritingroute</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>nFORCE__Route__c</objectType>
    </variables>
    <variables>
        <name>SCVupdateadddebt</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>nFORCE__Screen_Section__c</objectType>
    </variables>
    <variables>
        <name>SCVupdateallusers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>SCVupdatebusinessrelationships</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>SCVupdatecollateralrecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Collateral__c</objectType>
    </variables>
    <variables>
        <name>SCVupdatecollateraltyperecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Collateral_Type__c</objectType>
    </variables>
    <variables>
        <name>SCVupdatecontacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SCVupdatedebtschedule</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>nFORCE__Screen_Section__c</objectType>
    </variables>
    <variables>
        <name>SCVupdatedtenantinformation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Tenant_Information__c</objectType>
    </variables>
    <variables>
        <name>SCVupdateindividualdemorelationships</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>SCVupdateneedhelproutetiles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>nFORCE__Route_Tile__c</objectType>
    </variables>
    <variables>
        <name>SCVupdateunderwriting</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>nFORCE__Route__c</objectType>
    </variables>
    <variables>
        <name>varBusinessRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varComplianceRouteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDriversLicenseid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIndividualRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIndividualWithConnectionsRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNeedhelpaustralia</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Wait_to_update_all_other_addresses</name>
        <label>Wait to update all other addresses</label>
        <locationX>2487</locationX>
        <locationY>245</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Pause_It</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Update_All_Individual_Records</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>Delayedtimeformula</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Pause It</label>
        </waitEvents>
    </waits>
</Flow>
